﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="CustomerMailReport.aspx.cs" Inherits="_30shine.GUI.BackEnd.Report.CustomerMailReport" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        
    </div>
    </form>
</body>
</html>
