﻿.be-report .btn-viewdata {
    height: 32px;
    line-height: 32px;
}

.customer-listing .tag-wp {
    width: 100%;
}

/*.be-report .filter-item {
    width: 100%;
    float: left;
}*/

/*@media only screen and (min-width: 769px) {*/

table.table-report {
    position: relative;
    overflow: hidden;
    display: block;
}

thead.th-report {
    position: relative;
    display: block;
    overflow: visible;
}

    thead.th-report th {
        height: 40px;
        border: 1px solid black;
        border-collapse: collapse;
        padding: 5px;
        min-width: 85px;
        text-align: center;
    }

        thead.th-report th:nth-child(1) {
            position: relative;
            display: table-cell;
            /*height: 40px;*/
            padding-top: 20px;
            border-right: 1px solid #000;
            background-color: #ffe400;
        }

#table-bckqkd thead.th-report th, #table-bckqkd tbody.tbody-report td {
    min-width: 100px;
}

tbody.tbody-report {
    position: relative;
    display: block;
    overflow: scroll;
}

.ctn-table {
    padding: 0px;
}

tbody.tbody-report, thead.th-report, table.table-report {
    width: 100%;
}

    tbody.tbody-report td {
        /*border: 1px solid black;*/
        border-collapse: collapse;
        padding: 5px;
        min-width: 85px;
        text-align: center;
    }

    tbody.tbody-report tr td:nth-child(1) {
        position: relative;
        display: table-cell;
        background-color: #ffe400;
    }
/*}*/
#table-bckqkd thead.th-report tr:not(:nth-child(1)) th:nth-child(1) {
    background: inherit;
    position: inherit;
}

@media only screen and (max-width: 768px) {
    .st-head btn-viewdata {
        margin-left: 0px;
    }

    .c-menu--slide-left, .c-menu--slide-right, .c-menu--push-left, .c-menu--push-right {
        width: 100% !important;
    }

    .wp {
        min-width: inherit;
        overflow: hidden;
    }

    strong.st-head {
        width: 100%;
        float: left;
    }

    .customer-listing .content-wp {
        padding: 0px 10px;
    }

    .be-report input[type='text'], .be-report select {
        width: 150px;
    }

    .customer-listing .tag-wp {
        padding-left: 0px;
    }
}

@media only screen and (max-width: 600px) {
    .be-report .filter-item {
        margin-left: 0px;
    }
}
