﻿/*
* TIME LINE
*/
body,
.site-wrapper,
.global-menu > .container,
.header, .header .top,
ul.header-left-menu { background: #f5f5f5; }

.event-bill-add { width: 600px; float: left; padding-bottom: 35px; padding-top: 35px; display: none; }
.event-bill-add .container { min-width: 600px; padding-left: 10px; padding-right: 10px; }
.event-bill-add .bill-add-head { padding: 10px; font-weight: normal; text-transform: uppercase; font-family: Roboto Condensed Bold; float: left; width: 100%; margin-bottom: 10px; border-bottom: 1px solid #e7e7e7; }
.event-bill-add label { font-weight: normal; }
.event-bill-add .form-group { float: left; width: 100%; margin-bottom: 10px; }
.event-bill-add .form-group .btn-team { margin-bottom: 5px; margin-right: 2px; width: 70px; height: 30px; position: relative; }
.event-bill-add .form-group .btn-team i { position: absolute; top: 2px; right: 2px; display: none; }
.event-bill-add .form-group .btn-team.active i { display: block; }

.event-bill-add .btn-print-bill { background: url(/assets/images/timeline/print-bill-orange.png) center no-repeat; background-size: auto 100%; height: 60px; text-align: center; line-height: 60px; color: #ffffff; text-transform: uppercase; font-size: 18px; cursor: pointer; }

.event-bill-add .customer-name,
.event-bill-add .customer-phone { text-transform: uppercase; font-family: Roboto Condensed Bold; }

.popup-head { margin-bottom: 20px; }
.popup-hour-frame { text-align: center; font-family: SFT Light; font-size: 40px; }
.popup-stylist { text-align: center; font-family: SFT Regular; font-size: 18px; text-transform: uppercase; }
.popup-stylist span { font-family: SFT Regular; font-size: 18px; text-transform: uppercase; }

/*.suggestion-wrap { width: 420px; float:left; }*/
.ms-sel-ctn input[type='text'] { height: auto !important; line-height: 24px !important; border: none !important; }
.ms-ctn .ms-sel-item { line-height: 22px; color: #000000; font-size: 13px; }
.ms-helper { display: none !important; }
.ms-ctn .dropdown-menu { height: 220px; }

.timeline-wp { width: 100%; float: left; padding: 0 10px; background: #f5f5f5; overflow: hidden; }
.timeline-wp .timeline-head { position: relative; float: left; width: 100%; }
.timeline-wp .title-head { font-size: 20px; font-family: SFT Light; position: relative; padding: 20px 0; float: left; }
.timeline-wp .search-frame { position: absolute; top: 0; right: 0; }
.timeline-wp .search-frame .input-frame input{ padding: 10px 20px; border-radius: 30px; border: 1px solid #e7e7e7; font-size: 18px; min-width: 280px; }

.timeline-board .vertical-bar { position: absolute; width: 2px; height: 10000px; background: rgba(234,117,143,0.6); z-index: 3000; top: -6px; left: 479px; }
.timeline-board .vertical-bar-relative { position: relative; }
.timeline-board .vertical-bar-relative .circle { position: absolute; top: 0; left: 0; width: 13px; height: 13px; background: url(/assets/images/timeline/circle.png); top: -9px; left: -5px; }

.timeline-board { display: flex; position: relative; float: left; width: 100%; }
.board-data { float: left; }
.board-data .board-row { float: left; display: inline-flex; }
.board-data .highlight { background: #ffffff; }
.board-data .board-row.board-hour { background: #ffffff; min-width: 100%; text-align: center; }
.board-data .board-row.board-hour .board-cell { font-size: 18px; padding-top: 0; padding-bottom: 0; line-height: 40px; }

.board-cell,
.board-cell-item { float: left; width: 140px; height: 40px; border-right: 2px solid #e3e3e3!important; text-align: center; position: relative; font-family: SFT Regular; cursor: pointer; margin-top: 1px; }
.board-cell-item.col-6 { width: 50%!important; }
.board-cell-item.col-6 .cell-item-action-book { display: none; }
.board-cell-item .board-cell-content { padding: 5px 10px; width: 100%; height: 100%; float: left; border: 2px dashed #f5f5f5; }
.board-row.highlight .board-cell-item .board-cell-content { border: 2px dashed #ffffff!important;}

.board-data .board-cell:hover .board-cell-content { border: 2px dashed #ff0000!important; }

.board-data .board-cell p { text-align: center; font-family: SFT Regular; line-height: 15px; font-size: 13px; }
.board-data .board-cell p.customer-name { text-transform: uppercase; font-family: SFT Bold; }
/*.board-data .board-cell i { position: absolute; top: 5px; right: 5px; color: #bababa; font-size: 16px; cursor: pointer; z-index: 1000; }
.board-data .board-cell i.is-call,
.board-data .board-cell i:hover { color: #4abfaf; }*/
.board-data .board-cell-item.not-enroll { background: url(/assets/images/timeline/stripe-gray.png) repeat; opacity: 0.3; }
.board-data .board-cell-item.not-enroll .board-cell-content { border:none!important; }
.board-data .board-cell-item.is-book { background: url(/assets/images/timeline/is-book.png) center no-repeat; background-size: 100% auto;}
.board-data .board-cell-item.is-makebill { background: url(/assets/images/timeline/is-serviced.png) center no-repeat; background-size: 100% auto; }

.board-data .board-cell-item.is-book.is-book-at-salon { background: #ea5d5d; }

.board-data .board-cell-item.col-6.is-book { background: url(/assets/images/timeline/is-book.png) center no-repeat; background-size: auto 100%; }
.board-data .board-cell-item.col-6.is-makebill { background: url(/assets/images/timeline/is-serviced.png) center no-repeat; background-size: auto 100%; }

.board-data .board-cell-item.is-book .board-cell-content,
.board-data .board-cell-item.is-makebill .board-cell-content { border:none!important; overflow: hidden; }
.board-data .board-cell-item.is-book p,
.board-data .board-cell-item.is-makebill p { color: #ffffff; }
.board-data .board-cell-item.is-serviced { }

.board-data .board-cell-item .call-phone { width: 14px; height: 15px; background: #ffffff; position: absolute; bottom: 2px; right: 2px; }
.board-data .board-cell-item .call-phone i { color: #000000; font-size: 13px; cursor: pointer; z-index: 1000; position: relative; top: -2px; display:none; }
.board-data .board-cell-item .call-phone i.is-call { display: inline-block; }

.board-data .board-cell-item .cancel-book{ width: 14px; height: 15px; background: #ffffff; position: absolute; top: 2px; right: 2px; display:none; }
.board-data .board-cell-item .cancel-book i { color: red; font-size: 13px; cursor: pointer; z-index: 1000; position: relative; top: -3px; display: inline-block; }
.board-data .board-cell-item:hover .cancel-book { display: block; }

.board-data .board-cell.board-book .board-cell { padding: 0; }
.board-data .board-cell.board-book .board-cell-content { width: 100%; height: 100%; float: left; padding: 5px 10px; }

.board-data.board-stylist { width: 160px; position: relative; z-index: 2000; display: inline-table; }
.board-data.board-stylist .board-row { width: 100%; float: left; }
.board-data.board-stylist .board-cell { width: 100%; text-align: left; line-height: 40px; padding-top: 0; padding-bottom: 0; }
.board-data.board-stylist .board-cell .board-cell-content { line-height: 40px; padding: 0px 5px; }
.board-data.board-stylist .board-icon { background: #ffffff url(/assets/images/timeline/img1.png) center no-repeat; background-size: 100% auto; -webkit-box-shadow: 0 3px 7px -2px #d8d8d8; -moz-box-shadow: 0 3px 7px -2px #d8d8d8; box-shadow: 0 3px 7px -2px #d8d8d8; }

.board-hour { -webkit-box-shadow: -4px 3px 7px -2px #d8d8d8; -moz-box-shadow: -4px 3px 7px -2px #d8d8d8; box-shadow: -4px 3px 7px -2px #d8d8d8; }

.board-data.board-book { width: 100%; overflow-x: scroll; overflow-y: hidden; }

.board-cell-action { width: 100%; height: 100%; float: left; position: absolute; top: 0; left: 0; padding: 2px; display:none; }
.board-cell-item .cell-item-action{ height: 100%; padding-left: 0; padding-right: 0; padding-top: 10px; text-align: center; }
.board-cell-item .cell-item-action-printbill { background: #50b347; }
.board-cell-item .cell-item-action-book { background: yellow; }
.board-cell-item.is-enroll:hover .board-cell-action { display: block; }
.board-cell-item.col-6:hover .board-cell-action{ width: 200%!important; top: 38px!important; z-index: 1000; }
.board-cell-item.is-book:hover .board-cell-action,
.board-cell-item.is-makebill:hover .board-cell-action{ top: 38px!important; z-index: 1000; }
.board-cell-item.is-makebill:hover .board-cell-action .cell-item-action-printbill { display:none; }

.board-cell-item .stylist-not-auto { width: 16px; height: 16px; /* background: url(/Assets/images/star_20.png) center no-repeat; background-size: 100% auto; */ float: left; position: absolute; left: 0px; top: 0px; display: none; }
.board-cell-item .stylist-not-auto.active { display: block; }

.star-not-auto-stylist { margin-right: 3px; color: #faaa8d; display:none; }
.star-not-auto-stylist.active { display:inline-block; }


.board-data .board-cell.is-book .board-cell-action,
.board-data .board-cell.is-makebill .board-cell-action { top: 39px!important; z-index: 2000; }
 
.note-head { float: left; padding-top: 17px; padding-left: 20px; }
.note-head .note-head-item { float: left; padding-left: 20px; margin-top: 7px; }
.note-head .note-head-item .item-color { width: 30px; height: 15px; margin-right: 7px; position: relative; top: 2px; }
.note-head .note-head-item .item-color-book { background: url(/Assets/images/timeline/is-book.png) center no-repeat; }
.note-head .note-head-item .item-color-bill { background: url(/Assets/images/timeline/is-serviced.png) center no-repeat; }
.note-head .note-head-item .item-text { /*line-height: 30px;*/ }

.popup-cancel-book {width: 400px; float: left; display:none; }
.popup-cancel-book-content{ width: 100%; padding: 15px; float: left; }
.popup-cancel-book p.popup-title{ line-height: 18px; }
.popup-cancel-book textarea { width: 100%; padding: 5px; margin-top: 10px; border: 1px solid #ddd; }
.popup-cancel-book .button-action-wp { width: 100%; float: left; text-align:center; display: inline-flex; margin-top: 10px; }
.popup-cancel-book .button-action { float: none; margin: 0 auto; }
.popup-cancel-book .popup-btn { float: left; padding: 7px 10px; color: #ffffff; width: 80px; cursor: pointer; }
.popup-cancel-book .popup-btn.btn-ok { background: #50b347; }
.popup-cancel-book .popup-btn.btn-close { background: red; margin-left: 10px; }

.board-data .bill-created-time{ position: absolute; bottom: 0; left: 0; }
.board-data .board-cell p.customer-phone{ text-align: center; }
.board-cell-item .stylist-not-auto{ color: #ffffff; font-family: Roboto Condensed Bold; }

.board-data:last-child{  }
.board-book-wrap .board-row:last-child:hover .board-cell-action { top: -38px!important; z-index: 1000; }