﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Update_Bill_Familiar.aspx.cs" Inherits="_30shine.GUI.BackEnd.UpdateDB.Update_Bill_Familiar" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <h1>Cập nhật field Khách quen theo bill (thêm isCusFamiliar trong BillService)</h1>
    </div>
    </form>
</body>
</html>
