﻿/*******************************************************
// Plugin - Upload - Images
*******************************************************/

.plugin-image { width: 960px; height: 560px; overflow: hidden; padding: 10px 0 10px 10px; display:none;}
.plugin-image .filter-item input[type='text'] { width: 116px;}
.xdsoft_datetimepicker.xdsoft_.xdsoft_noselect { z-index: 100000;}
.plugin-image .plugin-image-content { width: 100%; padding: 0 0 0 3px;height: 480px; overflow: hidden;}

.plugin-image .plugin-image-content .left-bar { width: 204px; height: 480px; float: left; border: 1px solid #D0D6D8; padding: 10px;}
.plugin-image .plugin-image-content .left-bar ul.ul-pi-fd { padding-left: 15px; display:none;}
.plugin-image .plugin-image-content .left-bar ul.ul-pi-fd::before { width: 1px; background: black; position: absolute; left:0;}
.plugin-image .plugin-image-content .left-bar ul.ul-pi-fd::after { width: 1px; background: black; position: absolute; left:0;}
.plugin-image .plugin-image-content .left-bar ul.ul-pi-fd.fd-root { padding-left: 0; display:block;}
.plugin-image .plugin-image-content .left-bar ul.ul-pi-fd.fd-root > li { padding: 3px 0; display:block;}
.plugin-image .plugin-image-content .left-bar ul.ul-pi-fd.fd-root li { padding: 2px 0;}
.plugin-image .plugin-image-content .left-bar ul.ul-pi-fd li { display:none;}
.plugin-image .plugin-image-content .left-bar ul.ul-pi-fd li .fd-name { cursor: pointer; font-size: 13px;}
.plugin-image .plugin-image-content .left-bar ul.ul-pi-fd li .fd-name i{ margin-right: 5px; width: 15px;}
.plugin-image .plugin-image-content .left-bar ul.ul-pi-fd li .fd-name.fd-active { color: #50b347;}
.plugin-image .plugin-image-content .left-bar ul.ul-pi-fd li .fd-name.fd-active i { color: #50b347;}

.plugin-image .plugin-image-content .left-bar .fd-wrap { width: 100%; height: 430px; float: left; overflow: hidden;}
.plugin-image .plugin-image-content .left-bar .mCS-light-2.mCSB_scrollTools .mCSB_dragger .mCSB_dragge { width: 4px!important;}
.plugin-image .plugin-image-content .left-bar .mCS-light-2.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, 
.plugin-image .plugin-image-content .left-bar .mCS-dark-2.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{ width: 4px!important;}
.plugin-image .plugin-image-content .left-bar .mCS-light-2.mCSB_scrollTools .mCSB_draggerRail, 
.plugin-image .plugin-image-content .left-bar .mCS-dark-2.mCSB_scrollTools .mCSB_draggerRail { width: 4px!important;}

.plugin-image .plugin-image-content .left-bar .left-bar-head{ background: #dfdfdf; padding: 3px 5px; font-size: 13px; margin-bottom: 5px;
    -webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
}
.plugin-image .plugin-image-content .left-bar .left-bar-head i { margin-right: 7px;}

.plugin-image .listing-img-upload { width: 741px; height: 480px; float: left; padding: 0 0 0 12px;}
.plugin-image .listing-img-upload .wrap { float: left;}

.plugin-image .listing-img-upload .thumbnail-wrap{width: 84px; float: left; margin: 10px 6px 0 0; position: relative; cursor: pointer;}
.plugin-image .listing-img-upload .thumbnail-wrap .img-name { font-size: 12px; text-align: center; width: 100%; float: left; word-wrap: break-word; padding: 3px 5px;}
.plugin-image .listing-img-upload .thumbnail-wrap:hover .thumb-cover{ display:block;}

.plugin-image .listing-img-upload .thumb-wp { position: relative; width: 84px; height: 84px; margin: 0;}
.plugin-image .listing-img-upload .thumb-wp img { position: absolute; left: 0; bottom: 0;}
.plugin-image .listing-img-upload .thumb-cover { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: green; opacity: 0.3; display:none; z-index: 1000;}
.plugin-image .listing-img-upload .thumb-wp.active { border: 1px solid #50b347;}
.plugin-image .listing-img-upload .thumb-wp.active .thumb-cover { display:block;}

.plugin-image .mCSB_inside > .mCSB_container { margin-right: 0;}
.plugin-image .mCSB_scrollTools .mCSB_draggerContainer { left: 6px;}
.listing-img-upload .thumb-wp img { position: relative;}

.plugin-image .plugin-image-push{
    background: rgba(241,111,92,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(241,111,92,1) 0%, rgba(80,179,71,1) 0%, rgba(61,224,29,1) 0%, rgba(80,179,71,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(241,111,92,1)), color-stop(0%, rgba(80,179,71,1)), color-stop(0%, rgba(61,224,29,1)), color-stop(100%, rgba(80,179,71,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(241,111,92,1) 0%, rgba(80,179,71,1) 0%, rgba(61,224,29,1) 0%, rgba(80,179,71,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(241,111,92,1) 0%, rgba(80,179,71,1) 0%, rgba(61,224,29,1) 0%, rgba(80,179,71,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(241,111,92,1) 0%, rgba(80,179,71,1) 0%, rgba(61,224,29,1) 0%, rgba(80,179,71,1) 100%);
    background: radial-gradient(ellipse at center, rgba(241,111,92,1) 0%, rgba(80,179,71,1) 0%, rgba(61,224,29,1) 0%, rgba(80,179,71,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f16f5c', endColorstr='#50b347', GradientType=1 );
}
.plugin-image .plugin-image-push:hover { color: #efefef;
    background: rgba(241,111,92,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(241,111,92,1) 0%, rgba(80,179,71,1) 0%, rgba(61,224,29,1) 0%, rgba(80,179,71,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(241,111,92,1)), color-stop(0%, rgba(80,179,71,1)), color-stop(0%, rgba(61,224,29,1)), color-stop(100%, rgba(80,179,71,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(241,111,92,1) 0%, rgba(80,179,71,1) 0%, rgba(61,224,29,1) 0%, rgba(80,179,71,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(241,111,92,1) 0%, rgba(80,179,71,1) 0%, rgba(61,224,29,1) 0%, rgba(80,179,71,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(241,111,92,1) 0%, rgba(80,179,71,1) 0%, rgba(61,224,29,1) 0%, rgba(80,179,71,1) 100%);
    background: radial-gradient(ellipse at center, rgba(241,111,92,1) 0%, rgba(80,179,71,1) 0%, rgba(61,224,29,1) 0%, rgba(80,179,71,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f16f5c', endColorstr='#50b347', GradientType=1 );   
}

.plugin-image .plugin-image-head { padding-right: 10px;}
.plugin-image .plugin-image-head .filter-item-first { margin-left: 3px;}

.plugin-image .be-report .btn-viewdata { font-size: 13px;}
.plugin-image .be-report .st-head { font-family: Roboto Condensed Regular; font-size: 13px;}

/* all */
::-webkit-input-placeholder { font-size: 13px; }
::-moz-placeholder { font-size: 13px; } /* firefox 19+ */
:-ms-input-placeholder { font-size: 13px; } /* ie */
input:-moz-placeholder { font-size: 13px; }