﻿/*******************************************************
// Plugin - Upload - Images
*******************************************************/

.plugin-image { width: 960px; height: 560px; overflow: hidden; padding: 10px; display:none;}
.plugin-image .filter-item input[type='text'] { width: 120px;}
.xdsoft_datetimepicker.xdsoft_.xdsoft_noselect { z-index: 100000;}
.plugin-image .plugin-image-content { padding: 0 10px; height: 480px; overflow: hidden;}
.plugin-image .listing-img-upload {}
    
.plugin-image .listing-img-upload .thumb-wp { position: relative;}
.plugin-image .listing-img-upload .thumb-wp .thumb-cover { position: absolute; top: 0; left: 0; width: 100%; height: 100%; background: green; opacity: 0.3; display:none; z-index: 1000;}
.plugin-image .listing-img-upload .thumb-wp.active { border: 1px solid #50b347;}
.plugin-image .listing-img-upload .thumb-wp.active .thumb-cover { display:block;}

.plugin-image .mCSB_inside > .mCSB_container { margin-right: 0;}
.plugin-image .mCSB_scrollTools .mCSB_draggerContainer { left: 6px;}
.listing-img-upload .thumb-wp img { position: relative;}

.plugin-image .plugin-image-push{
    background: rgba(241,111,92,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(241,111,92,1) 0%, rgba(80,179,71,1) 0%, rgba(61,224,29,1) 0%, rgba(80,179,71,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(241,111,92,1)), color-stop(0%, rgba(80,179,71,1)), color-stop(0%, rgba(61,224,29,1)), color-stop(100%, rgba(80,179,71,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(241,111,92,1) 0%, rgba(80,179,71,1) 0%, rgba(61,224,29,1) 0%, rgba(80,179,71,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(241,111,92,1) 0%, rgba(80,179,71,1) 0%, rgba(61,224,29,1) 0%, rgba(80,179,71,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(241,111,92,1) 0%, rgba(80,179,71,1) 0%, rgba(61,224,29,1) 0%, rgba(80,179,71,1) 100%);
    background: radial-gradient(ellipse at center, rgba(241,111,92,1) 0%, rgba(80,179,71,1) 0%, rgba(61,224,29,1) 0%, rgba(80,179,71,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f16f5c', endColorstr='#50b347', GradientType=1 );
}
.plugin-image .plugin-image-push:hover { color: #efefef;
    background: rgba(241,111,92,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(241,111,92,1) 0%, rgba(80,179,71,1) 0%, rgba(61,224,29,1) 0%, rgba(80,179,71,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(241,111,92,1)), color-stop(0%, rgba(80,179,71,1)), color-stop(0%, rgba(61,224,29,1)), color-stop(100%, rgba(80,179,71,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(241,111,92,1) 0%, rgba(80,179,71,1) 0%, rgba(61,224,29,1) 0%, rgba(80,179,71,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(241,111,92,1) 0%, rgba(80,179,71,1) 0%, rgba(61,224,29,1) 0%, rgba(80,179,71,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(241,111,92,1) 0%, rgba(80,179,71,1) 0%, rgba(61,224,29,1) 0%, rgba(80,179,71,1) 100%);
    background: radial-gradient(ellipse at center, rgba(241,111,92,1) 0%, rgba(80,179,71,1) 0%, rgba(61,224,29,1) 0%, rgba(80,179,71,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f16f5c', endColorstr='#50b347', GradientType=1 );   
}