﻿/*all*/
h1, .h1 {
    font-size: 36px;
}

h2, .h2 {
    font-size: 30px;
}

h3, .h3 {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
}

td, th {
    text-align: center !important;
}
th {
    font-size: 16px;
    vertical-align:middle !important;
}

table {
    table-layout: fixed;
}

hr {
    border-top: 1px solid #ccc !important;
}

#success-alert {
    top: 100px;
    right: 10px;
    position: fixed;
    padding-top: 8px;
    padding-left: 8px;
    width: 20% !important;
    z-index: 2000;
    word-wrap: break-word;
    font-size: 16px;
    color: white;
}

.alert-success {
    background-color: #45a247 !important;
}

.alert-warning {
    background-color: #f0ad4e !important;
}

.alert-danger {
    background-color: #d9534f !important;
}
/*end all*/
/*header*/
/*.box-header {
    padding-top: 45px !important;
}*/
.worktime-listing-header {
    min-height: 130px;
    height: 130px;
    clear: both;
}

.span-title {
    text-transform: uppercase;
    font-size: 17px;
    color: #000000;
    background: #cccccc;
    float: left;
    padding: 3px;
    width: 100%;
    padding-left: 20px;
    font-weight: 500;
}

.btn-viewdata {
    width: 115px;
}

.timekeeping-box {
    height: 180px !important;
    min-height: 180px !important;
}

.date-timekeeping {
    margin-top: 10px;
}

.sub-menu .content-wp {
}
/*end header*/
/*body*/
.worktime-listing-body {
    min-height: 450px;
    height: auto;
}

.box-body {
    padding-top: 20px !important;
}

.fa-check-circle-o {
    color: white !important;
    font-size: 17px !important;
    display: none;
    float: left;
    margin-right: 3px;
    margin-top: 2px;
}

.list-do-work {
    height: 35px;
    padding-left: 0 !important;
}

.do-work {
    background-color: #cccccc;
    height: 35px;
    margin-right: 10px;
    padding: 6px;
    border-radius: 5px;
    max-width: 170px;
}

    .do-work:active {
        background-color: #4d4d4d;
    }

.span-do-work {
    font-size: 17px;
    float: left;
    width: 100%;
}

.b-do-work {
    float: left;
    padding-top: 2px;
}

.time-do-work {
    float: right;
    padding: 3px;
}

.box-do-work {
    height: 120px;
}

.box-date {
    margin-top: 10px;
}

.be-report .st-title {
    width: 135px !important;
}

.be-report input[type='text'] {
    margin-left: 0 !important;
}

.add-staff {
    width: 190px !important;
    margin-top: 10px;
}

.box-button-add-staff {
    height: 90px !important;
}

.max-div {
    max-height: 230px;
    overflow-y: scroll;
    width: 100%;
    float: left;
    padding: 0;
    margin-left: 15px;
}

.box-table-add-staff {
}

.table-bordered {
    margin-top: 20px !important;
}

.span-cancel {
    background-color: #808080;
    color: white;
    width: 100px !important;
    font-size: 16px !important;
}

    .span-cancel:hover {
        color: red;
    }

.span-timekeeping {
    margin-left: 10px;
    color: white;
    width: 100px !important;
    font-size: 16px !important;
}

    .span-timekeeping:hover {
        color: yellow;
    }

.table-bordered th, .table-bordered td {
}

.table-bordered td {
    vertical-align: baseline !important;
}

.table-button-add-staff {
    margin-bottom: 0 !important;
}

    .table-button-add-staff th:nth-child(2) {
        float: right;
    }

    .table-button-add-staff > thead > tr > th {
        border-bottom: 0 !important;
    }

.box-table-add-staff .box-button-add-staff {
    height: 80px !important;
}

.div-do-work {
    margin-left: 15px;
    margin-top: 5px;
    height: 31px;
    padding: 3px 10px 5px 15px !important;
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    position: absolute;
}

.table-header {
    margin-bottom: 0 !important;
}

.table-body {
    margin-top: 0 !important;
}

#PanelEnrollCrossSalon {
    margin-top: 10px;
}

#body-content tr td {
    padding: 0px !important;
}

.box-action-btn {
    padding: 3px 4px;
    margin-top: 4px;
    margin-right: 4px;
}

.btn-danger, .btn-info {
    background-color: #b3b3b3;
    border-color: #b3b3b3;
}


/*end body*/
/*select 2*/
.select2-container {
    width: 190px !important;
    margin-top: 5px !important;
}

.select2-container--default .select2-selection--single {
    height: 32px !important;
    padding-top: 1px !important;
}
/*end select 2*/

/*checkbox*/

.checkbox {
    padding-left: 0px !important;
}

    .checkbox label:after,
    .radio label:after {
        content: '';
        display: table;
        clear: both;
    }

    .checkbox .cr,
    .radio .cr {
        position: relative;
        display: inline-block;
        border-radius: .25em;
        width: 1.3em;
        height: 1.3em;
        border: 1px solid #a6a6a6;
    }


.radio .cr {
    border-radius: 50%;
}

    .checkbox .cr .cr-icon,
    .radio .cr .cr-icon {
        position: absolute;
        font-size: .8em;
        line-height: 0;
        top: 50%;
        left: 20%;
    }

    .radio .cr .cr-icon {
        margin-left: 0.04em;
    }

.checkbox label input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

    .checkbox label input[type="checkbox"] + .cr > .cr-icon,
    .radio label input[type="radio"] + .cr > .cr-icon {
        transform: scale(3) rotateZ(-20deg);
        opacity: 0;
        transition: all .3s ease-in;
    }

    .checkbox label input[type="checkbox"]:checked + .cr > .cr-icon,
    .radio label input[type="radio"]:checked + .cr > .cr-icon {
        transform: scale(1) rotateZ(0deg);
        opacity: 1 !important;
    }

    .checkbox label input[type="checkbox"]:disabled + .cr,
    .radio label input[type="radio"]:disabled + .cr {
        opacity: .5;
    }

    .cr-hover:hover{
        cursor:no-drop;
    }
/*end checkbox*/

/*mobile*/
@media only screen and (max-width: 1600px) {
    .box-header {
        padding-top: 0;
    }

    .span-do-work {
        font-size: 17px;
        float: left;
        width: 100%;
    }

    .b-do-work {
        float: left;
    }

    .time-do-work {
        float: right;
        padding: 3px;
    }
}

@media only screen and (max-width: 1200px) {
    .span-do-work {
        font-size: 15px;
        float: left;
        width: 100%;
    }

    .b-do-work {
        padding-top: 0;
        float: left;
    }

    .time-do-work {
        float: right;
        padding: 1px;
    }

    .box-header {
        padding-top: 45px !important;
    }
}

@media only screen and (max-width: 800px) {
    .span-do-work {
        font-size: 13px;
        float: left;
        width: 100%;
    }

    .b-do-work {
        padding-top: 1px;
        float: left;
    }

    .time-do-work {
        float: right;
        padding: 1px;
    }

    .box-header {
        padding-top: 45px !important;
    }
}
/*end mobile*/

/*active*/
.b-do-work.active {
    color: white;
}

.time-do-work.active {
    color: white;
}

.do-work.active {
    background-color: #4d4d4d;
}
/*end active*/


/*modal*/
.modal-content {
    border: none !important;
    margin-top: 150px !important;
}

.wp_lstbookhour {
    width: 365px;
    height: auto;
    padding: 10px;
    position: absolute;
    z-index: 10000;
    background: #ffffff;
    float: left;
    -webkit-box-shadow: 2px 2px 40px 1px rgba(102, 102, 102, 1);
    -moz-box-shadow: 2px 2px 40px 1px rgba(102, 102, 102, 1);
    box-shadow: 2px 2px 40px 1px rgba(102, 102, 102, 1);
    display: block;
    width: 75%;
    top: 0;
    right: 100px;
}

.wp_btn_hourId .btn-cancel {
    float: left;
    width: 49%;
    padding: 2px;
    text-align: center;
    font-size: 15px;
    background: #000;
    color: white;
}

    .wp_btn_hourId .btn-cancel:hover {
        color: yellow;
        background: #000;
        cursor: pointer;
    }

.wp_btn_hourId .btn-complete {
    float: right;
    width: 49%;
    margin-right: 4px;
    padding: 2px;
    text-align: center;
    font-size: 15px;
    background: #000;
    color: white;
}

    .wp_btn_hourId .btn-complete:hover {
        color: yellow;
        background: #000;
        cursor: pointer;
    }

.wp_lstbookhour .div_lst_bookhour {
    margin-top: 5px !important;
}

    .wp_lstbookhour .div_lst_bookhour .it_bookhour {
        text-align: center;
        width: 19% !important;
        height: 32px;
        vertical-align: middle;
        background: #ccc !important;
        opacity:0.5 !important;
    }

#work-time-popup {
    height: 100px !important;
    clear: both;
}

.word-wrap {
    text-align: center;
    padding-right: 0 !important;
    padding-left: 0 !important;
}

.div-work-time {
    width: 19% !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
    background: #ccc;
    margin-right: 4px;
    height: 40px;
    float: left;
    margin-top: 10px;
}

    .div-work-time:hover {
        cursor: not-allowed;
    }

.span-work-time {
    font-size: 12px;
}

#span-staff-name {
    font-size: 15px !important;
    font-weight: 600 !important;
}
/*active*/
.span-work-time.active {
    color: white;
}

.div-work-time.active {
    background: #000;
}

.wp_lstbookhour .div_lst_bookhour .it_bookhour.active {
    text-decoration: none !important;
    background: #5cb85c !important;
    color: #FFF !important;
    opacity:1 !important;
}

.wp_lstbookhour .div_lst_bookhour .it_bookhour.over-active {
    text-decoration: none !important;
    background: #fbb104 !important;
    color: #FFF !important;
    opacity: 1 !important;
}

.div-color {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.span-color {
    padding: 5px 0px !important;
    width: 140px !important;
    float: left;
}

/*end active*/

/*end modal*/

.box-action-btn-hover:hover {
    cursor: no-drop !important;
}