﻿@charset "utf-8";
/* CSS Document */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,input,textarea{outline:none;border:0;font-size:14px;font-family: Roboto Condensed Regular;text-decoration:none;margin:0;padding:0; color: #222222;}
a{text-decoration: none!important;}
ul{list-style: none;}

.wp{width: 100%; float: left; min-width: 360px;}
.wp1000{width: 1000px; margin: 0 auto;}
.wp1010{width: 1010px; margin: 0 auto;}
.wp960{width: 960px; margin: 0 auto;}
.container{width: 100%}
.wrap{width: 100%;}

/********************************************************
                        Work Flow
********************************************************/
.work-flow { margin-bottom: 20px; min-height: 600px;}
.work-flow .search-form { margin-top: 5px;}
.work-flow .search-form .search-elm { margin-top: 10px;}
.work-flow .top-title h1{ padding: 8px 10px; font-size: 16px; background: #efefef; margin: 15px 0 6px 0;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}
.work-flow .top-title h1 i { font-size: 16px; color: #bababa}

.work-flow .customer-infor .elm { padding: 5px 0; border-bottom: 1px solid #efefef; margin: 0;}
.work-flow .customer-infor .elm.elm-last { border-bottom:none;}

.work-flow .upload-image-box { width: 100px; height: 40px; line-height: 40px; text-align: center; cursor: pointer; margin: 0 auto; color: #ffffff; margin-top: 25px; font-size: 13px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;

    background: rgba(241,111,92,1);
    background: -moz-radial-gradient(center, ellipse cover, rgba(241,111,92,1) 0%, rgba(80,179,71,1) 0%, rgba(61,224,29,1) 0%, rgba(80,179,71,1) 100%);
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(241,111,92,1)), color-stop(0%, rgba(80,179,71,1)), color-stop(0%, rgba(61,224,29,1)), color-stop(100%, rgba(80,179,71,1)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(241,111,92,1) 0%, rgba(80,179,71,1) 0%, rgba(61,224,29,1) 0%, rgba(80,179,71,1) 100%);
    background: -o-radial-gradient(center, ellipse cover, rgba(241,111,92,1) 0%, rgba(80,179,71,1) 0%, rgba(61,224,29,1) 0%, rgba(80,179,71,1) 100%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(241,111,92,1) 0%, rgba(80,179,71,1) 0%, rgba(61,224,29,1) 0%, rgba(80,179,71,1) 100%);
    background: radial-gradient(ellipse at center, rgba(241,111,92,1) 0%, rgba(80,179,71,1) 0%, rgba(61,224,29,1) 0%, rgba(80,179,71,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f16f5c', endColorstr='#50b347', GradientType=1 );

}
.work-flow .upload-image-box.active { height: 30px; line-height: 30px; float: left; margin-top: 5px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
}

.upload-image .input-file-upload { position: absolute; top: 0; left: 0; width: 100%; height: 100%; float: left; opacity: 0; cursor: pointer;}
.upload-image .listing-img-upload { width: 100%; float: left;}
.upload-image .listing-img-upload .thumb-wp { width: 120px; height: 120px; margin-right: 10px; margin-top: 10px; overflow: hidden; float: left; position: relative; border: 1px solid #dfdfdf; cursor: pointer;}
.upload-image .listing-img-upload .thumb-wp img { position: absolute; }
.upload-image .listing-img-upload .thumb-wp .delete-thumb { width: 16px; height: 16px; position: absolute; top: 2px; right: 2px; color: red; background: url(../images/icon.delete.small.active.png?v=2) center no-repeat; display:none;}
.upload-image .listing-img-upload .thumb-wp .delete-thumb:hover { background: url(../images/icon.delete.small.png?v=2) center no-repeat;}
.upload-image .listing-img-upload .thumb-wp:hover .delete-thumb { display:block;}

.work-flow .history { }
.work-flow .history .time {width: 100%; float: left; font-weight:normal; padding-bottom: 5px; margin-bottom: 10px; margin-top: 30px; border-bottom: 1px solid #efefef; }
.work-flow .history .time.time-first { margin-top: 5px;}
.work-flow .history .time i { margin-right: 5px;}
.work-flow .history .upload-image-box { width: 70px; height: 70px; margin-top: 5px; line-height: 150px; font-size: 13px; background: url(/Assets/images/no.image.70.png) center no-repeat;}

.work-flow .top-img { margin-top: 10px;}
.work-flow .top-img img{ max-width: 100%;}

.work-flow .dropzone.dz-work-flow { border: none; display:none; padding: 0;}
.work-flow .dropzone.dz-work-flow .dz-preview .dz-remove { position: relative; top: 5px; display:none;}
.work-flow .dropzone.dz-work-flow .dz-preview{ margin: 16px 16px 5px 16px;}

/**********************************************************
// Footer
**********************************************************/
.footer { padding: 30px 0; background: #f5f5f5; border-top: 1px solid #ddd;}

@media (max-width: 768px) {
    .work-flow .upload-image-box { max-width: 100%; margin-top: 30px; height: 40px; line-height: 40px; font-size: 12px;}
}

@media (min-width: 768px) and (max-width: 992px) {

}

@media (min-width: 992px) and (max-width: 1200px) {

}

@media (min-width: 1200px) {

}
