﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="_30shine.GUI.Default" MasterPageFile="~/TemplateMaster/SiteMaster.Master" %>

<asp:Content ID="MainContent" ContentPlaceHolderID="CtMain" runat="server">

<div class="wp main">
    <div class="wp"></div>
</div>

</asp:Content>
