﻿.copywrite { border-top: 3px solid #fcd344;}
.copywrite .row { text-align: center; padding-top: 15px;}

.hotline { background: #fff; color: #000; border-top: 1px solid #e2e2e2; height: 56px; border-bottom: 1px solid #e2e2e2;}
.hotline .col-right ul li { float: left;  height: 55px; line-height: 55px; padding-right: 5px;}
.hotline .col-right ul li:first-child { }
.hotline .col-right ul li:last-child { }
.hotline .w-time img{ float: left; margin-top: 18px!important;}
.hotline .w-time { padding: 0; margin-left: -30px;}
.hotline .w-time .hl { font-family: HelveticaVn ThCn; font-size: 16px; line-height: 17px; text-align: left; padding-top: 8px; padding-bottom: 5px; padding-left: 10px;}
.hotline .w-time .wt { font-family: HelveticaVn ThCn; font-size: 16px; line-height: 17px; text-align: left; padding-left: 10px;}
.hotline .col-right ul li a { font-family: HelveticaVn ThCn; font-size: 14px; padding: 0 0px; color: #000; line-height: 17px}
.hotline .col-right ul li a img { margin-top: 4px;}

.hotline .col-left ul { height: 55px;}

.hotline .w-time .hl span,
.hotline .w-time .wt span{ font-family: HelveticaVn BlkCn; font-size: 16px;}
.slide .col-right-sl { padding: 0 15px;}

.menu .row > div { text-align: center;}
.menu .row > div img { margin: 10px 0;}

.hotline .col-right ul{ display: table; margin: 0 auto;}

.nhanvien .top-title { font-family: HelveticaVn BlkCn; font-size: 21px; padding: 15px 0;}
.nhanvien { text-align: center; background: #fff; margin-top: 15px; padding-bottom: 25px;}
.info-nhanvien { }
.nhanvien .avatar { width: 288px; height: 384px; margin: 0 auto;}
.nhanvien .avatar { max-width: 100%;}
.nhanvien .f-name { font-family: HelveticaVn LtCn; font-size: 18px; padding-top: 10px;}
.nhanvien .position { font-family: HelveticaVn LtCn; font-size: 18px;}
.nhanvien .store { font-family: HelveticaVn LtCn; font-size: 18px;}
.nhanvien .detail a{ font-family: HelveticaVn LtCn; font-size: 18px; font-style: italic; padding-bottom: 10px; text-decoration: underline!important;}
.nhanvien .detail a:hover { color: #edbf07;}

.nhanvien .des { font-family: HelveticaVn LtCn; font-size: 18px;}

.view-button input[type='button'] { background: #241e22; font-family: HelveticaVn LtCn; font-size: 18px; text-align: center; color: #fff; padding: 10px 23px; line-height: 8px; margin: 0 5px;}
.view-button { margin-top: 30px; margin-bottom: 10px;}
.view-button input[type='button'].active { background: #edbf07; color: #000;}

.dichvu th { background: #1c1c1c; color: #fff; font-family: HelveticaVn BlkCn; font-size: 18px; text-align: center; padding: 4px 0; border-right: 2px solid #fff; font-weight: normal;}

.dichvu .total td{ background: #edbf07; color: #000; font-family: HelveticaVn BlkCn; font-size: 17px; text-align: left; padding: 4px 15px; border-right: 2px solid #fff;}
.dichvu .total td.col-value { text-align: center;}

.dichvu td{ background: #f8f8f8; color: #000; font-family: HelveticaVn LtCn; font-size: 17px; text-align: left; padding: 4px 15px; border-right: 2px solid #fff; border-top: 2px solid #fff;}
.dichvu td.col-value { text-align: center;}

.statistic-wp { margin-top: 45px;}
.statistic-wp .statistic-line { margin: 0 auto; position: relative; }
.statistic-wp .line { height: 12px; background: #ccccce; width: 100%; position: relative; margin-top: 36px; }
.statistic-wp .line .bound { height: 12px; width: 2px; float: left; display: block; background: #ffffff; position: absolute; top: 0;}
.statistic-wp .line .bound .bound-value { font-size: 15px; position: relative; top: -25px; left: -12px; display: none;}
.statistic-wp .line .lst-bound { position: relative; z-index: 2000;}
.statistic-wp .percent-wp { overflow: hidden; height: 42px; width: 100%; position: absolute; top: -30px; left: 0; }
.statistic-wp .percent { height: 12px; width: 100%; background: #ffcc00; position: relative; top: 30px; left: -100%; z-index: 1000; display: none;}
.statistic-wp .percent .total-value { float: right; position: relative; top: -24px; left: 9px; }
.statistic-wp .statistic-title{position: relative; }
.statistic-wp .statistic-title p{ position: absolute; left: -117px; top: -6px; font-size: 16px; text-align: right; width: 100px;}


.dichvu table { width: 500px; margin: 0 auto;}
.dichvu { margin-top: 30px; width: 100%; float: left;}

.more { margin-top: 15px; display: none;}

.staff-header .img-logo img { max-width: 313px;}
.staff-header .menu { position: relative; border-bottom: none;}

.staff-header .menu .col-right { padding-left: 7px; padding-right: 7px; }

/*** Datepicker ***/
.xdsoft_datetimepicker * {font-weight: normal!important;}
.xdsoft_datetimepicker .xdsoft_calendar td:hover, 
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box >div >div:hover { background: #bababa!important;}
.xdsoft_datetimepicker .xdsoft_label > .xdsoft_select > div > .xdsoft_option.xdsoft_current { background: #EDBF07!important;}
.xdsoft_datetimepicker .xdsoft_label > .xdsoft_select > div > .xdsoft_option.xdsoft_current div { color: #ffffff!important;}

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current { background: #EDBF07!important;}

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default div,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current div,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current div{ color: #ffffff!important;}

.xdsoft_datetimepicker .xdsoft_label > .xdsoft_select > div > .xdsoft_option:hover { background: #bababa!important; color: #222222!important;}
.xdsoft_datetimepicker  .xdsoft_calendar td:hover,
.xdsoft_datetimepicker  .xdsoft_timepicker .xdsoft_time_box >div >div:hover { background: #bababa!important; color: #222222!important;}

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default, .xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current, .xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current { box-shadow: none!important;}

.txtDateTime.warning { border: 1px solid red;}

/* copyright */
.copywrite { padding: 15px 0; background: #1c1c1c;}
.copywrite .row { padding-top: 0;}
.copywrite p { color: #e3e3e3;}

/******************************************
                Media Query
******************************************/
@media (max-width: 768px) {
    .dichvu table { width: 100%;}
    .from-to input { float: left; margin-bottom: 5px; width: 100%!important;}
    .from-to img { display: none;}
    .from-to { width: 100%; float: left;}

    .staff-header .menu { display: block;}
    .staff-header .menu-m { display: none;}

    .statistic-wp .line { margin-top: 65px;}
    .statistic-wp .statistic-title p{ left: 0px; top: -50px; text-align: left; }
}

@media (min-width : 768px) and (max-width: 992px) {
    .staff-header .menu { display: block;}
    .staff-header .menu-m { display: none;}

    .statistic-wp .line { margin-top: 65px;}
    .statistic-wp .statistic-title p{ left: 0px; top: -50px; text-align: left;}
}

@media (min-width: 992px) and (max-width: 1200px) {
    .staff-header .menu { display: block;}
    .staff-header .menu-m { display: none;}

    .statistic-wp .statistic-line { max-width: 500px; }
}

@media (min-width: 1200px) {
    .staff-header .menu { display: block;}
    .staff-header .menu-m { display: none;}

    .statistic-wp .statistic-line { max-width: 500px; }
}