﻿@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input, textarea { outline: none; border: 0; font-family: Roboto Condensed, sans-serif; text-decoration: none; margin: 0; padding: 0; color: #444444 /*#252525*/ /*#414141*/; }
body { background: #f5f4f4; /*#f5f5f5;*/ }
input, textarea { border: 1px solid #cacfd0; }
input { height: 30px; line-height: 30px; padding: 0 5px; }
ul, li { list-style: none; margin: 0; padding: 0; }
a, img { border: none; color: inherit; text-decoration: none !important; }
a:focus { outline: none; }
a.active, a:hover { color: #4db848; }

body { }

.wp { width: 100%; float: left; overflow:hidden;}

.hotline { background: #000; color: #fff; }

.hotline > .container > .row > div > h4 { color: #eeeeef; font-family: Roboto Regular; font-size: 12px; line-height: 25px; padding-left: 101px; }

.menu { position: absolute; width: 100%; z-index: 200; background:#fff; border-bottom: 3px solid #a56f07;}

.menu .active {top:0;position:fixed; }

.menu > .container > .row {margin:0; }
.menu > .container .img-logo img { width:100%; padding:10px 0;}
.menu-m > .container > .row {margin:0; }

.slide > .container { width: 100%; padding: 0; }

.slide > .container > .row { width: 100%; margin: 0; position: relative; }

.slide .slide-item { padding: 0; }

.slide img { width: 100%; height: auto; }

.menu-wp li { float: right; text-align: right; padding-top:50px;}

.menu-wp li a { color: #000; font-family: UTM Alexander; font-size: 19px; line-height: 44px; /*text-shadow: 2px 1px 1px rgba(0, 0, 0, 0.9);*/ padding-left:82px;}

.menu-left { width: 100%; padding-right: 40px; }
.menu-left li { padding-left: 0; text-align: right; float: right; padding-left: 50px; }

.menu-right { width: 100%; padding-left: 40px; }

.menu-right li { padding-right: 0; text-align: left; float: left; padding-right: 50px; }


.menu-line { position: absolute; -webkit-box-shadow: 0 2px 2px 0 #504742; box-shadow: 0 2px 2px 0 #504742; width: 100%; height: 2px; background: #5a0d0c; }

.menu > .container { padding: 0;}

.menu .menu-line-left { width: 100%; height: 2px; background: #5a0d0c; position: absolute; /*right: 10px;*/ bottom: -1px; -webkit-box-shadow: 0 1px 1px 0 #4f4740; box-shadow: 0 1px 1px 0 #4f4740; }

.menu .menu-line-right { width: 100%; height: 2px; background: #5a0d0c; position: absolute; /*left: 12px;*/ bottom: -1px; -webkit-box-shadow: 0 1px 1px 0 #4f4740; box-shadow: 0 1px 1px 0 #4f4740; }

.menu ul.row { margin: 0; }

.menu .menu-list { background: rgba(0,0,0,0.8); padding: 0; }

.logo { padding: 0!important; }

.logo > div { position: relative; }

.logo > div > img { max-width: 100%; position: absolute;width:100%; /*left:-5%;*/ }


.reserve > .container { width: 100%; position: relative; }

.reserve .container .reserve-form { position: absolute; z-index: 100; right: 0; padding: 0; margin-top: 50px; background: rgba(0,0,0,0.6); }

.reserve-form > div { margin-top: 5px; margin-bottom: 5px; border-top: 1px solid #767977; border-bottom: 1px solid #767977; padding: 10px; }

.reserve-form > div table tr { }

.reserve-form > div table tr td { color: #fff; padding-top: 5px; text-align: right; }

.reserve-form > div table tr td input { width: 200px; height: 26px; margin-left: 10px; line-height: 26px; }

.reserve-form > div table tr td input[type=button] { width: 60px; line-height: 22px; border-radius: 3px; height: 24px; }

.product .container .row { margin: 0; }

.product #product1 .name, .product #product4 .name { background-color: rgba(66,64,64,0.4); background-image:url('/images/home/combo1.png?v=1');
                 background-repeat:no-repeat;
                 background-position:center;}

.product #product2 .name { background: rgba(184,137,67,0.5); background-image:url('/images/home/combo2.png?v=1');
                 background-repeat:no-repeat;
                 background-position:center;}

.product #product3 .name { background: rgba(66,64,64,0.5); background-image:url('/images/home/combo3.png?v=1');
                 background-repeat:no-repeat;
                 background-position:center;}

.product .name { text-align: center; color: #fff; font-family: UTM Alexander; font-size: 22px; padding: 10px 0;text-transform:uppercase;height:116px;
                 
}

.product .des { background: #fff; padding:10px; font-family: Roboto Thin; }

.product .des .read-more { text-align:center;width:100%;display:block;font-size:14px; font-family:Roboto Thin;padding-top:10px;}

.product .des ul li { text-align:center; font-family: Roboto Thin; font-size:17px;}

.product { margin-top: -82px; }

.product > .container > .row > .item-product { padding: 0 8px; margin: 0; position: relative; top:-34px;}
.product #product1 .trangle, .product #product4 .trangle { position: absolute; width: 0; height: 0; text-indent: -17px; border-bottom: 33px solid #5d5d5d; border-left: 33px solid transparent; right: 2%; bottom: 0%; color: #fff; line-height: 45px; font-size: 25px; font-family: none; cursor: pointer; }

.product #product2 .trangle { position: absolute; width: 0; height: 0; text-indent: -17px; border-bottom: 33px solid #ffcc66; border-left: 33px solid transparent; right: 2%; bottom: 0%; color: #fff; line-height: 45px; font-size: 25px; font-family: none; cursor: pointer; }

.product #product3 .trangle { position: absolute; width: 0; height: 0; text-indent: -17px; border-bottom: 33px solid #75100a; border-left: 33px solid transparent; right: 2%; bottom: 0%; color: #fff; line-height: 45px; font-size: 25px; font-family: none; cursor: pointer; }

/*.product #product1 ul li:before, .product #product4 ul li:before { content: ""; width: 5px; height: 5px; background: #5d5d5d; float: left; border-radius: 50%; margin: 8px 5px 0; }*/
/*.product #product2 ul li:before { content: ""; width: 5px; height: 5px; background: #cda56c; float: left; border-radius: 50%; margin: 8px 5px 0; }

.product #product3 ul li:before { content: ""; width: 5px; height: 5px; background: #75100a; float: left; border-radius: 50%; margin: 8px 5px 0; }*/

.other-product { background: #fff;}

.other-product > .container > .row { margin: 50px 0; }

.other-product .other-item { padding: 0 5px; }

.other-product .other-item > div { height: 290px; }

.other-product .other-item img { width: 100%; height: 100%; }

.other-product #oasis {  position: relative; }

.other-product #xmen {  position: relative; }

.other-product #store { border: 1px solid #2b2f6c; background: #000; }

.other-product #oasis .des { position: absolute; width: 100%; bottom: 0%; color: #fff; }

.other-product #xmen .des {position: absolute; width: 100%; bottom: 0%; color: #fff; }

.other-product .des strong { color: #fff; font-family: UTM Alexander; font-weight: normal; }

.other-product .des { background-color: rgba(66,64,64,0.7); font-family: UTM Alexander; text-transform: uppercase; line-height: 46px; text-align: center; font-size: 27px; height:60px;padding:5px 0;}

.other-product #store { text-align: left; padding: 30px 0 0 20px; }

.other-product #store h4 { color: #fff; font-family: UTM Alexander; font-size: 18px; padding-bottom: 10px; text-transform: uppercase; }

.other-product #store p { font-size: 14px; line-height: 22px; }

.other-product .read-more { display:block; background-color:#c2c2c2;text-align:right;display:block;padding:3px 25px 3px 0;}

.other-slide > .container { width: 100%; }
.other-slide .container .row .item-slide { padding: 0; position: relative; border-top:2px solid #3a3b3a; height:290px;}
.other-slide .container .item-slide>img { width: 100%; height:100%;}

.other-slide .container .item-slide .des { position: absolute; top: 40px; width: 1130px; left: 0; background: rgba(0,0,0,0.7);  right: 0; bottom: 0; margin: 0 auto; height: 160px; }
.other-slide .container .item-slide .des > img { height:100%;float:left;}
.other-slide .container .item-slide .des > p { font-family: UTM Alexander; font-size: 18px; color: #fff;padding-top:52px; float:left; padding-left:12px;}






/*Product Style 2*/
.product-style2 { margin-top:-17px;}
.product-style2 .type1 .name { background-color: rgba(66,64,64,0.6);background-repeat:no-repeat;background-position:center;height:auto!important;}
.product-style2 .type2 .name { background-color: rgba(184,137,67,0.6);background-repeat:no-repeat;background-position:center;height:auto!important;}
.product-style2 .des ul li { border-bottom:1px dashed #898989; margin:0 25px;line-height:40px;font-size:16px;}
.product-style2 .des ul li:last-child { border-bottom:none;}
.product-style2 .des ul li span{ color: #898989; }

/*End Product Style 2*/


.news { background: #fff; }

.news > .container > .row { margin: 30px 0; }

.news .news-item { padding: 0 10px; }

.news .news-item img.main { width: 100%; }

.news .news-item h3 a { font-family: UTM Alexander; font-size: 22px; padding-bottom: 10px; float: left; line-height:26px;text-transform:uppercase; }

.news .news-item p { padding-top: 5px; line-height: 22px; }

.news .news-item .read-more { width: 22px; height: 12px; margin-left: 2px; margin-bottom: 2px; }

.address .career img { width: 100%; }

.address .career h5 { font-family: UTM Alexander; font-size: 18px; text-transform: uppercase; padding-bottom: 7px; width: 100%; }

.address .career span { width: 37%; float: right; border-bottom: 1px solid #000; margin-top: 15px; }

.address .career .career-des { position: absolute; top: 16%; color: #fff; width: 50%; right: 8%; font-family: Roboto Light; }

.address .career input[type=button] { position: absolute; right: 11%; bottom: 5%; width: 30%; height: 32px; text-transform: uppercase; font-family: UTM Alexander; border-radius: 4px; border: 1px solid #828282; }
.address .career input[type=button]:hover { color: #4db848; }

.address .map img { width: 100%; }

.address .row { padding:30px 0; }

.address { border-bottom: 1px solid #b10000; }

.address .map #add { font-family: UTM Alexander; float: left; text-transform: uppercase; font-size: 18px; line-height: 40px; }

.address .map #add1 { font-family: UTM Alexander; float: left; text-transform: uppercase; font-size: 18px; }

.address .map #add-line { float: left; width: 2px; height: 50px; border-right: 1px solid; margin-left: 10px; margin-right: 10px; line-height: 22px; }

.address .map .wp-map { margin: 10px 0; float: left; border-top: 1px solid #5e574f; border-bottom: 1px solid #5e574f; padding: 10px 0; }

.footer { background: #000; padding: 40px 0; border-top: 1px solid #b10000; }

.footer h3 { color: #F5F5F5; font-family: UTM Alexander; font-size: 20px; border-bottom: 1px solid #ddd; padding-bottom: 10px; margin-bottom: 10px; }

.footer > .container > .row { padding: 0; }

.footer .about p { background: url('/images/ft-arrow.png?v=1') left no-repeat; background-size: 16px; text-indent: 22px; color: #F5F5F5; line-height: 25px; }

.footer .about { margin-top: 10px; }

.footer .connect img { width: 230px; }

.footer #work-time { border-top: 1px solid #ddd; color: #F5F5F5; margin-top: 10px; padding-top: 10px; text-transform: uppercase; font-family: UTM Alexander; }

.footer #ft-hotline { border-bottom: 1px solid #ddd; color: #F5F5F5; padding-bottom: 10px; text-transform: uppercase; font-family: UTM Alexander; }

.footer #ft-hotline strong, .footer #work-time strong { color: #F5F5F5; font-family: UTM Alexander; font-size: 18px; padding-left: 10px; }

.menu-m { padding: 5px 10px; display: none; background: rgba(0,0,0,1); border-bottom: 2px solid #5a0d0c; -webkit-box-shadow: 0 1px 1px 0 #4f4740; box-shadow: 0 1px 1px 0 #4f4740; }
.logo-m { }
.toogle-menu-m { float: right; margin-top: 10px; cursor: pointer; }

.global-menu-m {padding:0; }

.global-menu-m li a {text-transform:uppercase; font-size: 16px; line-height: 30px; color: #fff;display:block;padding:5px 0 5px 30px; }
.global-menu-m li a:hover { color: #4db848; }

.global-menu-m > li { border-bottom: 1px solid #525252;position:relative; }

.global-menu-m > li > span { position: absolute; right: 0%; top: 0; color: #fff; font-size: 28px; cursor: pointer;width:12%;text-align:center; }
.global-menu-m > li ul > li { border-top: 1px solid #525252; }
.global-menu-m > li ul > li > a {padding-left:60px; }
.global-menu-m > li ul {display:none; }
.reserve-m { display: none; position: absolute; left: 0; right: 0; top: -55%; margin: auto; bottom: 0; width: 200px; text-align: center; background: rgba(0,0,0,0.6); padding: 5px 0; height: 44px; }

.reserve-m input { background: rgba(0,0,0,0.6); font-family: UTM Alexander; color: #fff; width: 190px; line-height: 22px; border-radius: 4px; height: 34px; }

.slide .item-slide-m { display: none; }
.other-slide .item-slide-m { display: none;padding:0; }
.other-slide .item-slide-m img {width:100%; }

.other-slide .container .item-slide-m .des { position: absolute; top: 10%; width: 80%; left: 0; background: rgba(0,0,0,0.5); font-family: UTM Alexander; font-size: 16px; color: #fff; padding: 20px; right: 0; bottom: 0; margin: 0 auto; height: 80%;text-align: center; }

.product-m { display:none;position:absolute;bottom:0;}

.product-m .product-item-m {padding:5px 15px; background:rgba(130,130,130,0.6);text-align:left;color:#fff;text-transform:uppercase;font-family:UTM Alexander;font-size:16px;line-height: 40px;}
.product-m #product-item2-m {background:rgba(234,183,111,0.6); }
.product-m #product-item3-m {background:rgba(151,90,83,0.6); }
.product-m .product-item-m .item-line { background: url(/images/product-arrow.png?v=1) right no-repeat; height: 40px; width: 41px; float: right; cursor: pointer; }



.news .row-news-m {display:none;margin:20px -20px!important;padding:5px; }

.news .row-news-m item-news-m img{width:100%; }

.career-des-m {display:none; font-family: Roboto Light; width: 100%;text-align:justify;padding-bottom:5px; }

.product-title { margin: 0; background: #000; width: 100%; padding: 0; position: absolute; margin-top: -44px;     border-bottom: 4px solid #a56f07;}

.product-title .row {margin:0 90px; }
.product-title .row h2 { color: #fff; font-size: 30px; font-family: UTM Alexander; padding-top: 3px; padding-bottom: 6px; }
.product-title .menu-second a{ font-family:Roboto Regular;font-size:23px;color:#fff;line-height:40px;}
.product-title .menu-second .current { color: #a56f07; }
.product-title .menu-second.m-center { text-align:center;}
.product-title .menu-second.m-last { text-align:right;}
.product-title .menu-second a:hover{ color: #a56f07; }

.breadcrumb > li + li:before { color:#000;}

.lnk-breadcrumb > .container > .row { padding:0;}
.detail-product .detail-content > .row { margin:0;}
.lnk-breadcrumb > .container > .row > div { padding:0 10px;}

.lnk-breadcrumb .breadcrumb { background:none;padding:0;margin:0;margin-bottom:-22px;}
.lnk-breadcrumb .breadcrumb li a span{ text-transform:uppercase;font-family:UTM Alexander; font-size:15px;line-height:40px;color:#000;}
.lnk-breadcrumb .breadcrumb li a span.active{ color: #a56f07; }
.lnk-breadcrumb .breadcrumb li a span:hover{color: #a56f07; }


.frm-datlich { background:#fff;padding:10px 0;}
.frm-datlich .form-group { padding: 0 35px;}
.frm-datlich .form-group label { padding-left:5px;}
.frm-datlich .btn-default { width:300px;margin: 0 auto;
    padding: 0 15px;
    display: block;
    height: 36px;
    line-height: 36px;
    background: #555555;
    color: #fff;}



.detail-item img{width:100%; }
.detail-product .left-menu li#pack1{background:#838282; }
.detail-product .left-menu li#pack2{background:#fdd482; }
.detail-product .left-menu li#pack3{background:#75100a; }
.detail-product .left-menu li#pack4{background:#b8b8b8; }
.detail-product .left-menu li a {color:#fff;text-transform:uppercase; }
.detail-product .left-menu li { text-align:right;padding: 5px;}
.detail-product .left-menu li:hover {background:#E4E4E4!important; }

.detail-product .detail-content {padding:0; }
.detail-product > .container {margin-top:25px;margin-bottom:30px; }

.detail-product .detail-item span{ width: 100%; display: block; background: #515152; color: #fff; padding: 7px 0; text-align: center; font-family:UTM Alexander;text-transform:uppercase; font-size:16px;}

.detail-product .detail-item .des {font-family:Roboto Condensed; text-align:justify;line-height:22px;padding: 5px 10px 10px;
    border-bottom: 3px solid #666;
    margin-bottom: 20px;
    overflow: hidden; background:#fff; }

.detail-product .detail-item { padding:0 10px;}

.product-title .row h2 img {margin-top:-30px;margin-right:-5px; }

.store .store-type1 img,.store .store-type2 img{width:100%; }
.store .store-type1, .store .store-type2 {padding:0 6px; }

.store .store-type1 .title, .store .store-type2 .title { background: #6b1c10; color: #fff; text-transform: uppercase; text-align: center; padding: 10px 0; font-family: UTM Alexander; font-size: 16px; text-align: center; position: absolute; z-index: 10; width: 100%; bottom:0; }
.store .store-type1 .orther-color,.store .store-type2 .orther-color {background: #2b2f6c;color:#fff;text-transform:uppercase; }

.store .store-type1 .bg-des { position:relative;cursor:pointer;}
.store .store-type1 .bg-des p { display: none; position: absolute; background: rgba(0,0,0,0.6); height: 100%; color: #F1E2E2; text-align: justify; padding: 50px 15px; top: 0; }
.store .store-type2 .title{bottom:0; }
.store > .row {margin-bottom:12px; }
.store .store-type1 .bg-des:hover p { display:block;}
.store .store-type1 .bg-des:hover .title { top:0;bottom:auto;}

.detail-product > img {display:none; }

.product-title-td { margin: 0; background: #8b6038; width: 100%; padding: 0; }

.product-title-td .row {margin:0 120px; }
.product-title-td .row h2 { color: #fff; font-size: 30px; font-family: UTM Alexander; padding-top: 3px; padding-bottom: 8px;/*padding-left:135px;*/ }

.tuyendung > .container > .row { margin: 20px 0; background: #fff;padding:15px; }

.tuyendung .td-detail h2{font-family:UTM Alexander;font-size:20px;padding-bottom:10px;margin-bottom:10px;border-bottom:1px solid; }

.tuyendung .td-detail .des {padding-bottom:20px; }

.video .video-item img { width:100%;}
.video > .container > .row {margin:20px 0; }
.video .video-item {padding:0; }

.video .video-item > div { margin:0 5px; position:relative;}

.video .video-item .play-icon {position:absolute;width:103px; height: 103px;left:0;right:0;bottom:0;top:0;margin: auto;cursor:pointer; }
.video .video-item p {background:rgba(131,130,130,0.8);text-align:center;position:absolute;width:100%;bottom:0;text-transform:uppercase;color:#fff;font-size:20px;padding:5px 0; }
.video .video-item p a:hover {color:#130E10; }

/*NhatNV*/
.wp-blog { background: #8B5F38; height: 60px; }
.wp-conten-blog { background: #f5f4f4; }
.ctn_blog { margin: 20px 0px; }
.ul-menu-blog { width: 100%; float: left; }
.ul-menu-blog .li-menu-blog { width: 100%; float: left; height: 30px; }
.ul-menu-blog .li-menu-blog .a-le-blog { width: 100%; float: left; text-align: right; text-transform: uppercase; background: #BCBCBC; font-size: 15px; font-family: Roboto Thin; color: #FFF; line-height: 30px; padding: 0px 15px; }
.ul-menu-blog .li-menu-blog > .active { background: #838383; font-family: Roboto Bold; }
.ul-menu-blog .li-menu-blog .a-chan-blog { width: 100%; float: left; text-align: right; text-transform: uppercase; background: #D0D0D0; font-size: 15px; font-family: Roboto Thin; color: #FFF; line-height: 30px; padding: 0px 15px; }
.li-ctn-log { width: 100%; float: left; margin-bottom: 50px; }
.li-ctn-log .div-wp-img { padding-left: 0px; }
.li-ctn-log .div-wp-img2 { padding: 0px; }
.div-wp-img .col-img { width: 100%; float: left; text-align: center; }
.div-wp-img .col-img img { max-width: 100%; }
.col2-blog { width: 100%; float: left; }
.col2-blog .a-title-blog { border-bottom: 1px solid #898989; float: left; font-family: UTM Alexander; font-size: 22px; line-height: 28px; padding: 5px 0 10px; text-transform: uppercase; width: 100%; }
.col2-blog .p-des-blog { color: #777; float: left; font-family: Roboto Light; font-size: 18px; text-align: justify; width: 100%; margin-top: 22px; }
.row .ctn-col3-news-blog { padding-left: 30px; padding-right: 0px; }
.col2-blog .a-img { width: 100%; margin-top: 10px; text-align: right; }
.blog-news { width: 100%; float: left; }
.blog-news .title-bl-news { width: 100%; float: left; height: 50px; background: #999999; }
.blog-news .title-bl-news .a-title-bl-news { font-family: UTM Alexander; font-size: 22px; color: #FFF; text-transform: uppercase; text-align: center; line-height: 50px; width: 100%; float: left; }
.ul-news-blog { width: 100%; float: left; }
.ul-news-blog .li-news-blog { width: 100%; float: left; padding-bottom: 20px; border-bottom: 1px solid #898989; margin-top: 20px; }
.li-news-blog .div-img-news-blog { padding-left: 0px; padding-right: 10px; }
.li-news-blog .div-img-news-blog img { max-width: 100%; }
.li-news-blog .div-name-news-blog { padding: 0px; }
.li-news-blog .div-name-news-blog .a-name-news-blog { width: 100%; float: left; text-transform: uppercase; font-size: 13px; font-family: UTM Alexander; }
.container .title-blog { padding-left: 0px; }
.container .title-blog .p-title-blog { width: 100%; float: left; text-transform: uppercase; color: #FFF; font-family: UTM Alexander; font-size: 28px; line-height: 60px; padding-left:17px; }
.container .wp-search-blog { padding-left: 22px; padding-right: 0px; }
.container .wp-search-blog .input-search { padding: 0px; float: left; width: 95%; margin-top: 10px; background: url("/images/blog/search-blog.png") no-repeat; color: #FFF; background-position: 215px 3px; background-position-x: 215px; background-position-y: 3px; height: 40px; padding: 5px 50px 5px 10px; }
.title-faceblog .div-title-face { width: 100%; float: left; height: 50px; background: #999; }
.title-faceblog .div-title-face .p-title-face { font-size: 22px; font-family: UTM Alexander; color: #FFF; text-transform: uppercase; line-height: 50px; text-align: center; }
.title-faceblog .div-face { padding: 0px; margin-top: 20px; }
.row .wp-page { padding: 0px;}
.row .wp-page .a-page-size { background: #e1e1e1; border-radius: 2px; color: #fff; float: left; font-family: UTM Alexander; font-size: 28px; padding: 0 10px 5px;margin: 0 5px;}
.row .wp-page .a-page-size:hover {background:#c2c2c2; }
.row .wp-page .active { background: #c2c2c2; }
.row .li-ctn-log .wp-titlenews { display: none; }
.title-faceblog .div-face-mobi { display: none; }
/*End NhatNV*/

.blog-detail { background:#fff;padding:10px 10px 20px; }
.blog-detail img {width:100%;margin:5px 0; }
.blog-detail h2 {border-bottom:1px solid #898989;margin-bottom:20px;padding-bottom:5px; }
.blog-detail p {line-height:22px; }

.menu-m-sub { padding: 5px 10px; display: none; background: rgba(0,0,0,1); }

.address .career {margin-top:45px;}
.address .line-bottom { border-bottom:1px solid #5e574f; padding-top:10px;}



/*San Pham V2*/
.detail-product-v2 .left-title { font-family: Roboto Bold; font-size:30px; text-transform:uppercase; color:#000;border-bottom:1px solid #000;width:82%; padding:5px 0;}
.detail-product-v2 .parent-title { font-family:Roboto Regular;font-size:20px;color:#000;padding:10px 0;}
.detail-product-v2 .left-menu li a{ font-family:Roboto Condensed Regular; font-size:18px;line-height:30px;}
.detail-product-v2 .left-menu li a.active { font-family:Roboto Condensed Bold; color:#000;}
.detail-product-v2 .left-menu li a:hover { font-family:Roboto Condensed Bold; color:#000;}
.detail-product-v2 .left-menu { border-bottom:1px solid #000; width:82%;padding-bottom:20px;}
.detail-product-v2 .left-menu:last-child { margin-bottom:5px;}
.detail-product-v2 .right-title { font-family:Roboto Bold; font-size:25px;color:#000;border-bottom:1px solid;padding:5px 0;margin-bottom:10px;margin-top:7px;}
.detail-product-v2 .order-by span{font-family:Roboto Condensed Regular; font-size:15px; color:#000; float:left;}
.detail-product-v2 .order-by ul li { float:left;padding:0 25px; }
.detail-product-v2 .order-by ul { float:left;padding-left:10px;}
.detail-product-v2 .order-by ul li a.active { font-family:Roboto Condensed Bold; color:#000;}
.detail-product-v2 .order-by ul li a { font-size:14px;}
.detail-product-v2 .order-by ul li a:hover {font-family:Roboto Condensed Bold; color:#000;}

.detail-product-v2 .list-product { clear:both;padding-top:20px;}
.detail-product-v2 .list-product .item-product .p-name{ text-align:center;font-family:Roboto Condensed Bold;font-size:20px;}
.detail-product-v2 .list-product .item-product .p-price{ text-align:center; font-family:Roboto Condensed Regular; font-size:20px;padding:2px 0 6px;}
.detail-product-v2 .list-product .item-product .p-view { background:#000;color:#fff;padding:1px 0;text-align:center;font-size:15px; font-family:Roboto Condensed Regular; width:130px; margin:0 auto; line-height:23px;}
.detail-product-v2 .list-product .item-product .item-border { border-top:1px solid #000;padding:15px 0;width:80%;margin:0 auto; margin-top:35px;}

.detail-product-v2 .p-detail .p-name{ font-family:Roboto Condensed Bold; color:#000; font-size:25px; padding-bottom:10px;}
.detail-product-v2 .p-detail .intro { width:110px; text-align:center;color:#fff; font-family:Roboto Condensed Regular; background:#000;height:30px;line-height:30px; float:left;}
.detail-product-v2 .p-detail .component { width:110px; text-align:center;color:#000; font-family:Roboto Condensed Regular; border:1px solid #000;height:30px;line-height:30px;float:left;}
.detail-product-v2 .p-detail .des{font-family:Roboto Condensed Regular;font-size:14px;clear:both; padding:15px 0;}
.detail-product-v2 .p-detail .guide { width:150px; text-align:center;color:#000; font-family:Roboto Condensed Regular; border:1px solid #000;height:30px;line-height:30px;}
.detail-product-v2 .detail-product .p-price { font-family:Roboto Condensed Bold; color:#000; font-size:25px; border-top:1px solid; border-bottom:1px solid;clear:both;padding:10px 0;margin-bottom:10px;}
.detail-product-v2 .detail-product .user-rating .title {font-family:Roboto Condensed Bold; color:#000; font-size:25px; float:left; }
.detail-product-v2 .detail-product .user-rating .button { float:right;width:110px; text-align:center;color:#fff; font-family:Roboto Condensed Regular; background:#000;height:30px;line-height:30px; cursor:pointer;margin-top:5px;}
.detail-product-v2 .detail-product .user-rating .des { clear:both;font-family:Roboto Condensed Regular; font-size:14px;padding-bottom:20px;}

.detail-product-v2 .detail-product .list-rating { border-top:1px solid #595756;margin:0;margin-top:10px;padding-top:20px;}

.detail-product-v2 .detail-product .list-rating .name { font-family:Roboto Condensed Bold; font-size:20px;text-align:center;}

.detail-product-v2 .detail-product .list-rating .avatar { text-align:center;}

.detail-product-v2 .detail-product .list-rating .location { font-family:Roboto Condensed Regular; font-size:18px;text-align:center;}

.detail-product-v2 .detail-product .list-rating .time { font-family:Roboto Condensed Regular; font-size:14px; padding-left:5px;}
.detail-product-v2 .detail-product .list-rating .time img { float:left;padding-right:10px; margin-left:-8px;}

.detail-product-v2 .detail-product .list-rating .rating-title { font-family:Roboto Condensed Bold; font-size:20px; color:#000;clear:both;padding:5px 0;}

.detail-product-v2 .detail-product .list-rating .rating-des { font-family:Roboto Condensed Regular; font-size:14px;}

.detail-product-v2 .detail-product .list-rating .item-rating { margin-bottom:40px;float:left;margin-left:-40px;}



/*End San Pham V2*/

/*****************************************************
                        Media Query
*****************************************************/

/* Phone */
@media (max-width: 768px) {

    .menu-m,.menu-m-sub { display: block;padding:0; }

    .menu-m > .container {padding:0; }

    .logo-m > img {padding-left:15px;padding-bottom:5px; }
    .toogle-menu-m > img { padding-right: 15px; }

    .menu { display: none; }

    .reserve { display: none; }

    .hotline > .container > .row > div > h4 { padding-left: 0; }

    .global-menu-m { display: none; }

    /*.product { display: none; }*/

    .reserve-m { display: block; }

    .slide-item { display: none; }

    .slide .item-slide-m { display: block; }

    /*.product-m { display:block;}*/

    .other-product > .container > .row {margin:0 -20px; }
    .other-product {margin-top:0; }
    .other-slide .item-slide {display:none; }
    .other-slide .item-slide-m { display: block; }

    .news > .container > .row {display:none; }
    .news > .container > .row-news-m {display:block; }

    .address .row {padding:5px; }
    .address .career {padding:5px;}
    .address .map { padding: 5px; }
    .address .career span {display:none; }
    .address .career-des {display:none;}
    .address .career h5 {border-bottom:none; font-size:20px;}
    .address .map #add {font-size:20px; }
    .career-des {display:none; }
    .career-des-m { display: block;font-size:16px;padding-right:5px; }
    .address .career input[type="button"] { bottom: 0; left: 0; margin: auto; right: 0; top: 80%; width: 40%; }

    .footer h3 {text-align:center;font-size:26px; }
    .footer .about p {text-align:center;background:none; font-size:16px;}
    .footer > .container {margin:0 -20px;}
    .footer > .container > .row { padding: 10px!important; }
    .footer .connect img { display: block; margin: 0 auto; }
    .footer #work-time {text-align:center; }
    .footer #ft-hotline {text-align:center; }
    .footer .connect {margin-top:20px; }

    .news .news-item h3 a {padding-bottom:15px;text-transform:uppercase; }
    .news .news-item p {font-size:16px; }

    .other-product #store p {font-size:16px; }

    .detail-product .left-menu {display:none; }
    .detail-product > .container { margin-top: 15px;margin-bottom:10px; }
    .product-title .row { margin: 0; }
    .product-title .row h2 { padding-left: 0; text-align: center;    padding-top: 6px;
    padding-bottom: 10px; font-size:26px; }
    .detail-product .detail-item .des {padding:5px 15px 10px;margin-bottom:3px; }

    .store .store-type1 .bg-des p {display:block;position:initial;background:rgba(255,255,255,0.6);color:#000;padding-top:10px; }

    .store .store-type1 .bg-des:hover p { display: block; }
    .store .store-type1 .bg-des:hover .title { top: auto; bottom: 0; }
    .store .store-type1 .bg-des .title { position: initial; }
    .store .store-type1 {padding:0; }
    .detail-product > img {display:block; width: 90%; margin: 0 auto; display: block; margin-top: 6px; margin-bottom: -10px; }

    .product-title-td .row h2 {padding-left:0;text-align:center; }
    .product-title-td .row {margin:0; }
    .tuyendung > .container > .row {margin:0; padding:10px; }
    .tuyendung > .container {padding:0; }

    .video > .container > .row {margin:0; }
    .video > .container {padding:0; }
    .video .video-item > div {margin:0; }
    .video .video-item { margin-bottom:10px;}

    /*NhatNV*/
    .container .ctn_blog { margin-top: 10px; }
    .container .wp-search-blog .input-search { display: none; }
    .row .wp-menu-blog { display: none; }
    .container .title-blog .p-title-blog { width: 100%; float: left; text-transform: uppercase; color: #FFF; font-family: UTM Alexander; font-size: 20px; line-height: 60px; text-align: center; }
    .col2-blog .a-title-blog { display: none; }
    .col2-blog .p-des-blog { font-size: 15px; }
    .row .li-ctn-log { padding: 0px 7px; }
    .row .li-ctn-log .div-wp-img { padding: 0px 5px; }
    .row .li-ctn-log .wp-titlenews { display: block; padding: 0px; margin-bottom: 15px; }
    .row .li-ctn-log .wp-titlenews .a-title-news { border-bottom: 1px solid #898989; float: left; font-family: UTM Alexander; font-size: 17px; line-height: 22px; padding: 5px 0 10px; text-transform: uppercase; width: 100%; }
    .row .wp-page .a-page-size { font-size: 20px; padding: 0 5px 5px;}
    .row .wp-page { padding: 0 7px; }
    .row .ctn-col3-news-blog { padding: 0px; margin-top: 25px; }
    .blog-news .ul-news-blog { padding: 0 10px; }
    .li-news-blog .div-name-news-blog .a-name-news-blog { padding-top: 8px; }
    .ctn-col3-news-blog .blog-news { margin-bottom: 45px; }
    .title-faceblog .div-title-face .p-title-face { font-size: 17px; }
    .title-faceblog .div-face { display: none; }

    .title-faceblog .div-face-mobi { display: block; padding: 0px; margin-top: 20px; margin-bottom: 70px; }
    /*End NhatNV*/
}

/* Tablet */
@media (min-width: 768px) and (max-width: 992px) {
    .menu-m { display: block; }

    .menu { display: none; }

    .reserve { display: none; }

    .hotline > .container > .row > div > h4 { padding-left: 0; }

    .global-menu-m { display: none; }

    /*.product { display: none; }*/

    .reserve-m { display: block; }

    .slide-item { display: none; }

    .slide .item-slide-m { display: block; }

    /*.product-m { display:block;}*/

    .other-product > .container > .row {margin:0 -20px; }
    .other-product {margin-top:0; }
    .other-slide .item-slide {display:none; }
    .other-slide .item-slide-m { display: block; }

    .news > .container > .row {display:none; }
    .news > .container > .row-news-m {display:block; }

    .address .row {padding:5px; }
    .address .career {padding:5px; }
    .address .map { padding: 5px; }
    .address .career span {display:none; }
    .address .career-des {display:none;}
    .address .career h5 {border-bottom:none; font-size:20px;}
    .address .map #add {font-size:20px; }
    .career-des {display:none; }
    .career-des-m { display: block;font-size:16px;padding-right:5px; }
    .address .career input[type="button"] { bottom: 0; left: 0; margin: auto; right: 0; top: 80%; width: 40%; }

    .footer h3 {text-align:center;font-size:26px; }
    .footer .about p {text-align:center;background:none; font-size:16px;}
    .footer > .container {margin:0 -20px;}
    .footer > .container > .row { padding: 10px!important; }
    .footer .connect img { display: block; margin: 0 auto; }
    .footer #work-time {text-align:center; }
    .footer #ft-hotline {text-align:center; }
    .footer .connect {margin-top:20px; }

    .news .news-item h3 a {padding-bottom:15px;text-transform:uppercase; }
    .news .news-item p {font-size:16px; }

    .other-product #store p {font-size:16px; }

    .detail-product .left-menu {display:none; }
    .detail-product > .container { margin-top: 15px;margin-bottom:10px; }
    .product-title .row { margin: 0; }
    .product-title .row h2 { padding-left: 0; text-align: center;    padding-top: 6px;
    padding-bottom: 10px; font-size:26px; }
    .detail-product .detail-item .des {padding:5px 15px 10px;margin-bottom:3px; }

    .store .store-type1 .bg-des p {display:block;position:initial;background:rgba(255,255,255,0.6);color:#000;padding-top:10px; }

    .store .store-type1 .bg-des:hover p { display: block; }
    .store .store-type1 .bg-des:hover .title { top: auto; bottom: 0; }
    .store .store-type1 .bg-des .title { position: initial; }
    .store .store-type1 {padding:0; }
    .detail-product > img {display:block; width: 90%; margin: 0 auto; display: block; margin-top: 6px; margin-bottom: -10px; }

    .product-title-td .row h2 {padding-left:0;text-align:center; }
    .product-title-td .row {margin:0; }
    .tuyendung > .container > .row {margin:0; padding:10px; }
    .tuyendung > .container {padding:0; }

    .video > .container > .row {margin:0; }
    .video > .container {padding:0; }
    .video .video-item > div {margin:0; }
    .video .video-item { margin-bottom:10px;}

    /*NhatNV*/
    .container .ctn_blog { margin-top: 10px; }
    .container .wp-search-blog .input-search { display: none; }
    .row .wp-menu-blog { display: none; }
    .container .title-blog .p-title-blog { width: 100%; float: left; text-transform: uppercase; color: #FFF; font-family: UTM Alexander; font-size: 20px; line-height: 60px; text-align: center; }
    .col2-blog .a-title-blog { display: none; }
    .col2-blog .p-des-blog { font-size: 15px; }
    .row .li-ctn-log { padding: 0px 7px; }
    .row .li-ctn-log .div-wp-img { padding: 0px 5px; }
    .row .li-ctn-log .wp-titlenews { display: block; padding: 0px; margin-bottom: 15px; }
    .row .li-ctn-log .wp-titlenews .a-title-news { border-bottom: 1px solid #898989; float: left; font-family: UTM Alexander; font-size: 17px; line-height: 22px; padding: 5px 0 10px; text-transform: uppercase; width: 100%; }
    .row .wp-page .a-page-size { font-size: 20px; padding: 0 5px 5px;}
    .row .wp-page { padding: 0 7px; }
    .row .ctn-col3-news-blog { padding: 0px; margin-top: 25px; }
    .blog-news .ul-news-blog { padding: 0 10px; }
    .li-news-blog .div-name-news-blog .a-name-news-blog { padding-top: 8px; }
    .ctn-col3-news-blog .blog-news { margin-bottom: 45px; }
    .title-faceblog .div-title-face .p-title-face { font-size: 17px; }
    .title-faceblog .div-face { display: none; }

    .title-faceblog .div-face-mobi { display: block; padding: 0px; margin-top: 20px; margin-bottom: 70px; }
    /*End NhatNV*/
}

/* Desktop */
@media (min-width: 992px) and (max-width: 1200px) {
}

/* Desktop Large */
@media (min-width: 1200px) {
}

/***************************
// Vọng EB
***************************/
/*** Dịch vụ ***/
/* Menu :  từ 768 - 992 không mở xuống được
*/
@media (max-width: 500px) {
    .product-title .menu-second a{ font-size: 11px;}
    .product-title .menu-second.m-first { padding-right: 0; padding-left: 5px;}
    .product-title .menu-second.m-last { padding-left: 0; padding-right: 5px;}
    .lnk-breadcrumb .breadcrumb li a span { font-size: 14px;}
    .detail-product .detail-item span { font-size: 14px;}
}

@media (min-width: 500px) and (max-width: 665px) {
    .product-title .menu-second a{ font-size: 14px}
}

@media (min-width: 580px) and (max-width: 665px) {
    .product-title .menu-second a{ font-size: 17px}
}

@media (min-width: 580px) and (max-width: 665px) {
    .product-title .menu-second a{ font-size: 17px}
}

@media (min-width: 665px) and (max-width: 1030px) {
    .product-title .menu-second a{ font-size: 20px}
}

@media (max-width: 1200px) {
    .menu-wp li a { font-size: 16px; padding-left: 60px;}
}

@media (max-width: 768px) {
    .service.product-title{ position: relative!important; margin-top: 0;}
    .service.shine-combo { }
    .service.lnk-breadcrumb { display:none;}
    .service.product-title .menu-second { display:none;}
    .service.product-title .menu-second.active { display:block; text-align: center;}
}

/*** Sản phẩm ***/
@media (max-width: 1080px) {
    .product.product-title > .row{ margin: 0 30px;}
}

@media (min-width: 800px) and (max-width: 960px) {
    .product.product-title .menu-second a { font-size: 16px;}
}

@media (min-width: 768px) and (max-width: 800px){
    .product.product-title .menu-second a { font-size: 14px;}
}

@media (max-width: 768px){
    .product.product-title .menu-second{  text-align: left!important;}
    .product.product-title .menu-second a { font-size: 16px;}
    .product.product-title { margin: -84px 0 0;}
    .product-title .menu-second.m-last { padding-left: 15px;}
}

@media (max-width: 440px){
    .product.product-title .menu-second a { font-size: 12px;}
}

@media (max-width: 360px){
    .product.product-title > .row{ margin: 0 5px;}
    .product.product-title .menu-second a { font-size: 11px;}
}

@media (max-width: 768px) {
    .product.product-title { display: none;}
    .product.lnk-breadcrumb { display: none;}
    .slide .slide-item, .slide .reserve-m  { display: none;}

    .detail-product-v2 .left-title { font-size: 24px!important; width: 100%;}
    .detail-product-v2 .left-menu { width: 100%;}
    .detail-product-v2 .order-by ul li { width: 100%; text-align: right;}

    .detail-product-v2 .item-product .thumb-wp { width: 100%; float: left;}
    .detail-product-v2 .item-product .thumb-wp a{ width: 100%; float: left; text-align: center;}
    .detail-product-v2 .item-product .thumb-wp img { max-width: 100%;}

    .detail-product-v2 .left-menu { width: 100%;}
}

@media (min-width: 768px) and (max-width: 992px) {
    .detail-product-v2 .left-title { font-size: 24px!important;}

    .detail-product-v2 .item-product .thumb-wp { width: 100%; float: left;}
    .detail-product-v2 .item-product .thumb-wp a{ width: 100%; float: left; text-align: center;}
    .detail-product-v2 .item-product .thumb-wp img { max-width: 100%;}

    .detail-product-v2 .left-menu { width: 100%;}
    .detail-product-v2 .left-title { width: 100%;}

    .product.product-title { display: none;}
    .product.lnk-breadcrumb { display: none;}
    .slide .slide-item, .slide .reserve-m  { display: none;}
}

@media (min-width: 992px) and (max-width: 1200px) {
    .detail-product-v2 .left-title { font-size: 24px!important;}
}
