﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="CreateFolder.aspx.cs" Inherits="_30shine.GUI.ZTest.CreateFolder" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:TextBox runat="server" ID="textFrom"></asp:TextBox>
        <asp:TextBox runat="server" ID="textTo"></asp:TextBox>
        <asp:TextBox runat="server" ID="textSalonId"></asp:TextBox>
        <asp:TextBox runat="server" ID="textMessage"></asp:TextBox>
        <asp:Button runat="server" Text="Tạo thư mục" />
    </div>
    </form>
</body>
</html>
