﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="FirebaseWebApp.aspx.cs" Inherits="_30shine.GUI.ZTest.FirebaseWebApp" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <h1>Welcome to Firsebase Web App</h1>
    </div>
        
    <script src="https://www.gstatic.com/firebasejs/3.7.3/firebase.js"></script>
    <script>
      // Initialize Firebase
      var config = {
        apiKey: "AIzaSyAna6aEaHXkOJZ8NTChXOlJtvM7QkfH0-s",
        authDomain: "erp-30shine.firebaseapp.com",
        databaseURL: "https://erp-30shine.firebaseio.com",
        storageBucket: "erp-30shine.appspot.com",
        messagingSenderId: "80706579109"
      };
      firebase.initializeApp(config);
    </script>
    </form>
</body>
</html>

