﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="GenPass.aspx.cs" Inherits="_30shine.GUI.ZTest.GenPass" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:TextBox runat="server" ID="textPass" placeholder="Nhập password"></asp:TextBox>
        <asp:Button runat="server" ID="btnPost" Text="Tạo" /><br />
        <label>Password gen: </label><asp:TextBox runat="server" ID="textPassGen" ReadOnly="true"></asp:TextBox>
    </div>
    </form>
</body>
</html>
