﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="GetContentFromUrl.aspx.cs" Inherits="_30shine.GUI.ZTest.GetContentFromUrl" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>    
    <script src="/Assets/js/jquery.v1.11.1.js"></script>
</head>
<body>
<form id="form1" runat="server">

    <script>
        jQuery(document).ready(function () {
            $.ajax({
                url: "http://demoql.30shine.com//GUI/FrontEnd/Service/Service_Add.aspx/GetCustomer",
                dataType: "jsonp",
                success: function (data) {
                    console.log(data);
                    alert(data);
                }
            });
        });        
    </script>

</form>
</body>
</html>
