﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Mess.aspx.cs" Inherits="_30shine.GUI.ZTest.Mess" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script src="../../Assets/js/jquery.v1.11.1.js"></script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <h1>Mess</h1>
        <div id="test" onclick="console.log('hehe');" style="display:none;">Test Click</div>
    </div>
        <script type="text/javascript">
            //window.myvar = "myvar - mess";

            /// Websocket
            //var exampleSocket = new WebSocket("ws://www.example.com/socketserver", "protocolOne");
            var date, hour, min, sec;

            var auto = setInterval(setClickViewData, 1000);

            function setClickViewData()
            {
                date = new Date();
                day = date.getDay();
                hour = date.getHours();
                min = date.getMinutes();
                sec = date.getSeconds();
                console.log(day);
                if (hour == 23 && min == 0 && sec == 0)
                {
                    $("#test").click();
                    console.log(date.getHours() + ":" + date.getMinutes() + ":" + date.getSeconds());
                }                
            }
        </script>
    </form>
</body>
</html>
