﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Service_Pending_Complete.aspx.cs" Inherits="_30shine.GUI.UIService.Service_Pending_Complete" MasterPageFile="~/TemplateMaster/SiteMaster.Master" %>

<asp:Content ID="ServiceAdd" ContentPlaceHolderID="CtMain" runat="server">
<asp:Panel CssClass="wp not-allow-access" ID="NotAllowAccess" runat="server" Visible="false"><i class="fa fa-exclamation-circle"></i>Bạn không có quyền truy cập.</asp:Panel>
<asp:Panel CssClass="wp" ID="ContentWrap" runat="server">

<link href="/Assets/css/plugin.upload.images/pui.style.css" rel="stylesheet" />
<%--<script src="/Assets/js/dropzone.js"></script>
<link href="/Assets/css/dropzone.css" rel="stylesheet" />--%>

<div class="wp sub-menu">
    <div class="wp960">
        <div class="wp content-wp">
            <ul class="ul-sub-menu" id="subMenu">
                <li class="li-listing"><a href="/dich-vu/danh-sach.html">Danh sách</a></li>
                <li class="li-add"><a href="/dich-vu/them-moi.html">Thêm mới</a></li>
                <li class="li-edit active"><a href="javascript://">Chi tiết</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="wp customer-add admin-product-add fe-service" onload="MsgHandler()">
    <%-- Add --%>                
    <div class="wp960 content-wp">
        <!-- System Message -->
        <asp:Label ID="MsgSystem" CssClass="msg-system" runat="server" ClientIDMode="Static"></asp:Label>
        <!-- END System Message -->

        <div class="table-wp">
            <table class="table-add admin-product-table-add fe-service-table-add">
                <tbody>
                    <tr class="title-head">
                        <td><strong>Thông tin dịch vụ</strong></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr class="tr-margin" style="height: 20px;"></tr>

                    <tr class="tr-field-ahalf">
                        <td class="col-xs-2 left"><span>Khách hàng</span></td>
                        <td class="col-xs-7 right">
                            <% if(!CusNoInfor){ %>
                            <span class="field-wp">
                                <asp:TextBox ID="CustomerName" runat="server" ClientIDMode="Static" ReadOnly="true"></asp:TextBox>
                                <asp:TextBox ID="CustomerCode" ReadOnly="true" CssClass="mgl" placeholder="Nhập mã khách hàng ở đây" 
                                    runat="server" ClientIDMode="Static"></asp:TextBox>
                            </span>
                            <% }else{ %>
                            <span class="field-wp">
                                <span class="checkbox cus-no-infor">
                                    <label>
                                        <input type="checkbox" checked="checked" disabled="disabled" id="InputCusNoInfor" runat="server" ClientIDMode="Static"/> Khách không cho thông tin
                                    </label>
                                </span>
                            </span>
                            <% } %>  
                        </td>
                        <td class="col-xs-2"></td>
                    </tr>

                    <tr class="tr-field-ahalf tr-product">
                        <td class="col-xs-2 left"><span>Dịch vụ</span></td>
                        <td class="col-xs-7 right">
                            <div class="row">
                                <% if(HasService){ %>
                                <div class="show-product">Danh sách dịch vụ</div>
                                <% }else{ %>
                                <div class="no-item" style="font-style: italic;">Không có dịch vụ nào</div>
                                <% } %>
                            </div>                            
                            <div class="listing-product" id="ListingServiceWp" runat="server" ClientIDMode="Static">
                                <table class="table table-listing-product">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Tên dịch vụ</th>
                                            <th>Mã dịch vụ</th>
                                            <th>Đơn giá</th>
                                            <th>Số lượng</th>
                                            <th>Giảm giá</th>
                                            <th>Thành tiền</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <asp:Repeater ID="Rpt_Service" runat="server">
                                            <ItemTemplate>
                                                <tr>
                                                    <td class="td-product-index"><%# Container.ItemIndex + 1 %></td>
                                                    <td class="td-product-name"><%# Eval("Name") %></td>
                                                    <td class="td-product-code"><%# Eval("Code") %></td>
                                                    <td class="td-product-price" data-price="<%# Eval("Price") %>"><%# Eval("Price") %></td>
                                                    <td class="td-product-quantity">
                                                        <input type="text" class="product-quantity" value="<%# Eval("Quantity") %>" />
                                                    </td>
                                                    <td class="td-product-voucher" data-voucher="<%# Eval("VoucherPercent") %>"><%# Eval("VoucherPercent") %> (%)</td>
                                                    <td>
                                                        <div class="box-money" style="display:block;">
                                                            <%# Convert.ToInt32(Eval("Quantity")) * Convert.ToInt32(Eval("Price")) * 
                                                            (100-Convert.ToInt32(Eval("VoucherPercent")))/100 %>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </ItemTemplate>
                                        </asp:Repeater>                                        
                                    </tbody>
                                </table>
                            </div>                                           
                        </td>
                        <td class="col-xs-2"></td>
                    </tr>

                    <tr class="tr-field-third">
                        <td class="col-xs-2 left"><span>Nhân viên</span></td>
                        <td class="col-xs-7 right">
                            <span class="field-wp">
                                <asp:TextBox ID="Hairdresser" ReadOnly="true" runat="server" ClientIDMode="Static"></asp:TextBox>
                                <asp:TextBox ID="HairMassage" ReadOnly="true" CssClass="mgl" runat="server" ClientIDMode="Static"></asp:TextBox>
                                <asp:TextBox ID="Cosmetic" ReadOnly="true" CssClass="mgl" runat="server" ClientIDMode="Static"></asp:TextBox>
                            </span>
                                            
                        </td>
                        <td class="col-xs-2"><span class=""></span></td>
                    </tr>

                    <tr class="tr-field-ahalf tr-product">
                        <td class="col-xs-2 left"><span>Sản phẩm</span></td>
                        <td class="col-xs-7 right">
                            <div class="row">
                                <% if(HasProduct){ %>
                                <div class="show-product">Danh sách sản phẩm</div>
                                <% }else{ %>
                                <div class="no-item" style="font-style: italic;">Không có sản phẩm nào</div>
                                <% } %>
                            </div>                            
                            <div class="listing-product" id="ListingProductWp" runat="server" ClientIDMode="Static">
                                <table class="table table-listing-product">
                                    <thead>
                                        <tr>
                                            <th>STT</th>
                                            <th>Tên sản phẩm</th>
                                            <th>Mã sản phẩm</th>
                                            <th>Đơn giá</th>
                                            <th>Số lượng</th>
                                            <th>Giảm giá</th>
                                            <th>Thành tiền</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <asp:Repeater ID="Rpt_Product" runat="server">
                                            <ItemTemplate>
                                                <tr>
                                                    <td class="td-product-index"><%# Container.ItemIndex + 1 %></td>
                                                    <td class="td-product-name"><%# Eval("Name") %></td>
                                                    <td class="td-product-code"><%# Eval("Code") %></td>
                                                    <td class="td-product-price" data-price="<%# Eval("Price") %>"><%# Eval("Price") %></td>
                                                    <td class="td-product-quantity">
                                                        <input type="text" class="product-quantity" value="<%# Eval("Quantity") %>" />
                                                    </td>
                                                    <td class="td-product-voucher" data-voucher="<%# Eval("VoucherPercent") %>"><%# Eval("VoucherPercent") %> (%)</td>
                                                    <td>
                                                        <div class="box-money" style="display:block;">
                                                            <%# Convert.ToInt32(Eval("Quantity")) * Convert.ToInt32(Eval("Price")) * 
                                                            (100-Convert.ToInt32(Eval("VoucherPercent")))/100 %>
                                                        </div>
                                                    </td>
                                                </tr>
                                            </ItemTemplate>
                                        </asp:Repeater>                                        
                                    </tbody>
                                </table>
                            </div>                                           
                        </td>
                        <td class="col-xs-2"></td>
                    </tr>

                    <tr class="tr-description tr-field-ahalf">
                        <td class="col-xs-2 left"><span>Tổng số tiền</span></td>
                        <td class="col-xs-7 right">
                            <span class="field-wp">
                                <asp:TextBox ID="TotalMoney" runat="server" ClientIDMode="Static" Text="0" ReadOnly="true"></asp:TextBox>
                                <span class="unit-money">VNĐ</span>
                            </span>
                        </td>
                        <td class="col-xs-2"></td>
                    </tr>

                    <%--<tr class="tr-upload">
                        <td class="col-xs-2 left"><span>Ảnh</span></td>
                        <td class="col-xs-7 right">
                            <div class="wrap btn-upload-wp">
                                <div id="Btn_UploadImg" class="btn-upload-img" onclick="OpenIframeImage()">Chọn ảnh đăng</div>
                                <asp:FileUpload ID="UploadFile" ClientIDMode="Static" style="display:none;"
                                    CssClass="input-file-upload" runat="server" AllowMultiple="true" />
                                <div class="wrap listing-img-upload">
                                    <% if(HasImages){ %>   
                                    <% for (var i = 0; i < ListImagesName.Length; i++ )
                                       { %>
                                        <div class="thumb-wp" ondblclick ="Exc_cropImage($(this), '<%=ListImagesUrl[i] %>', true)">
                                            <img class="thumb" alt="" title="" src="<%=ListImagesUrl[i] %>" 
                                                data-img="<%=ListImagesUrl[i] %>" />
                                            <span class="delete-thumb" onclick="deleteThum($(this), '<%= ListImagesName[i] %>', true)"></span>
                                        </div>
                                    <% } %>
                                    <% } %>
                                </div>
                            </div>                         
                        </td>
                    </tr>--%>

                    <tr class="tr-description">
                        <td class="col-xs-2 left"><span>Ghi chú</span></td>
                        <td class="col-xs-7 right">
                            <span class="field-wp">
                                <asp:TextBox TextMode="MultiLine" Rows="5" ID="Description" runat="server" ClientIDMode="Static" ReadOnly="true"></asp:TextBox>
                            </span>
                        </td>
                        <td class="col-xs-2"></td>
                    </tr>

                    <tr class="tr-send">
                        <td class="col-xs-2 left"></td>
                        <td class="col-xs-9 right no-border">
                            <span class="field-wp">
                                <asp:Panel ID="BtnSend" CssClass="btn-send" runat="server" ClientIDMode="Static">Hoàn tất</asp:Panel>
                                <asp:Button ID="BtnFakeSend" runat="server" Text="Hoàn tất" 
                                    ClientIDMode="Static" OnClick="AddImages" style="display:none;"></asp:Button>
                            </span>
                        </td>
                    </tr>
                    
                    <asp:HiddenField runat="server" ID="UrlKeyField"  ClientIDMode="Static"/>
                    <asp:HiddenField runat="server" ID="ImgCoverField"  ClientIDMode="Static"/>
                </tbody>
            </table>

            <!-- input hidden -->
            <asp:HiddenField ID="HDF_CustomerCode" runat="server" ClientIDMode="Static"/>
            <asp:HiddenField ID="HDF_ProductIds" runat="server" ClientIDMode="Static"/>
            <asp:HiddenField ID="HDF_TotalMoney" runat="server" ClientIDMode="Static"/>
            <asp:HiddenField ID="HDF_UserImages" runat="server" ClientIDMode="Static"/>
            <asp:HiddenField ID="HDF_UserImagesDelete" runat="server" ClientIDMode="Static"/>
            <!-- END input hidden -->
        </div>
    </div>
    <%-- end Add --%>
</div>

<!-- Danh mục sản phẩm -->
<div class="popup-product-wp popup-product-item">
    <div class="wp popup-product-head">
        <strong>Danh mục sản phẩm</strong>
    </div>
    <div class="wp popup-product-content" >
        <div class="wp popup-product-guide">
            <div class="left">Hướng dẫn:</div>
            <div class="right">
                <p>- Click vào ô check box để chọn sản phẩm</p>
                <p>- Click vào ô số lượng để thay đổi số lượng sản phẩm</p>
            </div>
        </div>
        <div class="wp listing-product item-product">
            <table class="table">
                <thead>
                    <tr>
                        <th><input type="checkbox" /></th>
                        <th>STT</th>
                        <th>Tên sản phẩm</th>
                        <th>Mã sản phẩm</th>
                        <th>Đơn giá</th>
                        <th class="th-product-quantity">Số lượng</th>
                        <th>Giảm giá</th>
                        <th>Thành tiền</th>
                    </tr>
                </thead>
                <tbody>
                    <asp:Repeater ID="Repeater1" runat="server">
                        <ItemTemplate>
                            <tr>
                                <td class="td-product-checkbox item-product-checkbox">
                                    <input type="checkbox" value="<%# Eval("Id") %>"
                                        data-code="<%# Eval("Code") %>" data-name="<%# Eval("Name") %>"/>
                                </td>
                                <td class="td-product-index"><%# Container.ItemIndex + 1 %></td>
                                <td class="td-product-name"><%# Eval("Name") %></td>
                                <td class="td-product-code" data-id="<%# Eval("IdTd1") %>"><%# Eval("Code") %></td>
                                <td class="td-product-price" data-price="<%# Eval("Price") %>"><%# Eval("Price") %></td>
                                <td class="td-product-quantity">
                                    <input type="text" class="product-quantity" value="1" />                                
                                </td>
                                <td class="td-product-voucher" data-voucher="<%# Eval("VoucherPercent") %>"><%# Eval("VoucherPercent") %> (%)</td>
                                <td class="map-edit">
                                    <div class="box-money"></div>
                                    <div class="edit-wp">
                                        <a class="elm del-btn" onclick="RemoveItem(this.parentNode.parentNode.parentNode,'<%# Eval("Name") %>','product')"
                                             href="javascript://" title="Xóa"></a>
                                    </div>
                                </td>
                            </tr>
                        </ItemTemplate>
                    </asp:Repeater>                                        
                </tbody>
            </table>
        </div> 
        <div class="wp btn-wp">
            <div class="popup-product-btn btn-complete" data-item="product">Hoàn tất</div>
            <div class="popup-product-btn btn-esc">Thoát</div>
        </div>
    </div>    
</div>
<!-- END Danh mục sản phẩm -->

<!-- Danh mục dịch vụ -->
<div class="popup-product-wp popup-service-item">
    <div class="wp popup-product-head">
        <strong>Danh mục dịch vụ</strong>
    </div>
    <div class="wp popup-product-content" >
        <div class="wp popup-product-guide">
            <div class="left">Hướng dẫn:</div>
            <div class="right">
                <p>- Click vào ô check box để chọn dịch vụ</p>
                <p>- Click vào ô số lượng để thay đổi số lượng dịch vụ</p>
            </div>
        </div>
        <div class="wp listing-product item-product">
            <table class="table">
                <thead>
                    <tr>
                        <th><input type="checkbox" /></th>
                        <th>STT</th>
                        <th>Tên dịch vụ</th>
                        <th>Mã dịch vụ</th>
                        <th>Đơn giá</th>
                        <th class="th-product-quantity">Số lượng</th>
                        <th>Giảm giá</th>
                        <th>Thành tiền</th>
                    </tr>
                </thead>
                <tbody>
                    <asp:Repeater ID="Repeater2" runat="server">
                        <ItemTemplate>
                            <tr>
                                <td class="td-product-checkbox item-product-checkbox">
                                    <input type="checkbox" value="<%# Eval("IdCheckbox1") %>"
                                        data-code="<%# Eval("Code") %>" data-name="<%# Eval("Name") %>"/>
                                </td>
                                <td class="td-product-index"><%# Container.ItemIndex + 1 %></td>
                                <td class="td-product-name"><%# Eval("Name") %></td>
                                <td class="td-product-code" data-id="<%# Eval("IdTd2") %>"><%# Eval("Code") %></td>
                                <td class="td-product-price" data-price="<%# Eval("Price") %>"><%# Eval("Price") %></td>
                                <td class="td-product-quantity">
                                    <input type="text" class="product-quantity" value="1" />                                
                                </td>
                                <td class="td-product-voucher" data-voucher="<%# Eval("VoucherPercent") %>"><%# Eval("VoucherPercent") %> (%)</td>
                                <td class="map-edit">
                                    <div class="box-money"></div>
                                    <div class="edit-wp">
                                        <a class="elm del-btn" onclick="RemoveItem(this.parentNode.parentNode.parentNode,'<%# Eval("Name") %>','service')"
                                            href="javascript://" title="Xóa"></a>
                                    </div>
                                </td>
                            </tr>
                        </ItemTemplate>
                    </asp:Repeater>                                        
                </tbody>
            </table>
        </div> 
        <div class="wp btn-wp">
            <div class="popup-product-btn btn-complete" data-item="service">Hoàn tất</div>
            <div class="popup-product-btn btn-esc">Thoát</div>
        </div>
    </div>    
</div>
<!-- END Danh mục dịch vụ -->

<script type="text/javascript">
    jQuery(document).ready(function () {
        // Add active menu
        $("#glbService").addClass("active");
        $(".li-edit").addClass("active");

        // Price Format
        $("#BoxMoneyPrice").text(FormatPrice($("#BoxMoneyPrice").text())).show();
        $("#TotalMoney").val(FormatPrice($("#TotalMoney").val()));

        $(".box-money").each(function () {
            $(this).text(FormatPrice($(this).text().trim()));
        });

        $(".td-product-price").each(function () {
            $(this).text(FormatPrice($(this).text().trim()));
        });

        //============================
        // Show System Message
        //============================ 
        var qs = getQueryStrings();
        showMsgSystem(qs["msg_update_message"], qs["msg_update_status"]);

        //==============================
        // Upload Images
        //==============================
        $("#UploadFile").unbind("change").bind("change", function () {
            readImage(this);
        });

        // Btn Send
        $("#BtnSend").bind("click", function () {
            Bind_UserImagesToHDF();
            $("#BtnFakeSend").click();
        });


        //============================
        // Datepicker
        //============================
        $('.txtDateTime').datetimepicker({
            dayOfWeekStart: 1,
            lang: 'vi',
            startDate: '2014/10/10',
            format: 'd/m/Y',
            dateonly: true,
            showHour: false,
            showMinute: false,
            timepicker: false,
            onChangeDateTime: function (dp, $input) { }
        });

        // Execute service, product quantity
        TotalMoney();
        getProductIds();
        getServiceIds();
        ExcQuantity();
        //UpdateItemOrder(tableItem);

    });

    function showMsgSystem(msg, status) {
        $("#MsgSystem").css("opacity", 0).text(msg).addClass(status).fadeTo(0, 1);
        setTimeout(function () {
            $("#MsgSystem").fadeTo("slow", 0, function () {
                $("#MsgSystem").text("").attr("class", "msg-system").css("opacity", 1);
            });
        }, 5000);
    }

    /// Function execute service, product quantity
    // Số lượng | Quantity
    function ExcQuantity() {
        $("input.product-quantity").bind("change", function () {
            var obj = $(this).parent().parent(),
                quantity = $(this).val(),
                price = obj.find(".td-product-price").data("price"),
                voucher = obj.find(".td-product-voucher").data("voucher"),
                boxMoney = obj.find(".box-money");

            boxMoney.text(FormatPrice(quantity * price * (100 - voucher) / 100)).show();
            TotalMoney();
            getProductIds();
            getServiceIds();
        });
    }

    // Xử lý click hoàn tất chọn item từ popup
    function ExcCompletePopup() {
        $("#EBPopup .btn-complete").unbind("click").bind("click", function () {
            var item = $(this).attr("data-item"),
                tableItem = $("table.table-item-" + item + " tbody"),
                objTmp;

            $("#EBPopup .item-product-checkbox input[type='checkbox']:checked").each(function () {
                var Code = $(this).attr("data-code");
                if (!ExcCheckItemIsChose(Code, tableItem)) {
                    objTmp = $(this).parent().parent().clone().find("td:first-child").remove().end();
                    tableItem.append(objTmp);
                }
            });

            TotalMoney();
            getProductIds();
            getServiceIds();
            ExcQuantity();
            UpdateItemOrder(tableItem);
            autoCloseEBPopup(0);
        });
    }

    // Check item đã được chọn
    function ExcCheckItemIsChose(Code, itemClass) {
        var result = false;
        $(itemClass).find(".td-product-code").each(function () {
            var _Code = $(this).text().trim();
            if (_Code == Code)
                result = true;
        });
        return result;
    }

    // Remove item đã được chọn
    function RemoveItem(THIS, name, itemName) {
        // Confirm
        $(".confirm-yn").openEBPopup();

        $("#EBPopup .confirm-yn-text").text("Bạn có chắc chắn muốn hủy [ " + name + " ] ?");
        $("#EBPopup .yn-yes").bind("click", function () {
            THIS.remove();
            TotalMoney();
            getProductIds();
            getServiceIds();
            UpdateItemDisplay(itemName);
            autoCloseEBPopup(0);
        });
        $("#EBPopup .yn-no").bind("click", function () {
            autoCloseEBPopup(0);
        });
    }

    // Update table display
    function UpdateItemDisplay(itemName) {
        var dom = $(".table-item-" + itemName);
        var len = dom.find("tbody tr").length;
        if (len == 0) {
            dom.parent().hide();
        } else {
            UpdateItemOrder(dom.find("tbody"));
        }
    }

    // Update order item
    function UpdateItemOrder(dom) {
        var index = 1;
        dom.find("tr").each(function () {
            $(this).find("td.td-product-index").text(index);
            index++;
        });
    }

    function TotalMoney() {
        var Money = 0;
        $(".fe-service-table-add .box-money:visible").each(function () {
            Money += parseInt($(this).text().replace(/\./gm, ""));
        });
        $("#TotalMoney").val(FormatPrice(Money));
        $("#HDF_TotalMoney").val(Money);
    }

    function showMsgSystem(msg, status) {
        $("#MsgSystem").css("opacity", 0).text(msg).addClass(status).fadeTo(0, 1);
        setTimeout(function () {
            $("#MsgSystem").fadeTo("slow", 0, function () {
                $("#MsgSystem").text("").attr("class", "msg-system").css("opacity", 1);
            });
        }, 5000);
    }

    function getProductIds() {
        var Ids = [];
        var prd = {};
        $("table.table-item-product tbody tr").each(function () {
            prd = {};
            var THIS = $(this);

            prd.Id = THIS.find("td.td-product-code").attr("data-id");
            prd.Code = THIS.find("td.td-product-code").text().trim();
            prd.Name = THIS.find("td.td-product-name").text().trim();
            prd.Price = THIS.find(".td-product-price").attr("data-price");
            prd.Quantity = THIS.find("input.product-quantity").val();
            prd.VoucherPercent = THIS.find(".td-product-voucher").attr("data-voucher");

            Ids.push(prd);

        });
        Ids = JSON.stringify(Ids);
        $("#HDF_ProductIds").val(Ids);
    }

    function getServiceIds() {
        var Ids = [];
        var prd = {};
        $("table.table-item-service tbody tr").each(function () {
            prd = {};
            var THIS = $(this),
                obj = THIS.parent().parent();

            prd.Id = THIS.find("td.td-product-code").attr("data-id");
            prd.Code = THIS.find("td.td-product-code").text().trim();
            prd.Name = THIS.find("td.td-product-name").text().trim();
            prd.Price = THIS.find(".td-product-price").attr("data-price");
            prd.Quantity = THIS.find("input.product-quantity").val();
            prd.VoucherPercent = THIS.find(".td-product-voucher").attr("data-voucher");

            Ids.push(prd);

        });
        Ids = JSON.stringify(Ids);
        $("#HDF_ServiceIds").val(Ids);
    }

</script>

</asp:Panel>
</asp:Content>
