﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="TestTryCatch.aspx.cs" Inherits="_30shine.GUI.ZTest.TestTryCatch" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <h1>Trang test try catch</h1>
        <input type="text" placeholder="Nhap ho ten" id="textFullname" runat="server" />
        <asp:TextBox runat="server" ID="textFullnameControl" placeholder="Nhap ho ten 2"></asp:TextBox>

        <asp:TextBox runat="server" ID="XemHoTen"></asp:TextBox>
        <asp:TextBox runat="server" ID="TextMessage"></asp:TextBox>
        <asp:Button runat="server" Text="Submit" />
        <asp:HiddenField runat="server" />
    </div>
    </form>
</body>
</html>
