﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="TestAsyncTask.aspx.cs" Inherits="_30shine.GUI.ZTest.TestAsyncTask" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
            <h1>Test async task</h1>
        </div>
    </form>
</body>
</html>
