﻿
/*************************************************************************
    Check in
*************************************************************************/
.no-padding { padding: 0px !important; }
.pending-content-wrap { width: auto; float: left; }
.table-add { width: auto !important; float: left; }
.wr-choose-team { width: 60px; margin-right: 25px; float: left; }
.wr-choose-team .team-color-select { width: 60px; float: left; }
.wr-choose-team .time { float: left; width: 100%; line-height: 25px; }

.status-team { line-height: 5px; color: red; height: 5px; }

.booking-pending { padding: 12px; float: left; width: 100%; }
.no-padding { padding: 0px !important; }
.no-margin { margin: 0px !important; }
input { background: none; border: 1px solid #d0d0d0; }
.caption { padding-bottom: 10px; float: left; text-align: left; }
.btn { padding: 5px; background: #d0d0d0; cursor: pointer; }
.table { padding: 5px; }
.table thead tr { background: #d0d0d0; }
.table tr td { padding: 5px; }
table .team { margin: 0px; }
table .team::before { width: 100%; height: 1px; background: #000000; }

table.table td { border: 1px solid #bababa; }
.table-booking thead tr { border-top: 1px solid #bababa; }
.table-booking thead tr td { font-family: Roboto Condensed Bold; }

.team { /*background: #ff0000;*/ padding: 5px; margin: 5px; float: left; width: 50px; height: 20px; cursor: pointer; text-align: center; }
.team:hover { border: 1px solid #d0d0d0; }
.action { padding: 12px; }
.item-color { margin-right: 0px; width: 45px; margin-right: 5px; }


table.table-booked .pending { cursor: pointer; }
table.table-booked .pending:hover { color: #50b347; }
table.table-booked .a-team-color { padding: 0px; margin: 0; }
table.table-booked .pending-team-color { height: 20px; }

.customer-add .table-add tr.tr-send .btn-send { min-width: 80px; width: auto !important; padding: 0 10px; }

/*.fe-service table.fe-service-table-add .iframe-add-customer iframe { min-height: 305px !important; }*/
.customer-add .table-add .no-border { padding-top: 12px !important; }
.fe-service table.fe-service-table-add .checkbox.cus-no-infor { margin-left: 0; }
.customer-listing table.table-listing tbody tr .team-color-edit-box { left: auto; right: -285px; top: -40px; }

.wrap-booking .head { float: left; width: 100%; padding-bottom: 20px; }
.wrap-booking .head .title { float: left; font-family: Roboto Condensed Bold; margin-right: 20px; }
.wrap-booking .head .btn { float: left; }
.wrap-booking .head .btn i { margin-right: 5px; }
.wrap-booking .team { background: red; padding: 0px; margin: 0px; }
.wrap-booking .team.add-staff { float: right; background: #e7e7e7; border: 1px solid #bababa; border-bottom: none; font-size: 12px; line-height: 18px; opacity: 0.6; }
.wrap-booking .team.add-staff:hover { opacity: 1; }
.wrap-booking .staff-name { }
.wrap-booking table { width: 100%; }
.wrap-booking table tr { width: 100%; }
.wrap-booking table tr td { padding: 3px; border: 1px solid #bababa; margin-left: 10px; }


.wrap-booking { float: left; border-bottom: 1px dotted #bababa; margin-bottom: 12px; }
.wrap-booking .field-wp { margin-left: 10px; float: left; }
.wrap-booking .field-wp .wr-choose-team { float: left; width: auto; }
.wrap-booking .wrap-list-added { display: table; }
.wrap-booking .item-added { padding-bottom: 10px; display: inline-block; float: none; }

.wrap-booking .item-color { text-align: center; }
.wrap-booking .item-color i { line-height: 30px; color: #000; display: none; }
.wrap-booking .item-color:hover i { display: block; }
.wrap-booking .item-color.isadded { opacity: 0.4; }
.wrap-booking .item-color.isadded i { display: none; }

.wrap-booking .tag-staff { float: left; padding: 0 10px; font-family: Roboto Condensed Bold; font-size: 13px; border: 1px solid #d0d0d0; border-bottom: none; margin-left: 5px; height: 20px; cursor: pointer; position: relative; }
.wrap-booking .tag-staff i { position: absolute; top: 3px; left: 39%; display: none; }
.wrap-booking .tag-staff:hover { border: 1px solid #2e2e2e; color: #d0d0d0; }
.wrap-booking .tag-staff:hover i { display: block; }

.wrap-booking .item-added .team i { display: none; line-height: 22px; }
.wrap-booking .item-added .team:hover i { display: block; }
.wrap-booking .item-added .input-staff { width: 50px; padding: 0 5px; }

.add-staff-box { position: absolute; top: 21px; right: 15px; float: left; background: #ffffff; padding: 4px; min-width: 290px; display: none; -webkit-box-shadow: 2px 2px 40px 1px rgba(102, 102, 102, 1); -moz-box-shadow: 2px 2px 40px 1px rgba(102, 102, 102, 1); box-shadow: 2px 2px 40px 1px rgba(102, 102, 102, 1); }
.add-staff-box input { width: 160px; float: left; height: 26px; line-height: 26px; padding: 0 5px; position: relative; z-index: 2000; font-size: 13px; }
.add-staff-box .action-box { height: 26px; line-height: 26px; float: left; padding: 0 10px; margin-left: 5px; cursor: pointer; font-size: 13px; font-family: Roboto Condensed Bold; color: #252525; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; -webkit-transition: 0.2s all ease; -moz-transition: 0.2s all ease; -o-transition: 0.2s all ease; -ms-transition: 0.2s all ease; transition: 0.2s all ease; }
.add-staff-box .action-box.complete-box { background: #50b347; }
.add-staff-box .action-box.close-box { background: #ff0000; }
.add-staff-box .action-box:hover { color: #ffffff; -webkit-transition: 0.2s all ease; -moz-transition: 0.2s all ease; -o-transition: 0.2s all ease; -ms-transition: 0.2s all ease; transition: 0.2s all ease; }

.add-staff-box .add-staff-box-wrap { float: left; position: relative; }
.add-staff-box .input-fake-value { float: left; height: 26px; width: 160px; line-height: 26px; padding: 0 6px; position: absolute; top: 0px; left: 0px; z-index: 1000; font-size: 13px; }

ul.ul-sub-menu li { position: relative; }
.wp-booking { width: 450px; height: 400px; padding: 10px; position: absolute; top: 36px; left: 0; z-index: 10000; background: #ffffff; border: 1px solid #d0d0d0; float: left; -webkit-box-shadow: 2px 2px 40px 1px rgba(102, 102, 102, 1); -moz-box-shadow: 2px 2px 40px 1px rgba(102, 102, 102, 1); box-shadow: 2px 2px 40px 1px rgba(102, 102, 102, 1); display: none; }
.wp-booking table { width: 100%; border-collapse: collapse; }
.wp-booking table tr.is-makebill { background: #e7e7e7; }
.wp-booking table tr.is-makebill td { text-decoration: line-through; }
.wp-booking table,
.wp-booking table th,
.wp-booking table td { border: 1px solid black; padding: 3px 10px !important; }
.wp-booking table th { font-weight: normal; font-family: Roboto Condensed Bold; text-align: center; }
.wp-booking .booking-listing { width: 100%; float: left; }
.wp-booking .close-booking-box { width: 52px; height: 26px; position: absolute; top: 0px; right: -1px; background: rgba(102, 102, 102, 1); text-align: center; color: white; line-height: 26px; font-size: 13px; font-style: italic; text-decoration: underline; cursor: pointer; }
.wp-booking .wp-booking-content { width: 100%; height: 100%; float: left; overflow-x: hidden; overflow-y: scroll; }

.fe-service .tr-product .table-listing-product th { padding: 5px;}
.customer-add .table-add td span, .customer-add .table-add td input[type="text"], .customer-add .table-add td select { height: 34px; line-height: 34px;}
.fe-service .filter-item .listing-staff-wp { width: 100%;}
.wp-booking .booking-listing table tr td.c-name { text-transform: capitalize!important; }

/*#trFlowInfor { display:none;}*/
#trFlowInfor p{ margin-top: -3px; margin-bottom: 6px; font-size: 13px; font-style: italic; width: 100%; float: left;}
#trFlowInfor p > span { width: auto; height: auto; line-height: 20px; float: left; font-size: 13px;}
#trFlowInfor p > span._span1 { color: #50b347; }

.validate-phone{ width: 100%; float: left; font-size: 13px; color: red; padding-top: 3px; padding-left: 3px; display:none;}


::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-family: Roboto Condensed Regular!important;
  font-size: 14px;
}
::-moz-placeholder { /* Firefox 19+ */
  font-family: Roboto Condensed Regular!important;
  font-size: 14px;
}
:-ms-input-placeholder { /* IE 10+ */
  font-family: Roboto Condensed Regular!important;
  font-size: 14px;
}
:-moz-placeholder { /* Firefox 18- */
  font-family: Roboto Condensed Regular!important;
  font-size: 14px;
}

.sub-menu ul.ul-sub-menu li { position: relative; z-index: 100000; }

.wp-booking { width: 1010px; height: 480px; display: none; position: relative; top: 0; left: 0; padding: 0; }
.wr-choose-team { width: 17%; margin-right: 0; }
.wr-choose-team .team-color-select { width: 100%; }
.item-color-wrap { width: 83%; float: left; padding-left: 5%; }
.item-color { width: 22%; margin-bottom: 5px; }
.customer-add .table-add tr.tr-send span { width: 100%; }
.customer-add .table-add tr.tr-send .btn-send.btn-print-bill { width: 100% !important; height: auto !important; padding: 15px 10px !important; background: #50b347; text-transform: uppercase; font-family: Roboto Condensed Bold; color: #ffffff; }
.customer-add .table-add tr.tr-send .btn-send.btn-print-bill:hover { background: #fcd344; color: #000000; }

.booking-content .wp-booking { display: block; width: 100%; height: auto; box-shadow: none; position: relative; top: 0; padding: 0; border: none; border-bottom: 1px solid #e7e7e7; }
.booking-content .wp-booking .wp-booking-content { overflow: initial; }
.booking-content .wp-booking .wp-booking-content .booking-listing { height: 480px; overflow-x: hidden; overflow-y: scroll; border-left: 1px solid #e7e7e7; border-right: 1px solid #e7e7e7; }
.booking-content .wp-booking .text-head { width: 100%; float: left; padding: 3px 5px; background: #e7e7e7; -webkit-border-top-left-radius: 5px; -webkit-border-top-right-radius: 5px; -moz-border-radius-topleft: 5px; -moz-border-radius-topright: 5px; border-top-left-radius: 5px; border-top-right-radius: 5px; border: 1px solid #e7e7e7; }

.booking-content .table-booking-list { max-width: 100%; }

.booking-content .checkin-booking { padding-left: 0; padding-right: 0; }
.booking-content .checkin-booking input.booking-input { padding: 3px 5px; line-height: 22px; }
.booking-content .checkin-booking .no-padding-left { padding-left: 0; }

.iframe-booking { width: 100%; min-height: 600px; }
.wp-booking table, .wp-booking table th,
.wp-booking table td { padding: 5px 5px !important; }

.delete-booking { text-align: center; cursor: pointer; position: relative; }
.note-box { display: none; position: absolute; right: 10px; top: 100%; background: #ffffff; z-index: 2000; padding: 10px; -webkit-box-shadow: 0px 0px 9px 5px #bababa; -moz-box-shadow: 0px 0px 9px 5px #bababa; box-shadow: 0px 0px 9px 5px #bababa; }
.note-box textarea { font-size: 13px; margin-bottom: 5px; width: 200px; }
.note-box .btn-action { padding: 5px 5px; }
.note-box .btn-complete { background: #50b347; }
.note-box .btn-close { background: red; }
.note-box > .col-xs-6 { padding-left: 5px; padding-right: 5px; }

.frame-booking-pane { display: none; width: 1010px; height: 600px; display: none; position: relative; top: 0; left: 0; padding: 0; }
#tableBookingList thead tr th:last-child { display: none; }
.delete-booking { display: none; }
.sub-menu ul.ul-sub-menu li { z-index: 1000; }