﻿.title { text-align: center; font-size: 16px; padding: 10px; font-weight: 800; }
textarea, input[type=text], input[type=radio] { width: 100%; float: left; }
input[type=checkbox] { transform: scale(1.7); }
.no-padding { padding-left: 0px !important; padding-right: 0px !important; }
.padding { padding: 12px; }
.background.black {
    background: #000000;
    background-color: #000000;
}
.background.red { background: #ff0000; background-color: #ff0000; }
.background label { color: #ffffff; }
.dialog, #imgCanvas, .title.message { display: none; }
img { width: 100px; height: 100px; }
tbody tr td{padding-top:15px;}


.top-tile { padding: 0; text-align: center; background: #F2D600; padding: 7px 0; }
.do { padding: 0; text-align: center; background: rgb(0, 174, 204); padding: 7px 0; }
.doing { padding: 0; text-align: center; background: rgb(0, 174, 204); padding: 7px 0; border-left: 1px solid #221d1d; border-right: 1px solid #221d1d; cursor: pointer; }
.done { padding: 0; }
.flow3s { text-align: center; background: rgb(0, 174, 204); padding: 7px 0; cursor: pointer; position: relative; }
.flow3s:hover { background: #7ac9f6; }
.flow3s .line-active { width: 100%; height: 4px; float: left; position: absolute; left: 0; bottom: -4px; background: #F2D600; display:none; z-index: 1000; }
.flow3s.active .line-active { display:block; }
.flow3s.flow-todo { background: orange; }
.flow3s.flow-todo a { color: black; }
.flow3s.flow-doing { background: yellow; }
.flow3s.flow-doing a { color: black; }
.flow3s.flow-done { background: #50b347; }
.flow3s.flow-done a { color: white; }
.flow-item { background: #e8e8e8; margin-top: 1px; padding: 0; display: flex;}
.flow-item .col-center { border-left: 1px solid #221d1d; border-right: 1px solid #221d1d; padding: 7px 5px; }
.flow-item .col-center, .flow-item .col-left { padding: 7px 5px; }
.flow-item .col-right { padding: 7px 5px; text-align: center; }
.flow-item .col-right a { text-decoration: underline; color: #000; }
.flow-item .col-center { text-align: center; }
.flow3s a { width: 100%; display: block;}

