﻿.customer-add .table-add td.map-edit .edit-wp {
    display: block
}

.customer-vip {
    width: 30%;
    float: left;
    margin-left: 2%;
    font-family: Roboto Condensed Bold;
    font-weight: normal;
    color: #50b347;
    cursor: pointer
}

    .customer-vip input[type='checkbox'] {
        width: auto !important;
        position: relative;
        top: 2px;
        margin-right: 2px
    }

.item-vipcard {
    height: 36px;
    float: left;
    border: 1px solid #e7e7e7;
    margin-left: 10px;
    cursor: pointer;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden
}

    .item-vipcard.error {
        border: 1px solid red !important
    }

        .item-vipcard.error .left {
            background: red !important
        }

    .item-vipcard:hover, .item-vipcard.active {
        border: 1px solid #50b347
    }

        .item-vipcard:hover .left, .item-vipcard.active .left {
            background: #50b347
        }

    .item-vipcard .left {
        height: 100%;
        float: left;
        background: #e7e7e7;
        line-height: 36px;
        width: 20px;
        text-align: center
    }

        .item-vipcard .left i {
            color: #ffffff
        }

    .item-vipcard .right {
        height: 100%;
        float: left;
        width: 90px
    }

        .item-vipcard .right input[type='text'] {
            border: none !important;
            height: 100% !important;
            width: 100% !important;
            background: #ffffff !important
        }

.degree90 {
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    height: 118px !important;
    width: 118px !important
}

.label-paybycard {
    margin-left: 20px;
    position: relative;
    top: 3px;
    cursor: pointer
}

    .label-paybycard > span {
        float: left;
        width: auto !important;
        line-height: 19px;
        margin-left: 5px;
        font-weight: normal;
        line-height: 18px !important;
        text-transform: uppercase
    }

    .label-paybycard input[type='checkbox'] {
        width: auto !important;
        float: left;
        margin-top: 3px
    }

.show-product {
    background: #e7e7e7;
    padding: 5px 10px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px
}

#quick-product .cus-no-infor {
    width: 100% !important
}


/* chuyen tu tren form sang*/
/*========================*/
.btn-send {
    margin-top: 3px
}

.Wait-Finish {
    height: 30px;
    width: 80px;
    color: #fff;
    margin-left: 37px;
    background-color: navy;
    line-height: 30px
}

    .Wait-Finish:hover {
        color: #ff0
    }

.pSpecCus {
    padding-top: 7px;
    float: left;
    width: 100%;
    text-transform: uppercase;
    color: red !important
}

.cusInfo {
    width: 100%;
    float: left;
    border: none
}

.modal-body .cusInfo {
    float: none !important
}

.pInfo {
    padding-top: 7px;
    float: left;
    width: 100%;
    color: green !important
}

.fe-service .tr-product .show-product.addproduct {
    padding: 9px 12px;
    border-radius: 0;
    margin-left: 16px
}

.wp_add_product {
    width: 100%;
    float: left;
    margin-top: 11px
}

.customer-30shine-care {
    width: 36%;
    float: left;
    font-weight: 400;
    padding: 5px;
    cursor: pointer
}

    .customer-30shine-care input {
        width: auto !important;
        margin-left: 5px;
        margin-right: 5px
    }

#CkRating {
    float: left;
    width: auto;
    margin-right: 10px
}

.rating2 > input:checked ~ label,
.rating2:not(:checked) > label:hover,
.rating2:not(:checked) > label:hover ~ label {
    color: #FFD700
}

.rating {
    border: none;
    float: left;
    margin-left: -10px
}

    .rating > input {
        display: none
    }

    .rating > label:before {
        font-size: 3em;
        font-family: FontAwesome;
        display: inline-block;
        content: "\f005";
        padding-left: 10px;
        margin-top: 10px
    }

    .rating > .half:before {
        content: "\f089";
        position: absolute
    }

    .rating > label {
        color: #ddd;
        float: right
    }

    .rating > input:checked ~ label,
    .rating:not(:checked) > label:hover,
    .rating:not(:checked) > label:hover ~ label {
        color: #FFD700
    }

        .rating > input:checked + label:hover,
        .rating > input:checked ~ label:hover, .rating > label:hover ~ input:checked ~ label,
        .rating > input:checked ~ label:hover ~ label {
            color: #FFED85
        }

.popup-rating .yn-elm.yn-no, .popup-staff-input-error .yn-elm.yn-no {
    width: 60px;
    height: 30px;
    line-height: 30px;
    background: #dfdfdf;
    float: none;
    cursor: pointer;
    text-align: center;
    margin: 25px auto 0;
    background: #50b347;
    color: #fff
}

.select2-container {
    width: 180px !important;
    margin-top: 5px !important
}

.select2-container--default .select2-selection--single {
    height: 32px !important;
    padding-top: 1px !important
}

#Salon {
    width: 285px !important
}

.popup-voucher {
    width: 510px;
    display: none
}

    .popup-voucher .popup-voucher-content {
        width: 100%;
        float: left;
        padding: 30px
    }

    .popup-voucher .voucher-p1 {
        text-align: left !important;
        font-size: 20px;
        line-height: 26px
    }

    .popup-voucher .voucher-p2 {
        text-align: left !important;
        margin-top: 10px
    }

        .popup-voucher .voucher-p2 span {
            font-family: Roboto Condensed Regular;
            font-style: italic;
            text-decoration: underline;
            color: red
        }

    .popup-voucher .yn-wp {
        text-align: center
    }

        .popup-voucher .yn-wp .yn-elm {
            width: 60px;
            height: 30px;
            line-height: 30px;
            background: #dfdfdf;
            cursor: pointer;
            text-align: center;
            display: inline-block;
            margin-top: 15px
        }

            .popup-voucher .yn-wp .yn-elm:hover {
                background: #50b347;
                color: #fff
            }

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    margin-left: -16px;
    margin-top: 2px;
    left: inherit;
    right: 10px
}

.customer-add .table-add tr.tr-product span {
    border-radius: inherit;
    width: 100% !important
}

.wp_ddproduct {
    width: 49%;
    float: left
}

.select2-dropdown {
    z-index: 99999
}

.fe-service .tr-product .show-product.addproduct {
    height: 36px;
    padding-top: 0;
    padding-bottom: 0;
    line-height: 38px;
    margin: 0;
    border-radius: inherit;
    margin-left: 10px
}

.wp_add_product {
    width: 100%;
    margin: 20px 0;
    float: left
}
/*=========end==========*/

