
.effect-video{width: 600px; height: 500px; margin: 0 auto; border: 1px solid #ddd;}
.effect-video .cycle-wp{width: 150px; height: 150px; margin: 0 auto; margin-top: 100px; position: relative;}
.effect-video .cycle,.effect-video .cycle-01{width: 100%; height: 100%; float: left; background: red; position: absolute; top: 0; left: 0; cursor: pointer; opacity: 1;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	border-radius: 150px;
}
.effect-video .cycle-01{/*width: 100px; height: 100px; margin-left: 25px; margin-top: 25px; float: left; */background: black; z-index: 2000;}

.effect-video .cycle-in{
	width: 200px; height: 200px; left: -25px; top: -25px; opacity: 0;
}

.effect-video .cycle-out{
	width: 150px; height: 150px; left: -0px; top: 0px; opacity: 1;
}

.cycle-in-01{
    -webkit-animation: ef1 1.2s;
    animation: ef1 1.2s;
    opacity: 0;
}

@-webkit-keyframes ef1
{
	from {width: 150px; height: 150px; left: -0px; top: 0px; opacity: 1;}
	to {width: 200px; height: 200px; left: -25px; top: -25px; opacity: 0;}
}

@keyframes ef1
{
	from {width: 150px; height: 150px; left: -0px; top: 0px; opacity: 1;}
	to {width: 200px; height: 200px; left: -25px; top: -25px; opacity: 0;}
}

/* box-shadow */
.box-shadow{
	-webkit-box-shadow: 2px 2px 9px 1px rgba(102, 102, 102, 1);
	-moz-box-shadow:    2px 2px 9px 1px rgba(102, 102, 102, 1);
	box-shadow:         2px 2px 9px 1px rgba(102, 102, 102, 1);
}

/* text-shadow */
.text-shadow {text-shadow: 1px 3px rgba(0, 0, 0, 0.7)}

/* easer */
.easer{
	-webkit-transition: 0.1s all ease;
	-moz-transition: 0.1s all ease;
	-o-transition: 0.1s all ease;
	-ms-transition: 0.1s all ease;
	transition: 0.1s all ease;
}

/* Table border css */
table {
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}
