﻿body { background: #F2F2F2; font-family: Roboto Condensed Regular; font-size: 14px;}
.main-content .row{ background: #FFFFFF; margin-top: 10px; margin-bottom: 10px;}
.main-content .row .top-title { border-bottom: 1px solid #f2f2f2; text-align: center; font-family: Roboto Condensed Bold; font-size: 20px; padding: 5px 0;}
.main-content .row .button a{ background: #dfdfdf; padding: 5px 12px; margin-top: 7px; margin-bottom: 4px; color: #000; text-decoration: none; font-size: 13px; }
.main-content .row .button a.active { color: #fff; background: #50b347;}
.main-content .row .button .choose-image { }
.main-content .row .button .choose-again { }
.main-content .row .button { text-align: center; padding-top: 15px; padding-bottom: 7px;}
.main-content .row .hour-note { text-align: center; font-style: italic; margin-bottom: 7px;}
.main-content .row .img-preview { padding: 0;}
.main-content .row .img-preview img { max-width: 100%; margin-bottom: 5px; padding: 0 5px;}