﻿@charset "utf-8";
/* CSS Document */
html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,center,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video,input,textarea{outline:none;border:0;font-size:14px;font-family: 'Open Sans', sans-serif;text-decoration:none;margin:0;padding:0; color: #252525;}
a{text-decoration: none!important;}

/* login css */
body{/*background: #373746;*/ background: #2B3031; position: relative;}

.login-wp{margin-top: 10%; margin-bottom: 40px;}
.login-wp *{font-family: 'Open Sans', sans-serif; color: #ffffff;}
.login-wp .txt-login{font-size: 24px; margin-bottom: 35px; position: relative;}
.login-wp .txt-login .login-msg{width: 100%; float: left; position: absolute; top: 118px;}
.login-wp .txt-login .login-msg.success {color: #afafb2;}
.login-wp .txt-login .login-msg.warning {color: orange;}

.login-wp .input-field{position: relative; margin-top: 20px;}
.login-wp .login-icon{width: 40px; line-height: 40px; position: absolute; top: 1px; left: 16px; font-family: FontAwesome!important; text-align: center; color: #50b347; background: #2B3031; font-size: 18px;}
.login-wp .login-icon.user-icon::before{content: "\f007";}
.login-wp .login-icon.password-icon::before{content: "\f023"}

.login-wp .input-field input[type="text"],
.login-wp .input-field input[type="password"]{width: 100%; padding-left: 60px; background: none; height: 42px; line-height: 42px; border: 1px solid #7A8086; font-size: 14px; background: #ffffff; color: #222222;}

.login-wp .input-field input.active {
    -webkit-animation: loginInputActive 0.3s;
    animation: loginInputActive 0.3s;
    box-shadow: 0px 0px 0px 0px #ff6600;
}

@-webkit-keyframes loginInputActive
{
from {box-shadow: none;}
to {box-shadow: 0px 0px 0px 0px #ff6600;}
}

@keyframes loginInputActive
{
from {box-shadow: none;}
to {box-shadow: 0px 0px 0px 0px #ff6600;}
}

.login-wp .checkbox-wp{ position: relative; margin-top: 20px;}
.login-wp .checkbox-wp .check-box{width: 18px; height: 18px; border: 1px solid #88888A; position: absolute; left: 15px; top: 0; cursor: pointer; display: block;}
.login-wp .checkbox-wp .check-box.active{background: url(../images/orange.png) no-repeat; background-position: -81px -1px; background-position-x: -81px; background-position-y: -1px;}
.login-wp .checkbox-wp .txt{padding-left: 30px; height: 18px; line-height: 18px; font-size: 14px; color: #88888A;}

.login-wp .btn-submit-wp{padding-left: 15px; padding-right: 15px; margin-top: 15px;}
.login-wp .btn-submit{/*background: #3e4764;*/ background: #2B3031; color: #50b347; border: 1px solid #7A8086; padding: 9px 15px; text-align: center; font-size: 14px; cursor: pointer; min-width: 120px; float: right;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
	transition: 0.5s all ease;
}
.login-wp .btn-submit:hover{
	/*background: rgb(29,42,69);*/
	background: #333738; color: #50b347;
	-webkit-transition: 0.5s all ease;
	-moz-transition: 0.5s all ease;
	-o-transition: 0.5s all ease;
	-ms-transition: 0.5s all ease;
	transition: 0.5s all ease;
}


.login-symbol{width: 46px; height: 46px; border: 5px solid #50b347; margin: 10px auto; text-align: center;
	-webkit-border-radius: 46px;
	-moz-border-radius: 46px;
	border-radius: 46px;

	/*-webkit-box-shadow: 1px -1px 2px 0px rgba(102, 102, 102, 1);
	-moz-box-shadow:    1px -1px 2px 0px rgba(102, 102, 102, 1);
	box-shadow:         1px -1px 2px 0px rgba(102, 102, 102, 1);*/
}

.login-symbol i{font-size: 20px; padding-top: 9px; color: #50b347;}

.login-dasboard-txt{text-align: center; font-size: 22px; text-shadow: 1px 1px 2px rgba(0,0,0,0.6); color: #88888A;}

::-webkit-input-placeholder {
		color: #88888A;
}

:-moz-placeholder { /* Firefox 18- */
   color: #88888A;  
}

::-moz-placeholder {  /* Firefox 19+ */
   color: #88888A;  
}

:-ms-input-placeholder {  
   color: #88888A;  
}