﻿/**
 * Menu overview.
 */
.c-menu
{
    position: fixed;
    z-index: 20000;
    background: #ffffff;
    -webkit-transition: -webkit-transform 0.3s;
    transition: transform 0.3s;
}

.c-menu__items
{
    list-style: none;
    margin: 0;
    padding: 0;
}

/**
 * Left and right menus
 *
 * Slide and push menus coming in from the left and right inherit a lot of
 * common styles. We'll start each of them off by doing up the common styles
 * for each version, followed by individual styles.
 *
 * The various versions are governed by modifier classes.
 */
/**
 * Common modifiers for left/right menus.
 */
.c-menu--slide-left,
.c-menu--slide-right,
.c-menu--push-left,
.c-menu--push-right
{
    width: 100%;
    height: 100%;
    overflow-y: hidden;
}

@media all and (min-width: 320px)
{
    .c-menu--slide-left,
    .c-menu--slide-right,
    .c-menu--push-left,
    .c-menu--push-right
    {
        width: 43%; /*min-width:350px;*/
    }
}

.c-menu--slide-left .c-menu__item,
.c-menu--slide-right .c-menu__item,
.c-menu--push-left .c-menu__item,
.c-menu--push-right .c-menu__item
{
    display: block;
    text-align: center;
    border-top: solid 1px #b5dbe9;
    border-bottom: solid 1px #3184a1;
}

.c-menu--slide-left .c-menu__item:first-child,
.c-menu--slide-right .c-menu__item:first-child,
.c-menu--push-left .c-menu__item:first-child,
.c-menu--push-right .c-menu__item:first-child
{
    border-top: none;
}

.c-menu--slide-left .c-menu__item:last-child,
.c-menu--slide-right .c-menu__item:last-child,
.c-menu--push-left .c-menu__item:last-child,
.c-menu--push-right .c-menu__item:last-child
{
    border-bottom: none;
}

.c-menu--slide-left .c-menu__link,
.c-menu--slide-right .c-menu__link,
.c-menu--push-left .c-menu__link,
.c-menu--push-right .c-menu__link
{
    display: block;
    padding: 12px 24px;
    color: #fff;
}

.c-menu--slide-left .c-menu__close,
.c-menu--slide-right .c-menu__close,
.c-menu--push-left .c-menu__close,
.c-menu--push-right .c-menu__close
{
    display: block;
    padding: 12px 5px;
    width: 100%;
}

/**
 * Slide/Push Menu Left.
 */
.c-menu--slide-left,
.c-menu--push-left
{
    top: 0;
    left: 0;
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}

@media all and (min-width: 320px)
{
    .c-menu--slide-left,
    .c-menu--push-left
    {
        -webkit-transform: translateX(-2000px);
        -ms-transform: translateX(-2000px);
        transform: translateX(-2000px);
    }
}

.c-menu--slide-left.is-active,
.c-menu--push-left.is-active
{
    -webkit-transform: translatex(0);
    -ms-transform: translatex(0);
    transform: translatex(0);
}

/**
 * Slide/Push Menu Right.
 */
.c-menu--slide-right,
.c-menu--push-right
{
    top: 0;
    right: 0;
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}

@media all and (min-width: 320px)
{
    .c-menu--slide-right,
    .c-menu--push-right
    {
        -webkit-transform: translateX(2000px);
        -ms-transform: translateX(2000px);
        transform: translateX(2000px);
    }
}

.c-menu--slide-right.is-active,
.c-menu--push-right.is-active
{
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
}

/**
 * Top and bottom menus
 *
 * Slide and push menus coming in from the top and bottom inherit a lot of
 * common styles. We'll start each of them off by doing up the common styles
 * for each version, followed by individual styles.
 *
 * The various versions are governed by modifier classes.

/**
 * Common modifiers for top/bottom menus
 */
.c-menu--slide-top,
.c-menu--slide-bottom,
.c-menu--push-top,
.c-menu--push-bottom
{
    vertical-align: middle;
    width: 100%;
    height: 60px;
    text-align: center;
    overflow-x: scroll;
}

.c-menu--slide-top .c-menu__items,
.c-menu--slide-bottom .c-menu__items,
.c-menu--push-top .c-menu__items,
.c-menu--push-bottom .c-menu__items
{
    display: inline-block;
    text-align: center;
}

.c-menu--slide-top .c-menu__item,
.c-menu--slide-bottom .c-menu__item,
.c-menu--push-top .c-menu__item,
.c-menu--push-bottom .c-menu__item
{
    display: inline-block;
    line-height: 60px;
}

.c-menu--slide-top .c-menu__link,
.c-menu--slide-bottom .c-menu__link,
.c-menu--push-top .c-menu__link,
.c-menu--push-bottom .c-menu__link
{
    display: block;
    padding: 0 4px;
    color: #fff;
}

.c-menu--slide-top .c-menu__close,
.c-menu--slide-bottom .c-menu__close,
.c-menu--push-top .c-menu__close,
.c-menu--push-bottom .c-menu__close
{
    display: inline-block;
    margin-right: 12px;
    padding: 0 24px;
    height: 60px;
    line-height: 60px;
}

/**
 * Slide/Push Menu Top.
 */
.c-menu--slide-top,
.c-menu--push-top
{
    top: 0;
    left: 0;
    -webkit-transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    transform: translateY(-60px);
}

.c-menu--slide-top.is-active,
.c-menu--push-top.is-active
{
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

/**
 * Slide/Push Menu Bottom.
 */
.c-menu--slide-bottom,
.c-menu--push-bottom
{
    bottom: 0;
    left: 0;
    -webkit-transform: translateY(60px);
    -ms-transform: translateY(60px);
    transform: translateY(60px);
}

.c-menu--slide-bottom.is-active,
.c-menu--push-bottom.is-active
{
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
}

/**
 * Wrapper states.
 *
 * Various wrapper states occur depending on if a menu is pushing into view, in
 * which case, the wrapper has to be pushed by the respective distance.
 */
.o-wrapper.has-push-left
{
    -webkit-transform: translateX(100%);
    -ms-transform: translateX(100%);
    transform: translateX(100%);
}

@media all and (min-width: 320px)
{
    .o-wrapper.has-push-left
    {
        -webkit-transform: translateX(250px);
        -ms-transform: translateX(250px);
        transform: translateX(250px);
    }
}

.o-wrapper.has-push-right
{
    -webkit-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    transform: translateX(-100%);
}

@media all and (min-width: 320px)
{
    .o-wrapper.has-push-right
    {
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0);
    }
}

.o-wrapper.has-push-top
{
    -webkit-transform: translateY(60px);
    -ms-transform: translateY(60px);
    transform: translateY(60px);
}

.o-wrapper.has-push-bottom
{
    -webkit-transform: translateY(-60px);
    -ms-transform: translateY(-60px);
    transform: translateY(-60px);
}

/**
 * Body states.
 *
 * When a menu is active, we want to hide the overflows on the body to prevent
 * awkward document scrolling.
 */
body.has-active-menu
{
    overflow: hidden;
}

/**
 * Close button resets.
 */
.c-menu__close
{
    font-family: 'Roboto Condensed Bold';
    color: #FFFFFF;
    font-size: 14px;
    border: none;
    box-shadow: none;
    background: #ffffff;
    border-radius: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
    text-align: right !important;
}

.c-menu__close:focus
{
    outline: none;
}

/* -----------------------------------------------------------------------------

  MASK COMPONENT
  
----------------------------------------------------------------------------- */
.c-mask
{
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    overflow: hidden;
    width: 0;
    height: 0;
    background-color: #ffffff;
    opacity: 0;
    -webkit-transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
    transition: opacity 0.3s, width 0s 0.3s, height 0s 0.3s;
}

.c-mask.is-active
{
    width: 100%;
    height: 100%;
    opacity: 0.7;
    -webkit-transition: opacity 0.3s;
    transition: opacity 0.3s;
}

/* -----------------------------------------------------------------------------

  BUTTONS
  
----------------------------------------------------------------------------- */
.c-buttons
{
    margin-bottom: 48px;
    text-align: center;
}

.c-button
{
    display: inline-block;
    margin: 4px;
    padding: 12px 24px;
    color: #67b5d1;
    background: none;
    font-size: 14px;
    border: solid 2px #67b5d1;
    box-shadow: none;
    border-radius: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    cursor: pointer;
}

.c-button:focus
{
    outline: none;
}

.c-button:disabled
{
    opacity: 0.3;
    cursor: not-allowed;
}

/* -----------------------------------------------------------------------------

  CARBON AD COMPONENT
  
----------------------------------------------------------------------------- */
#carbonads
{
    position: fixed;
    bottom: 12px;
    right: 12px;
    z-index: 1000;
    padding: 24px 12px 12px 12px;
    width: 154px;
    background-color: #fff;
    line-height: 1.1;
    border: solid 1px #e7e7e7;
}

.carbon-wrap
{
    display: block;
    margin: 0 0 4px 0;
}

.carbon-img
{
    display: block;
    margin: 0 0 4px 0;
    padding: 0;
    width: 130px;
    height: 100px;
}

.carbon-text
{
    color: #818181;
    font-size: 12px;
}

.carbon-poweredby
{
    font-size: 10px;
    font-style: italic;
}

.carbonad__close
{
    display: block;
    position: absolute;
    top: 0;
    left: 12px;
    height: 24px;
    font-size: 11px;
    line-height: 24px;
}

@media all and (max-width: 660px)
{
    #carbonads
    {
        display: none;
    }
}

@media (max-width: 768px)
{
}

/*.global-menu-m {padding: 0; z-index: 800; display: none; position: fixed; z-index: 800; top: 35px; left: 343px; width: 100%;}*/

/*** Fix cho version 2 ***/
.global-menu-m li a
{
    text-transform: uppercase;
    font-size: 13px;
    line-height: 30px;
    color: #000;
    display: block;
    padding: 5px 0 5px 20px;
    font-family: 'Roboto Condensed Bold';
}

.global-menu-m li a:hover
{
    color: #edbf07;
}

.global-menu-m > li
{
    position: relative;
    background: #fff;
}

.global-menu-m > li > span
{
    position: absolute;
    right: 0%;
    left: 2px;
    top: 9px;
    color: #000;
    font-size: 15px;
    cursor: pointer;
    width: 12%;
    text-align: center;
}

.global-menu-m > li ul > li
{
    border-top: 1px solid #525252;
}

.global-menu-m > li ul > li > a
{
    padding-left: 30px;
}

.global-menu-m > li ul
{
    display: none;
}

.global-menu-m
{
    left: 0 !important;
    top: 45px !important;
}


.sub-icon
{
    width: 50px;
    display: block;
    margin: 0 auto;
    padding-top: 10px;
}

.sub-text
{
    text-transform: uppercase;
    text-align: center;
    padding: 10px;
    font-family: 'Roboto Condensed Bold';
}

.box-menu
{
    box-shadow: 2px 2px 2px 2px #b8b8b8;
}

.text-box-submenu
{
    margin-top: 10px;
    height: 92%;
    display: -webkit-box;
    -webkit-box-align: center;
    -webkit-box-pack: center;
}

#BodyWrapper
{
    padding: 0;
}

.be-report-li.active i
{
    color: #000000;
}

.be-report .btn-viewdata
{
    background: #000000;
    color: #ffffff;
}

.be-report .btn-viewdata:hover
{
    color: #ffe400;
    background: #000000;
}

.global-menu ul#glbMenu > li
{
    margin-right: 0px;
    margin-bottom: 10px;
}

.global-menu ul#glbMenu > li > a
{
    padding: 10px 10px;
}

.global-menu ul#glbMenu ul.ul-sub-menu
{
    width: 140%;
}

.global-menu ul#glbMenu > li,
.global-menu ul#glbMenu ul.ul-sub-menu li, .global-menu ul#glbMenu ul.ul-sub-menu li.active
{
    background: #000000 !important;
}

.global-menu ul#glbMenu > li > a
{
    color: #ffffff !important;
}

.global-menu ul#glbMenu > li:hover, .global-menu ul#glbMenu > li.active, .global-menu ul#glbMenu ul.ul-sub-menu li:hover,
.global-menu ul#glbMenu ul.ul-sub-menu li.active
{
    background: #000000 !important;
}

.global-menu ul#glbMenu ul.ul-sub-menu li:hover a, .global-menu ul#glbMenu > li.active > a,
.global-menu ul#glbMenu > li:hover > a
{
    color: #ffe400 !important;
}

.global-menu ul#glbMenu > li:hover ul.ul-sub2-menu li a
{
    color: #ffffff !important;
}

.global-menu ul#glbMenu > li:hover ul.ul-sub2-menu li:hover a
{
    color: #ffe400 !important;
}

.global-menu ul#glbMenu ul.ul-sub-menu li a
{
    color: #ffffff;
}

.global-menu ul#glbMenu ul.ul-sub-menu li.active a
{
    color: #ffe400;
    text-decoration: underline !important;
}

.global-menu ul#glbMenu > li.active > a
{
    text-decoration: underline !important;
}

.global-menu ul#glbMenu ul.ul-sub-menu li.active ul.ul-sub2-menu li a
{
    color: #ffffff !important;
    text-decoration: none !important;
}

.global-menu ul#glbMenu ul.ul-sub-menu li.active ul.ul-sub2-menu li:hover a
{
    color: #ffe400 !important;
}

.global-menu ul#glbMenu ul.ul-sub-menu li ul.ul-sub2-menu li
{
    background: #5d5d5d !important;
}

.global-menu ul#glbMenu ul.ul-sub-menu li ul.ul-sub2-menu li ul.ul-sub2-menu li a
{
    color: #ffffff !important;
}

.global-menu ul#glbMenu ul.ul-sub-menu li ul.ul-sub2-menu li ul.ul-sub2-menu li a:hover
{
    color: #ffe400 !important;
}


.customer-listing .tag:hover, .customer-listing .tag.active
{
    background: #000000;
    color: #ffe400 !important;
}

.customer-listing .tag
{
    background: #000000;
    color: #ffffff !important;
}

.sub-menu ul.ul-sub-menu li.active a, .sub-menu ul.ul-sub-menu li:hover a
{
    color: #000000;
    text-decoration: underline !important;
}

.site-paging a.active
{
    background: #000000;
    border: 1px solid #000000;
    color: #ffe400;
}

#login_detail ul.user-login-panel li a
{
    color: #ffffff !important;
}

#login_detail ul.user-login-panel li a:hover
{
    color: #ffe400 !important;
}

#login_detail ul.user-login-panel li
{
    border-bottom: 1px solid #eaeaea;
}

.customer-add .table-add tr.tr-send .btn-send.btn-print-bill
{
    background: #000000;
}

.customer-add .table-add tr.tr-send .btn-send.btn-print-bill:hover
{
    background: #000000;
    color: #ffe400;
}

.site-paging a
{
    background: #000000;
    color: #ffffff;
}

.site-paging a:hover
{
    background: #000000;
    color: #ffe400;
}




@media (max-width: 768px)
{
    .menu-mobile
    {
        display: block !important;
    }

    #menu-desktop
    {
        display: none;
    }
    .menu-desktop {
        display: none;
    }

}

@media (min-width: 768px)
{
    #menu-desktop
    {
        display: flex;
    }

    .menu-desktop {
        display: block;
    }

    .menu-mobile
    {
        display: none;
    }
}
/*** End Fix cho version 2 ***/