﻿.customer-add { overflow: hidden; }
.global-menu ul#glbMenu li { margin-top: 0px; }
.wrap-all-chart-staff { background: url('../images/bg-paper.png') repeat; }

.wp-chart { /*padding: 20px;*/ padding-bottom: 10px; width: 100%; float: left; margin-bottom: 45px; }
    .wp-chart .ct-chart { width: 100%; margin: 0 auto; }
        .wp-chart .ct-chart .ct-label { font-size: 1em; color: #000000; }
.ct-label.ct-horizontal.ct-end { font-size: 0.8em; }
.wp-chart.chart label { width: 100%; color: #000000; text-align: center; font-family: Roboto Condensed Bold; font-size: 20px; /*margin-top: 90px;*/ margin-top: 110px; }
.wp-chart.chart1 label, .wp-chart.chart2 label, .wp-chart.chart3 label, .wp-chart.chart4 label, .wp-chart.chart5 label, .wp-chart.chart6 label { width: 100%; color: #000000; text-align: center; font-family: Roboto Condensed Bold; font-size: 14px; /*margin-top: 90px;*/ margin-top: 50px; }

.title { /*width: 100%;*/ color: #000000; text-align: center; font-family: Roboto Condensed Bold; font-size: 20px; /*margin-top: 90px;*/ margin-top: 50px; border-top: 1px solid #d0d0d0; padding-top: 10px; margin-bottom: 0px; }
.caption { width: 100%; text-align: center; font-family: Roboto Condensed Regular; font-size: 12px; }
.wp-chart .ct-chart .ct-bar { stroke-width: 50px; }
.wp-chart ul li { /*width: 100%;*/ float: left; margin: 5px; }
    .wp-chart ul li .name { float: left; margin-left: 10px; }
    .wp-chart ul li .color { float: left; width: 20px; height: 20px; border-radius: 3px; }
.red { background-color: #d70206; }
.red2 { background-color: #f05b4f; }
.yellow { background-color: #f4c63d; }
.brown { background-color: #d17905; }

.ct-golden-section:before { padding-bottom: 36%; }
/*.btn-viewdata:hover{background-color:#50b347}*/
.be-report .btn-viewdata { border-radius: 3px; }
.btn-viewdata:hover { background: #50b347 !important; color: #ffffff; }
.btn-viewdata.active { background: #50b347; color: #ffffff; }
.ct-label { fill: #000000; }


/*.wp-chart.chart5 .ct-legend { top: 210px; position: relative; z-index: 10; list-style: none; }*/
.wp-chart .ct-legend li { position: relative; padding-left: 23px; margin-bottom: 3px; cursor: pointer; }
.ct-legend li:before { width: 12px; height: 12px; position: absolute; top: 4px; left: 0; content: ''; border: 3px solid transparent; border-radius: 2px; }
.ct-legend li.inactive:before { background: transparent; }
/*.ct-legend.ct-legend-inside { position: absolute; top: 0; right: 0; }*/
.ct-legend .ct-series-0:before { background-color: #d70206; border-color: #d70206; }
.ct-legend .ct-series-1:before { background-color: #f05b4f; border-color: #f05b4f; }
.ct-legend .ct-series-2:before { background-color: #f4c63d; border-color: #f4c63d; }
.ct-legend .ct-series-3:before { background-color: #d17905; border-color: #d17905; }
.ct-legend .ct-series-4:before { background-color: #453d3f; border-color: #453d3f; }
.ct-legend .ct-series-5:before { background-color: #59922b; border-color: #59922b; }
.ct-legend .ct-series-6:before { background-color: #0544d3; border-color: #0544d3; }
.ct-legend .ct-series-7:before { background-color: #59922b; border-color: #59922b; }
.ct-legend .ct-series-8:before { background-color: #f05b4f; border-color: #f05b4f; }


.ct-legend .ct-series-9:before { background-color: #dda458; border-color: #dda458; }

.ct-legend .ct-series-10:before { background-color: #eacf7d; border-color: #eacf7d; }
.ct-legend .ct-series-11:before { background-color: #86797d; border-color: #86797d; }

.ct-legend .ct-series-12:before { background-color: #b2c326; border-color: #b2c326; }

.ct-legend .ct-series-13:before { background-color: #6188e2; border-color: #6188e2; }

.ct-legend .ct-series-14:before { background-color: #a748ca; border-color: #a748ca; }

.ct-legend .ct-series-15:before { background-color: #59922b; border-color: #59922b; }
.ct-legend .ct-series-16:before { background-color: #59922b; border-color: #59922b; }
.ct-legend .ct-series-17:before { background-color: #59922b; border-color: #59922b; }
.ct-legend .ct-series-18:before { background-color: #59922b; border-color: #59922b; }
.ct-legend .ct-series-19:before { background-color: #59922b; border-color: #59922b; }
.ct-legend .ct-series-20:before { background-color: #59922b; border-color: #59922b; }


.ui.radio.checkbox { padding: 0px; }
.ui.form .inline.fields .field { padding-right: 15px !important; }
.radio input[type=radio] { margin: 0px !important; }
/*.checkbox{float:left; width:auto; margin-right:20px;}
            .inline.fields .field{float:left; margin-top:15px;}
              .inline.fields label{float:left;}*/

.no-padding { padding: 0px; }

/*-------------------------------------------------------------*/
.table-report { width: 100%; margin-top: 15px; }
    .table-report .head * { font-size: 12px !important; text-align: center; }
table td[class*=col-], table th[class*=col-] { float: left; }
.table-report td { float: left; border-right: 1px solid #bababa; border-bottom: 1px solid #bababa; height: 30px; line-height: 30px; }
/*#tableStaff thead tr.head{background-color:#d0d0d0}*/
.table-report thead td, #tableStaff2 thead td { background-color: #d0d0d0; border-top: 1px solid #bababa; }
    .table-report thead td.col-end { border-right: 1px solid #bababa; }
.table-report thead tr.title { width: 100%; padding: 0px; }
    .table-report thead tr.title td { font-family: Roboto Condensed Bold; width: 100%; text-align: center; line-height: 40px; height: 40px; font-size: 16px; border: none; border-top: 1px solid #bababa; background: none; }
.table-report thead tr.caption td { font-family: Roboto Condensed Regular; width: 100%; text-align: center; line-height: 30px; height: 30px; font-size: 14px; border: none; border-top: 1px solid #bababa; background: none; border-top: none; }
.table-report td.col-end { border-right: 1px solid #bababa; }
.table-report td.col-first { border-left: 1px solid #bababa; text-align: center; }
.table-report .remove { width: 20px; float: left; height: 30px; }
    .table-report .remove i { cursor: pointer; float: left; display: none; line-height: 30px; text-align: center; }
        .table-report .remove i:hover { color: #d70206; }
.table-report tbody tr:hover .remove i { display: block; }
/*#tableStaff.head{padding:0px;}*/
.top * { font-family: Roboto Condensed Bold; }

.ul-office { list-style: none; }
    .ul-office li { list-style: none; float: left; width: auto; line-height: /*55px*/ 42px; }
.ui.checkbox input[type="checkbox"] { left: 20px !important; margin: 0px; }

.be-report .filter-item .ip-short.warning-red { border: 1px solid red; }
/*tree report*/

#btnReport { font-size: 16px; float: left; line-height: 40px; font-family: Roboto Condensed Bold; width: 130px; cursor: pointer; }
    #btnReport:hover { color: #50b347; }
ul.tree-report { list-style: none; }
    ul.tree-report li { list-style: none; float: left; line-height: 40px; font-family: Roboto Condensed Bold; font-size: 16px; cursor: pointer; margin-left: 5px; }

        ul.tree-report li:hover { color: #50b347; }
        ul.tree-report li.active { color: #50b347; }
        ul.tree-report li i { padding: 0 10px; }

.profile { width: 100%; float: left; padding-bottom: 10px; margin-left: 0%; }
    .profile .info .item { margin: 0px; padding-left: 10px; }
    .profile .info p, .profile .info span { line-height: 25px; font-family: Roboto Condensed Bold; }
    .profile .avatar { height: 80px; width: 75px; padding: 0px; background: url('../images/bg-paper.png') repeat; border: 1px solid #d0d0d0; }
        .profile .avatar img { text-align: center; width: 100%; float: left; height: 80px; }
    .profile #uploadAvartar { margin-left: 10px; cursor: pointer; font-family: Roboto Condensed Regular; font-size: 14px; }
        .profile #uploadAvartar i { padding: 0 10px; }
        .profile #uploadAvartar:hover i { color: #50b347; }
        .profile #uploadAvartar:hover { color: #50b347; }

.be-report .filter-item { height: 45px; }

.table-report tr { width: 100%; }
.table-report .icon-status { width: 17px !important; text-align:center}
.table-report .col-7-head { width: 25%; float: left; text-align:center ; border-left:1px solid #bababa; padding-left:5px;}
.table-report .col-7 { width: 10.714%; float: left;text-align:center }
.table-report .col-2{width:32.1428%;float:left;text-align:center}

/* Desktop */
.ct-chart { position: relative; }
.wp-chart.chart1 .ct-legend, .wp-chart.chart2 .ct-legend, .wp-chart.chart3 .ct-legend, .wp-chart.chart4 .ct-legend, .wp-chart.chart5 .ct-legend, .wp-chart.chart6 .ct-legend, .wp-chart.chart7 .ct-legend { top: 230px; position: relative; z-index: 10; list-style: none; }
.wp-chart.chart3 { margin: 0 auto; float: none; width: 100%; }

/*Desktop*/
@media (min-width: 992px) and (max-width: 1200px) {
    .wp-chart.chart .ct-legend { position: relative; z-index: 10; list-style: none; top: 450px; }
    .ct-legend li { width: auto; }

    /* Desktop */
    .ct-chart { position: relative; }
    .wp-chart.chart1 .ct-legend, .wp-chart.chart2 .ct-legend, .wp-chart.chart3 .ct-legend, .wp-chart.chart4 .ct-legend, .wp-chart.chart5 .ct-legend, .wp-chart.chart6 .ct-legend, .wp-chart.chart7 .ct-legend { top: 230px; position: relative; z-index: 10; list-style: none; }
    .wp-chart.chart3 { margin: 0 auto; float: none; width: 100%; }
}
/* Desktop Large */
@media (min-width: 1900px) {
    .wp-chart.chart .ct-legend { position: relative; z-index: 10; list-style: none; top: 450px; }
    .ct-legend li { width: auto; }

    .wp-chart.chart5 .ct-legend { top: 306px; }
    .wp-chart.chart1 .ct-legend, .wp-chart.chart2 .ct-legend, .wp-chart.chart3 .ct-legend, .wp-chart.chart4 .ct-legend, .wp-chart.chart6 .ct-legend, .wp-chart.chart7 .ct-legend { top: 330px; }

    /* Desktop */
    /*.ct-chart { position: relative; }
    .wp-chart.chart1 .ct-legend, .wp-chart.chart2 .ct-legend, .wp-chart.chart3 .ct-legend, .wp-chart.chart4 .ct-legend, .wp-chart.chart5 .ct-legend, .wp-chart.chart6 .ct-legend { top: 230px; position: relative; z-index: 10; list-style: none; }
    .wp-chart.chart3 { margin: 0 auto; float: none; width: 100%; }*/
}

/* Tablet */
@media (min-width: 768px) and (max-width: 992px) {
    /*.wp-chart .ct-legend { position: relative; z-index: 10; list-style: none; top: 350px; left: 25px; }*/
    .wp-chart { /*height: 700px;*/ padding-bottom: 20px; }
        .wp-chart.chart4 { height: 420px; }
        .wp-chart.chart5 { height: 500px; }
    .ct-legend li { width: 100%; }
    .table-report { margin-bottom: 25px; }
    .customer-add { overflow: initial; }
    /*.wp-chart.chart5 .ct-legend{top:306px;}*/
    .table-report .remove i { display: block !important; }

    /* Desktop */
    .ct-chart { position: relative; }
    .wp-chart.chart1 .ct-legend, .wp-chart.chart2 .ct-legend, .wp-chart.chart3 .ct-legend, .wp-chart.chart4 .ct-legend, .wp-chart.chart5 .ct-legend, .wp-chart.chart6 .ct-legend, .wp-chart.chart7 .ct-legend { top: 350px; position: relative; z-index: 10; list-style: none; }
    .wp-chart.chart3 { margin: 0 auto; float: none; width: 100%; }
}

/* Phone */
@media (max-width: 768px) {
    .ct-legend { position: relative; z-index: 10; list-style: none; top: 315px; left: 25px; }
        .ct-legend li { width: 100%; }

    .wp-chart .ct-legend { position: relative; z-index: 10; list-style: none; top: 350px; left: 25px; }
    .wp-chart { /*height: 700px;*/ padding-bottom: 20px; }
        .wp-chart.chart4 { height: 420px; }
        .wp-chart.chart5 { height: 500px; }
    .ct-legend li { width: 100%; }
    .table-report { margin-bottom: 25px; }
    .customer-add { overflow: initial; }
    .table-report .remove i { display: block !important; }
}

@media (min-width: 300px) and (max-width: 765px) {
    .ct-legend { position: relative; z-index: 10; list-style: none; top: 315px !important; left: 25px; }
        .ct-legend li { width: 100%; }

    .wp-chart .ct-legend { position: relative; z-index: 10; list-style: none; top: 350px; left: 25px; }
    .wp-chart { /*height: 700px;*/ padding-bottom: 20px; }
        .wp-chart.chart4 { height: 420px; }
        .wp-chart.chart5 { height: 500px; }
    .ct-legend li { width: 100%; }
    .table-report { margin-bottom: 25px; }
    .customer-add { overflow: visible; }
    .table-report .remove i { display: block !important; }
}
