﻿@charset "utf-8";
/* CSS Document */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, input, textarea { outline: none; border: 0; font-size: 14px; font-family: Roboto Condensed Regular; text-decoration: none; margin: 0; padding: 0; color: #222222; }
a { text-decoration: none !important; }
ul { list-style: none; }

.wp { width: 100%; float: left; min-width: 960px; }
/*.wp { width: 100%; float: left; overflow: hidden; position: relative; }*/
.wp1000 { width: 1000px; margin: 0 auto; }
.wp1010 { width: 1010px; margin: 0 auto; }
.wp960 { width: 960px; margin: 0 auto; }
.container { max-width: 870px; min-width: 960px; }
.wrap { width: 100%; float: left; }

/**********************************************************
// Header
**********************************************************/
.header .inside-top { height: 139px; background: url(../images/top.jpg) center no-repeat; }
.global-menu .text-head { text-align: center; text-transform: uppercase; width: 100%; font-weight: normal; float: left; font-size: 30px; margin: 30px 0; }
.global-menu ul#glbMenu > li { float: left; position: relative; background: #dfdfdf; margin-right: 10px; }
.global-menu ul#glbMenu > li > a { padding: 0 10px; font-size: 18px; padding: 5px 20px; font-family: Roboto Condensed Regular; font-size: 14px; float: left; margin-right: 0px; }
.global-menu ul#glbMenu > li.active > a,
.global-menu ul#glbMenu > li:hover > a { color: #ffffff !important; }
.global-menu ul#glbMenu > li:hover,
.global-menu ul#glbMenu > li.active { background: #50b347; }

.global-menu ul#glbMenu > li:hover ul.ul-sub-menu { display: block; }
.global-menu ul#glbMenu ul.ul-sub-menu { position: absolute; top: 30px; left: 0; z-index: 20000; border: 1px solid #dfdfdf; background: #fff; display: none; width: auto!important; white-space: nowrap; }
.global-menu ul#glbMenu ul.ul-sub-menu li { float: left; width: 100%; margin-top: 0; padding: 5px 10px; background: #e7e7e7; border-top: 1px solid #bababa; position: relative; }
.global-menu ul#glbMenu ul.ul-sub-menu li:hover,
.global-menu ul#glbMenu ul.ul-sub-menu li.active { background: #bababa !important; }
.global-menu ul#glbMenu ul.ul-sub-menu li:hover a,
.global-menu ul#glbMenu ul.ul-sub-menu li.active a { color: #222222; }
.global-menu ul#glbMenu ul.ul-sub-menu li a { width: 100%; float: left; }
.global-menu ul#glbMenu ul.ul-sub-menu li:first-child { border-top: none; }
.global-menu ul#glbMenu ul li:hover > .ul-sub2-menu { display:block; }

.global-menu .ul-sub2-menu { position: absolute; top: -1px; left: 100%; margin: 0 auto; text-align: left; white-space: nowrap; width: auto; border: 1px solid #dfdfdf; display:none; }
.global-menu .ul-sub2-menu li:first-child { }

/*** top ***/
.header { /*padding-top: 70px;*/ position: relative; }
.header .top { width: 100%; height: 34px; background: #ffffff; border-bottom: 1px solid #ddd; /*position: fixed; top: 0; left: 0; z-index: 1000;*/ position: relative; }

.header ul.header-user-login { height: 34px; float: right; }
.header ul.header-user-login li { float: left; height: 34px; position: relative; }
.header ul.header-user-login .avatar { height: 26px; width: 26px; margin-top: 4px; margin-right: 20px; overflow: hidden; float: left; background: rgba(80,179,71,1); -webkit-border-radius: 16px; -moz-border-radius: 16px; border-radius: 16px; }
.header ul.header-user-login .avatar img { width: 100%; }

.header ul.header-user-login .hello-user { height: 34px; line-height: 34px; float: left; margin-right: 10px; }

.header ul.header-user-login .avatar-wrap { position: relative; float: left; z-index: 2000; }
.header ul.user-login-panel { width: 120px; position: absolute; top: 40px; left: -78px; background: #2B3031; padding: 5px 5px 5px 0; }
.header ul.user-login-panel li { width: 100%; height: auto; }
.header ul.user-login-panel li a { padding: 3px 15px; width: 100%; float: left; line-height: 18px; color: #D0D6D8; border-left: 5px solid #2B3031; font-size: 13px; -webkit-transition: 0.1s all ease; -moz-transition: 0.1s all ease; -o-transition: 0.1s all ease; -ms-transition: 0.1s all ease; transition: 0.1s all ease; }
.header ul.user-login-panel li a:hover { background: #ffffff; border-left: 5px solid #50b347; color: #6a6c6f; -webkit-transition: 0.1s all ease; -moz-transition: 0.1s all ease; -o-transition: 0.1s all ease; -ms-transition: 0.1s all ease; transition: 0.1s all ease; }

.header .top #HeaderUser { display: none; }
.header .top .triangle { width: 0; height: 0; border-style: solid; border-width: 0 5px 6px 5px; border-color: transparent transparent #2B3031 transparent; position: absolute; top: 34px; right: 27px; }

/**********************************************************
// Footer
**********************************************************/
.footer { padding: 30px 0; background: #f5f5f5; border-top: 1px solid #ddd; position: relative; z-index: 100; }


/**********************************************************
// Main
**********************************************************/
.main { min-height: 400px; }

/**********************************************************
// Common
**********************************************************/
.field-wp { position: relative; }

/**********************************************************
// Customer
**********************************************************/
/*** Thêm mới ***/
.customer-add { margin: 5px 0 40px 0; min-height: 600px; }
.customer-add .content-wp { padding: 0 20%; }

.customer-add .content-customer-detail { display: none; padding: 0 20% !important; }
.customer-add .content-customer-history { padding: 0 0 !important; }
.customer-add .content-customer-history .row { margin-left: -15px; margin-right: -15px; }
.customer-add .content-customer-history strong { font-weight: normal; font-family: Roboto Condensed Bold; }
.customer-add .content-customer-history strong i { margin-right: 5px; }
.customer-add .content-customer-history .common-infor p { line-height: 22px; padding: 0 20px; }
.customer-add .content-customer-history .st-head { float: left; padding: 5px 15px 5px 0; border-bottom: 1px solid #bababa; min-width: 266px; margin-bottom: 10px; margin-top: 10px; }
.customer-add .content-customer-history .st-head .view-more-infor { font-size: 12px; font-style: italic; margin-left: 5px; text-decoration: underline; cursor: pointer; }

.customer-add .content-customer-history .customer-value-statistic table tr td { text-align: left; }
.customer-add .content-customer-history .customer-value-statistic table tr td.be-report-price { text-align: right; }

.customer-add .content-customer-history .customer-detail-service { float: left; margin-left: 20px; }
.customer-add .content-customer-history .customer-detail-service ._p { float: left; font-family: Roboto Condensed Bold; font-size: 13px; font-style: italic; text-decoration: underline; padding: 0 10px; }
.customer-add .content-customer-history .customer-detail-service table td { text-align: left; }
.customer-add .content-customer-history .customer-detail-service table td.be-report-price { text-align: right; }
.customer-add .content-customer-history .customer-detail-service .tbl-wp { float: left; }

.customer-add .history-timeline { float: left; position: relative; width: 100%; }
.customer-add .history-timeline .line-h { width: 1px; height: 100%; float: left; position: absolute; top: 50px; left: 50px; background: #e7e7e7; }
.customer-add .history-timeline .left .wrap { position: relative; margin-top: -17px; }
.customer-add .history-timeline .time-value { width: 70px; height: 70px; float: left; -webkit-border-radius: 70px; -moz-border-radius: 70px; border-radius: 70px; background: #50b347; line-height: 70px; text-align: center; color: #ffffff; position: relative; z-index: 1000; }
.customer-add .history-timeline .line-v { width: 150%; height: 1px; background: #e7e7e7; position: absolute; left: 20px; top: 35px; z-index: 500; }

.customer-add .history-timeline table { position: relative; z-index: 1000; background: #ffffff; max-width: 480px; }
.customer-add .history-timeline table tr td { text-align: left; }
.customer-add .history-timeline table tr td:first-child { font-family: Roboto Condensed Bold; }
.customer-add .history-timeline table tr td.be-report-price { text-align: right; }
.customer-add .history-timeline table tr.tr-service-color { background: /*#C0E6C0*/ #f7f7f7; }
.customer-add .history-timeline table tr.tr-product-color { background: /*#FFE6E6*/ #EFEFEF; }
.customer-add .history-timeline table tr.tr-total-color { background: /*#FFFFD1*/ #dfdfdf; }

.customer-add .history-timeline .elm { margin-top: 50px; }

.customer-add .table-add { width: 100%; float: left; }
.customer-add .table-add td { padding: 5px 0; }
.customer-add .table-add td span,
.customer-add .table-add td input[type="text"],
.customer-add .table-add td select { height: 36px; line-height: 36px; width: 100%; float: left; }
.customer-add .table-add td textarea { line-height: 22px; width: 100%; float: left; }
.customer-add .table-add td input[type="text"],
.customer-add .table-add td textarea,
.customer-add .table-add td select { border: 1px solid #ddd; padding: 0 10px; }
.customer-add .table-add td span.field-wp { position: relative; }
.customer-add .table-add tr.tr-description td span { height: auto; }
.customer-add .table-add td.left span { width: 100% !important; float: left; text-align: right; padding-right: 30px; }

.customer-add .table-add td a:hover { color: #222222; text-decoration: underline !important; }

.customer-add .table-add .tr-birthday input[type="text"] { width: 80px; margin-left: 10px; text-align: center; }
.customer-add .table-add .tr-birthday input#Day { margin-left: 0; }

.customer-add .table-add .title-head { border-bottom: 1px solid #ddd; }
.customer-add .table-add .title-head td { height: 30px; position: relative; padding-top: 30px; }
.customer-add .table-add .title-head strong { font-family: Roboto Condensed Bold; font-size: 16px; font-weight: normal; width: 560px; height: 30px; line-height: 30px; float: left; position: absolute; top: 0; }

.customer-add .table-add .after-title-head td { padding-top: 20px; }

.customer-add .table-add tr.tr-send span { width: auto; }
.customer-add .table-add tr.tr-send .btn-send { width: 80px !important; height: 30px; line-height: 30px; float: left; width: auto; background: #ddd; text-align: center; cursor: pointer; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
.customer-add .table-add tr.tr-send .btn-send:hover { background: #50b347; color: #ffffff; }
.customer-add .table-add tr.tr-send .btn-cancel:hover { background: #f00; color: #ffffff; }

.customer-add .table-add tr.tr-product span { width: auto; }
.customer-add .table-add tr.tr-product .wrap { width: 100%; float: left; }
.customer-add .table-add tr.tr-product .wrap * { float: left; height: 24px; line-height: 24px; }
.customer-add .table-add tr.tr-product .wrap input[type="checkbox"] { margin-top: 0px; margin-right: 7px; }

.customer-add .table-add .no-border { padding-top: 25px; }

.customer-add .city, .customer-add .district { width: 49%; float: left; }
.customer-add .district { margin-left: 2%; }
.customer-add #Address { margin-top: 10px; }

.customer-add .table-add td.map-edit { position: relative; padding-right: 50px; }
.customer-add .table-add td.map-edit .edit-wp { position: absolute; right: 3px; top: 24%; background: #e7e7e7; display: none; }
.customer-add .table-add td.map-edit .edit-wp .elm { width: 20px; height: 20px; float: left; display: block; }
.customer-add .table-add td.map-edit .edit-wp .elm.edit-btn { background: url(../images/icon.edit.small.01.png) center no-repeat !important; }
.customer-add .table-add td.map-edit .edit-wp .elm.del-btn { background: url(../images/icon.delete.small.01.png) center no-repeat !important; }
.customer-add .table-add td.map-edit .edit-wp .elm.edit-btn:hover,
.customer-add .table-add td.map-edit .edit-wp .elm.edit-btn.active { background: url(../images/icon.edit.small.png?v=2) center no-repeat !important; }
.customer-add .table-add td.map-edit .edit-wp .elm.del-btn:hover,
.customer-add .table-add td.map-edit .edit-wp .elm.del-btn.active { background: url(../images/icon.delete.small.png) center no-repeat !important; }
.customer-add .table-add td.map-edit .edit-wp .edit-action-wp { float: left; }

.customer-add .table-add .wrap { width: 100%; float: left; }
.customer-add .table-add .wrap.btn-upload-wp { position: relative; }
.customer-add .table-add .wrap.btn-upload-wp .input-file-upload { width: 120px; height: 36px; position: absolute; top: 0; left: 0; z-index: 1000; opacity: 0; cursor: pointer; }
.customer-add .table-add .btn-upload-img { width: 120px; height: 36px; line-height: 36px; text-align: center; background: #dfdfdf; cursor: pointer; }

.customer-add .table-add thead th.th-first { background: #d0d0d0; }

/* Image upload */
.listing-img-upload .thumb-wp { width: 120px; height: 120px; margin-right: 10px; margin-top: 10px; overflow: hidden; float: left; position: relative; border: 1px solid #dfdfdf; cursor: pointer; }
.listing-img-upload .thumb-wp img { position: absolute; }
.listing-img-upload .thumb-wp .delete-thumb { width: 16px; height: 16px; position: absolute; top: 2px; right: 2px; color: red; background: url(../images/icon.delete.small.active.png?v=2) center no-repeat; display: none; }
.listing-img-upload .thumb-wp .delete-thumb:hover { background: url(../images/icon.delete.small.png?v=2) center no-repeat; }
.listing-img-upload .thumb-wp:hover .delete-thumb { display: block; }

.listing-img-upload.title-version .thumb-wp { width: 100%; border: none; height: auto;}
.listing-img-upload.title-version .thumb-wp .left{float: left; position: relative; width: 25%;}
.listing-img-upload.title-version .thumb-wp .left img { float: left; position: relative; max-width: 100%;}
.listing-img-upload.title-version .thumb-wp .right{float: left; width: 75%;}
.listing-img-upload.title-version .thumb-wp .right textarea { margin-top: 10px; height: 100px; max-width: 100%; padding: 10px;}
.listing-img-upload.title-version .thumb-wp .right .action .action-item { float: right; padding: 3px 10px; background: #bababa; text-align: center; margin-left: 5px; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; color: #ffffff; margin-top: 10px;}
.listing-img-upload.title-version .thumb-wp .right .action .action-item i { margin-right: 5px; color: #fff;}
.listing-img-upload.title-version .thumb-wp .right .action .action-delete { background: red;}
.listing-img-upload.title-version .thumb-wp .right .action .action-add { background: #50b347;}

/* validate */
.customer-add .table-add tr td.right { position: relative; }
.customer-add .table-add tr td.right .fb-cover-error { position: absolute; visibility: visible; width: 226px; float: right; right: 8px; top: -20px; border: 1px solid #ff0000 !important; color: red; font-size: 13px; border-radius: 5px; background: #ffffff url(../images/notification_warning_03.png) left no-repeat; padding-left: 32px; }
.customer-add .table-add tr td.right .fb-cover-error.img-cover-error { right: auto; left: 129px; top: 0px; }
.customer-add .table-add tr td.right .fb-cover-error.select-service-error { right: 185px; }

/*** Danh sách ***/
.customer-listing .content-wp { padding: 0 20px; position: relative; float: left; }
.customer-listing table.table-listing thead { background: #ddd; }
.customer-listing table.table-listing th,
.customer-listing table.table-listing th * { font-weight: normal; font-family: Roboto Condensed Bold; text-align: center; }
.customer-listing table.table-listing th.col-name { min-width: 130px; }
.customer-listing table.table-listing .has-sub { padding: 0; }
.customer-listing table.table-listing .has-sub.has-sub-service td { background: #f7f7f7; }
.customer-listing table.table-listing .has-sub.has-sub-product td { background: #efefef; }
.customer-listing table.table-listing .has-sub .title { border-bottom: 1px solid #bababa; height: 30px; line-height: 30px; }
.customer-listing table.table-listing .has-sub .bdr { border-right: 1px solid #bababa; }
.customer-listing table.table-listing .has-sub .sub-table { width: 100%; min-height: 35px; border: none; padding: 0; margin: 0; }
.customer-listing table.table-listing .has-sub .sub-table span.sp-promotion { height: auto !important; line-height: 16px !important; color: red; font-size: 12px; }
.customer-listing table.table-listing .has-sub .sub-table td { padding: 0 5px; border: none; /*border-right: 1px solid #bababa;*/ /*font-family: Roboto Condensed Regular;*/ }
.customer-listing table.table-listing tbody .has-sub .sub-table td { padding: 3px 7px; }
.customer-listing table.table-listing .has-sub .sub-table td.no-bdr { border-right: none; padding-right: 10px; }
.customer-listing table.table-listing .has-sub .sub-table tr { /*border-top: 1px solid #bababa;*/ }
.customer-listing table.table-listing .has-sub .sub-table tr.first { border-top: none; }
.customer-listing table.table-listing .has-sub .sub-table a { float: left; line-height: 18px; }
.customer-listing table.table-listing th,
.customer-listing table.table-listing td { border: 1px solid #bababa; padding: 7px 7px; text-align: center; }
.customer-listing table.table-listing > tbody > tr:hover { cursor: pointer; }
.customer-listing table.table-listing > tbody > tr:hover,
.customer-listing table.table-listing > tbody > tr.active { background: #e7e7e7 !important; }
.customer-listing table.table-listing > tbody > tr:hover .edit-wp { display: block !important; }

.customer-listing table.table-listing tbody tr.expand:hover { cursor: default; }
.customer-listing table.table-listing tbody tr.expand:hover,
.customer-listing table.table-listing tbody tr.expand:hover table.table-row-detail > tbody > tr,
.customer-listing table.table-listing tbody tr.active.expand,
.customer-listing table.table-listing tbody tr.active.expand table.table-row-detail > tbody > tr{ background: #ffffff !important; }
.customer-listing table.table-listing tbody tr.expand .right.no-border { padding-top: 5px; }
.customer-listing table.table-listing tbody tr.expand .right.no-border .field-wp { float: right; }
.customer-listing table.table-listing tbody tr.expand .table-item-product { margin-bottom: 0; }
.customer-listing table.table-listing tbody tr.expand .btn-info{ padding: 10px 30px;
font-size: 14px;}

.customer-listing table.table-listing th.tr-times-used { width: 88px; }

.customer-listing table.table-listing.table-pending td:not(:last-child) { padding: 0 !important; }
.customer-listing table.table-listing.table-pending td:not(:last-child) a { height: 35px; line-height: 35px; float: left; width: 100%; }

.customer-listing .table-func-panel { width: 100%; float: left; position: relative; height: 36px; margin-bottom: 5px; }
.customer-listing .table-func-elm { float: right; }
.customer-listing .table-func-elm > * { float: left; height: 36px; line-height: 36px; }
.customer-listing .table-func-elm .table-func-input-wp { position: relative; }
.customer-listing .table-func-elm .table-func-input-wp i { position: absolute; top: 10px; right: 10px; font-size: 16px; cursor: pointer; color: #bababa; }
.customer-listing .table-func-elm .table-func-input { width: 70px; height: 36px; border: 1px solid #e7e7e7; cursor: pointer; margin-left: 5px; padding-left: 10px; float: left; }
.customer-listing .table-func-elm .table-func-input.opt-segment { }
.customer-listing .table-func-elm .table-func-input-wp ul.ul-opt-segment { width: 70px; float: left; background: #ffffff; border: 1px solid #e7e7e7; position: absolute; top: 37px; right: 0; z-index: 1000; display: none; }
.customer-listing .table-func-elm .table-func-input-wp ul.ul-opt-segment li { padding: 0 10px; height: 28px; line-height: 28px; cursor: pointer; }
.customer-listing .table-func-elm .table-func-input-wp ul.ul-opt-segment li:hover { background: #efefef; }

/* Tag */
.customer-listing .tag-wp { float: left; padding-left: 85px; margin-bottom: 10px; margin-top: 3px; }
.customer-listing .tag { float: left; height: 26px; line-height: 26px; padding: 0px 15px; background: #dfdfdf; margin-right: 7px; cursor: pointer; position: relative; font-size: 13px; -webkit-border-radius: 15px; -moz-border-radius: 15px; border-radius: 15px; }
.customer-listing .tag:hover, .customer-listing .tag.active { background: #50b347; color: #ffffff; }
.customer-listing .tag .txt-date { position: absolute; top: 24px; left: 0; width: 100%; float: left; text-align: center; font-size: 13px; }
.customer-listing .datepicker-wp { float: left; }


/**********************************************************
// Admin - Sản phẩm
**********************************************************/
.admin-product-add { margin-top: 10px; }
.admin-product-add .content-wp { }
.admin-product-add .admin-product-table-add .tr-description td span { height: auto; }
.admin-product-add .admin-product-table-add .tr-description td textarea { padding: 10px; }
.admin-product-add .admin-product-table-add .tr-product-category td select { width: 50%; }

.msg-system { min-height: 10px; margin: 2px 0; width: 100%; float: left; -webkit-border-radius: 6px; -moz-border-radius: 6px; border-radius: 6px; }
.msg-system.warning { background: orange; padding: 1px 15px; margin: 5px 0;}
.msg-system.success { background: #7ec977; color: white; padding: 8px 15px; margin: 5px 0; }

/******************************
// Staff - Edit
*******************************/
.staff-edit table.table-add input,
.staff-edit table.table-add select { margin-left: 0 !important; }
.staff-edit table.table-add .staff-servey-mark td input[type='radio'] { top: 8px; }
.staff-edit table.table-add .tr-birthday input[type='text'] { margin-right: 10px; }

/******************************
// Sub menu
*******************************/
.sub-menu { }
.sub-menu .content-wp { border-bottom: 1px solid #e7e7e7; padding: 10px 0 10px 0; }
.sub-menu ul.ul-sub-menu li { float: left; padding: 0 21px; }
.sub-menu ul.ul-sub-menu li.li-listing { background: url(../images/icon.listing.png) no-repeat; background-position: 0px 5px; background-position-x: 0px; background-position-y: 5px; background-size: 18px auto; }
.sub-menu ul.ul-sub-menu li.li-add { background: url(../images/icon.add.png) no-repeat; background-position: 0px 5px; background-position-x: 0px; background-position-y: 5px; background-size: 18px auto; }
.sub-menu ul.ul-sub-menu li.li-edit { background: url(../images/icon.edit.png) no-repeat; background-position: 0px 5px; background-position-x: 0px; background-position-y: 5px; background-size: 18px auto; }
.sub-menu ul.ul-sub-menu li a { height: 29px; line-height: 29px; float: left; }
.sub-menu ul.ul-sub-menu li.active a,
.sub-menu ul.ul-sub-menu li:hover a { color: #50b347; }
.sub-menu ul.ul-sub-menu li.li-listing.active,
.sub-menu ul.ul-sub-menu li.li-listing:hover { background: url(../images/icon.listing.png) no-repeat; background-position: 0px 5px; background-position-x: 0px; background-position-y: 5px; background-size: 18px auto; }
.sub-menu ul.ul-sub-menu li.li-add.active,
.sub-menu ul.ul-sub-menu li.li-add:hover { background: url(../images/icon.add.png) no-repeat; background-position: 0px 5px; background-position-x: 0px; background-position-y: 5px; background-size: 18px auto; }
.sub-menu ul.ul-sub-menu li.li-edit.active,
.sub-menu ul.ul-sub-menu li.li-edit:hover { background: url(../images/icon.edit.png) no-repeat; background-position: 0px 5px; background-position-x: 0px; background-position-y: 5px; background-size: 18px auto; }

.sub-menu ul.ul-sub-menu li:first-child { padding: 0; height: 29px; line-height: 29px; font-family: Roboto Condensed Bold; margin-right: 15px; font-size: 16px; }

/**********************************************************
// FrontEnd - Sản phẩm
**********************************************************/
.fe-service { }
.fe-service .content-wp { padding: 0 15%; }
.fe-service table.fe-service-table-add tr.tr-field-ahalf input,
.fe-service table.fe-service-table-add tr.tr-field-ahalf select { width: 49%; }
.fe-service table.fe-service-table-add tr.tr-field-ahalf .mgl { margin-left: 10px; }
.fe-service table.fe-service-table-add tr.tr-field-third input,
.fe-service table.fe-service-table-add tr.tr-field-third select { width: 32%; }
.fe-service table.fe-service-table-add tr.tr-field-third .mgl { margin-left: 1%; }

.fe-service table.fe-service-table-add tr td.col-xs-2 { min-width: 120px; padding-left: 10px; }
.fe-service table.fe-service-table-add tr td.col-xs-3.left { min-width: 205px; }

.fe-service table.fe-service-table-add .checkbox.cus-no-infor { margin: 0; margin-left: 10px; float: left; margin-right: 10px; padding-left: 15px; }
.fe-service table.fe-service-table-add .checkbox.cus-no-infor input[type="checkbox"] { width: auto; margin-top: 1px; margin-right: 5px; position: relative; top: 2px; }
.fe-service table.fe-service-table-add .lbl-cus-no-infor { float: left; line-height: 18px; padding-top: 5px; }
.fe-service table.fe-service-table-add .addnew-customer { /*position: absolute; top: 9px; left: 92%;*/ cursor: pointer; width: 100px; float: left; line-height: 18px; padding-top: 10px; margin-left: 5px; }
.fe-service table.fe-service-table-add .addnew-customer:hover,
.fe-service table.fe-service-table-add .addnew-customer:hover i { color: #50b347; }
.fe-service table.fe-service-table-add tr#TrIframeAddCustomer { display: none; }
.fe-service table.fe-service-table-add .iframe-add-customer { border: 1px solid #ddd; display: none; }
.fe-service table.fe-service-table-add .iframe-add-customer iframe { width: 100%; /*min-height: 330px; */ }

.fe-service table.fe-service-table-add .filter-item { width: 33.3%; float: left; padding-right: 10px; position: relative; float: left; z-index: 1010; }
.fe-service table.fe-service-table-add input.ip-short { width: 100% !important; position: relative; z-index: 1000; background: none; }
.fe-service .filter-item select { margin-left: 0 !important; }
.fe-service .filter-item .listing-staff-wp { width: 95.4%; float: left; position: absolute; top: 38px; left: 0; background: #ffffff; border: 1px solid #D0D6D8; }
.fe-service .filter-item ul.ul-listing-staff li { padding: 3px 10px; cursor: pointer; -webkit-transition: 0.01s all ease; -moz-transition: 0.01s all ease; -o-transition: 0.01s all ease; -ms-transition: 0.01s all ease; transition: 0.01s all ease; }

.fe-service .filter-item .mCSB_scrollTools .mCSB_draggerContainer { right: -8px !important; }
.fe-service .filter-item .mCSB_inside > .mCSB_container { margin-right: 12px; }

.fe-service .eb-select-data { max-height: 250px; overflow: hidden; display: none; }

.fe-service .filter-item ul.ul-listing-staff { width: 100%; float: left; }
.fe-service .filter-item ul.ul-listing-staff li:hover,
.fe-service .filter-item ul.ul-listing-staff li.active { background: #50b347; color: #ffffff; -webkit-transition: 0.01s all ease; -moz-transition: 0.01s all ease; -o-transition: 0.01s all ease; -ms-transition: 0.01s all ease; transition: 0.01s all ease; }

.fe-service .filter-item .fake-value { float: left; width: 100%; padding: 0 10px; height: 36px; line-height: 36px; position: absolute; top: 0; left: 1px; z-index: 500; font-family: Roboto Condensed Regular; font-size: 14px; color: #2B3031; }

.fe-service .tr-product td .row { margin-left: 0; margin-right: 0; }
.fe-service .tr-product .show-product { float: left; /*background: url(../images/icon.add.product.active.png) no-repeat; background-position: 0px 0px; background-position-x: 0px; background-position-y: 0px;*/ /*height: 26px;*/ line-height: 18px; /*padding-left: 32px;*/ padding-left: 14px; padding-top: 5px; cursor: pointer; }

.fe-service .tr-product .table-listing-product { margin-bottom: 10px !important; }
.fe-service .tr-product .table-listing-product thead { background: #ddd; }
.fe-service .tr-product .table-listing-product input[type="checkbox"] { width: auto; position: relative; top: 2px; }
.fe-service .tr-product .table-listing-product { border: 1px solid #bababa; }
.fe-service .tr-product .table-listing-product th,
.fe-service .tr-product .table-listing-product td { border: 1px solid #bababa; text-align: center; padding: 6px 10px 6px 10px; height: 26px; line-height: 22px; }
.fe-service .tr-product .table-listing-product td.td-product-name { text-align: left; }
.fe-service .tr-product .table-listing-product th { font-weight: normal; font-family: Roboto Condensed Bold; text-align: center; padding: 10px; }
.fe-service .tr-product .table-listing-product tbody input[type="checkbox"] { top: 0; }
.fe-service .tr-product .table-listing-product tbody input.product-quantity { width: 50px; height: 22px; line-height: 22px; text-align: center; border: none !important; background: none; }
.fe-service .tr-product .table-listing-product tbody td.td-product-quantity { width: 52px; position: relative; }

.fe-service .tr-product .table-listing-product input[type='text'] { height: 22px; line-height: 22px; }

/*.fe-service .tr-product .box-money{width: 110px; float: left; height: 40px; line-height: 40px; border: 1px solid #50b347; padding: 0 10px; position: absolute; right: -120px; top: 0; text-align: left; display: none;}*/
.fe-service .tr-product .box-money { width: 110px; float: left; padding: 0 10px; text-align: right; }
.fe-service .fe-service-table-add .box-money-service { width: 100%; float: left; height: 40px; line-height: 40px; border: 1px solid #50b347; padding: 0 10px; display: none; }

.fe-service .tr-product .listing-product { margin-top: 15px; display: none; }
.fe-service .tr-product .show-product { /*margin-top: 8px;*/ }
.fe-service .tr-product .show-product i { margin-right: 3px; }
.fe-service .tr-product .show-product:hover { color: #50b347; }
.fe-service .tr-product .show-product:hover i { color: #50b347; }

.fe-service .tr-product .checkbox.cus-no-infor { margin: 0; margin-left: 10px; float: left; margin-right: 10px; }
.fe-service .tr-product .checkbox.cus-no-infor input[type="checkbox"] { width: auto; margin-top: 1px; margin-right: 5px; position: relative; top: 2px; }
.fe-service .tr-product .lbl-cus-no-infor { float: left; line-height: 18px; padding-top: 5px; font-family: Roboto Condensed Bold; }

/* Pending */
@-webkit-keyframes pending1 {
    0% { background: #edbf07; -webkit-box-shadow: 0px 0px 9px 1px #edbf07; -moz-box-shadow: 0px 0px 9px 1px #edbf07; box-shadow: 0px 0px 9px 1px #edbf07; }
    /*50% { background: #50b347; -webkit-box-shadow: 0px 0px 9px 1px #50b347; -moz-box-shadow: 0px 0px 9px 1px #50b347; box-shadow: 0px 0px 9px 1px #50b347; }*/
    100% { background: #edbf07; -webkit-box-shadow: 0px 0px 9px 1px #edbf07; -moz-box-shadow: 0px 0px 9px 1px #edbf07; box-shadow: 0px 0px 9px 1px #edbf07; }
}

@keyframes pending1 {
    0% { background: #edbf07; -webkit-box-shadow: 0px 0px 5px 0px #edbf07; -moz-box-shadow: 0px 0px 5px 0px #edbf07; box-shadow: 0px 0px 5px 0px #edbf07; }
    /*50% { background: #50b347; -webkit-box-shadow: 0px 0px 5px 0px #50b347; -moz-box-shadow: 0px 0px 5px 0px #50b347; box-shadow: 0px 0px 5px 0px #50b347; }*/
    100% { background: #edbf07; -webkit-box-shadow: 0px 0px 5px 0px #edbf07; -moz-box-shadow: 0px 0px 5px 0px #edbf07; box-shadow: 0px 0px 5px 0px #edbf07; }
}

.pending-1 { width: 12px; height: 12px; float: left; display: block; position: relative; top: 9px; margin-right: 8px; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; animation: pending1 2.8s linear infinite; -webkit-animation: pending1 2.8s linear infinite; }

.pending-old { width: 12px; height: 12px; float: left; display: block; position: relative; top: 9px; margin-right: 8px; -webkit-border-radius: 50%; -moz-border-radius: 50%; border-radius: 50%; color: #2B3031; background: #2B3031; /*animation: pending1 2.8s linear infinite;
    -webkit-animation: pending1 2.8s linear infinite;*/ }

#subMenu li.li-pending { padding-left: 0px; }
#subMenu li.li-pending-complete { padding-left: 0px; }

.pending-content-wrap { width: 1000px; margin: 0 auto; }
.pending-content-wrap ._p1 { font-family: Roboto Condensed Bold; font-size: 14px; text-transform: uppercase; padding: 10px 0 10px 0; width: 200px; float: left; }
.pending-content-wrap .total-bill { font-family: Roboto Condensed Bold; font-size: 14px; /*text-transform: uppercase;*/ padding: 10px 0 10px 0; width: 200px; float: left; }
.pending-content-wrap ._p2 { font-family: Roboto Condensed Bold; font-size: 14px; padding-bottom: 10px; }
.pending-content-wrap ._p2 i { margin-right: 6px; }
.be-report .pending-content-wrap .table-listing .be-report-price { padding: 0 15px; text-align: left; }
.pending-content-wrap .table-add.tbl-pending-fulldata { margin-bottom: 25px; }

/*** Thêm mới bill ***/
.item-color { width: 60px; height: 30px; float: left; margin-right: 10px; cursor: pointer; border: 1px solid #e7e7e7; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; }
.item-color:hover, .item-color.active { border: 2px solid #6a6c6f; }
.pending-team-color { width: 100%; height: 100%; float: left; }
.a-team-color { padding: 5px; position: relative; }
.customer-listing table.table-listing tbody tr .team-color-edit-box { position: absolute; left: 100%; top: -5px; float: left; width: 390px; background: #fff !important; border: 1px solid #bababa; padding: 10px; z-index: 5000; display: none; -webkit-box-shadow: 2px 2px 9px 1px rgba(102, 102, 102, 1); -moz-box-shadow: 2px 2px 9px 1px rgba(102, 102, 102, 1); box-shadow: 2px 2px 9px 1px rgba(102, 102, 102, 1); }
.team-color-edit-box .color-box-edit { width: 40px; height: 20px; float: left; margin-right: 5px; }
.pending-booking { position: relative; }
.pending-let-booking { position: absolute; top: 0; left: 0; width: 100%; height: 100%; float: left; background: #ffffff; display: block; color: #f00; }
.pending-let-booking * { color: #f00; }
table.table-pending tr:hover .pending-let-booking { display: block; background: #50b347 !important; }
.team-color-select { height: 30px; float: left; width: 60px; margin-right: 70px; background: #ffffff; border: 1px solid #e7e7e7; }

/*** Enroll table ***/
.table-enroll-listing .th-enroll { width: 100px !important; }
.table-enroll-listing .th-parttime { width: 130px !important; }
.table-enroll-listing .map-edit { cursor: pointer; }
.table-enroll-listing input.input-parttime { width: 50px !important; text-align: center; float: none !important; }
.table-enroll-listing input.input-parttime.active { background: #ffffff; }

/**********************************************************
// FrontEnd - Bill Service - Hóa đơn dịch vụ
**********************************************************/
.customer-add .table-add td span.field-wp #TotalMoney1 { border: 1px solid #50b347; }
.customer-add .table-add td span.field-wp .unit-money { width: auto; padding-left: 10px; }
.customer-add .table-add tr.tr-field-ahalf input,
.customer-add .table-add tr.tr-field-ahalf textarea,
.customer-add .table-add tr.tr-field-ahalf select { width: 49%; }
.customer-add .table-add tr.tr-field-ahalf .mgl { margin-left: 2%; }

.popup-product-wp { width: 960px; float: left; display: none; }
.popup-product-wp .wp { min-width: 200px; }
.popup-product-head strong { width: 100%; float: left; text-align: center; font-size: 18px; font-weight: normal; text-transform: uppercase; color: #222222; padding: 12px 0; border-bottom: 1px solid #dbdbdb; }
.popup-product-wp .popup-product-content { padding: 15px 30px 20px 30px; }
.popup-product-wp .listing-product { max-height: 400px; overflow: hidden; padding: 10px 0; }
.popup-product-wp table { border: 1px solid #dbdbdb; }
.popup-product-wp table td,
.popup-product-wp table th { border: 1px solid #dbdbdb; text-align: center; }
.popup-product-wp table th { font-weight: normal; font-family: Roboto Condensed Bold; border-bottom: none !important; }
.popup-product-wp table .td-product-name { text-align: left; padding-left: 20px; }
.popup-product-wp table td.td-product-quantity,
.popup-product-wp table th.th-product-quantity { width: 60px !important; }
.popup-product-wp table td.td-product-quantity input,
.popup-product-wp table th.th-product-quantity input { width: 60px !important; max-width: 100% !important; text-align: center; }

.popup-product-btn { width: 80px !important; height: 30px; line-height: 30px; float: left; width: auto; background: #ddd; text-align: center; cursor: pointer; -webkit-border-radius: 2px; -moz-border-radius: 2px; border-radius: 2px; margin-right: 10px; }
.popup-product-btn.btn-complete:hover { background: #50b347; color: #ffffff; }
.popup-product-btn.btn-esc:hover { background: #ff0000; color: #ffffff; }

.popup-product-wp .popup-product-guide { }
.popup-product-wp .popup-product-guide .left { width: 8%; float: left; }
.popup-product-wp .popup-product-guide .right { width: 92%; float: left; }
.popup-product-wp .popup-product-guide * { font-size: 12px; font-style: italic; color: #808080; }

.popup-product-wp .mCSB_inside > .mCSB_container { margin-right: 20px; }

.customer-add .table-add .table-listing-product tr .edit-wp { background: none; }
.customer-add .table-add .table-listing-product tr:hover .edit-wp { display: block; }

.popup-product-wp .promotion-money { display: none; }

/**********************************************************
// EB Popup
**********************************************************/
.eb-popup-wp { width: 100%; height: 100%; float: left; position: fixed; z-index: 100000; background: rgba(0,0,0,0.6); display: none; }
.eb-popup-wp .eb-popup { width: 100%; float: left; min-height: 20px; background: white; -webkit-box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.7); -moz-box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.7); box-shadow: 0px 0px 12px 3px rgba(0,0,0,0.7); }
.eb-popup-wp .eb-popup-float { margin: 0 auto; position: relative; }

.eb-popup-wp .closeBtn { width: 9px; height: 9px; background: url(../images/icon-collection.png) no-repeat; background-position: left 0 top 0px; background-position-x: 0px; background-position-y: 0; position: absolute !important; top: 6px; right: /*-18px*/6px; cursor: pointer; z-index: 2000; }
.eb-popup-wp .closeBtn .child-wp { width: 100%; position: relative; display: none; }
.eb-popup-wp .closeBtn .child-wp .text { padding: 5px 10px; background: rgba(0,0,0,0.4); color: #ffffff; position: absolute; top: 18px; right: -7px; width: 136px; font-family: Roboto Condensed Light; }
.eb-popup-wp .closeBtn .child-wp .triangle { width: 0; height: 0; border-style: solid; border-width: 0 5px 6px 5px; border-color: transparent transparent rgba(0,0,0,1) transparent; position: absolute; top: 12px; right: -1px; }
.eb-popup-wp .closeBtn:hover .child-wp { display: block; }

/*** Msg success ***/
.msg-success { width: 460px; background: #ffffff; display: none; }
.msg-success .row { padding: 20px 30px; margin: 0; font-family: Roboto Condensed Regular; font-size: 14px; text-align: center; }

/*** Confirm Yes - No ***/
.confirm-yn { width: 460px; float: left; background: #ffffff; display: none; }
.confirm-yn-content { width: 100%; float: left; padding: 30px 30px; }
.confirm-yn .row { margin: 0; }
.confirm-yn .row p { text-align: center; }
.confirm-yn .yn-wp { width: 150px; margin: 15px auto; }
.confirm-yn .yn-wp .yn-elm { width: 60px; height: 30px; line-height: 30px; background: #dfdfdf; float: left; cursor: pointer; text-align: center; }
.confirm-yn .yn-wp .yn-yes { margin-right: 10px; }
.confirm-yn .yn-wp .yn-yes:hover { background: red; color: white; }
.confirm-yn .yn-wp .yn-no:hover { background: #50b347; color: white; }

/**********************************************************
// Navigation Panel
**********************************************************/
.nav-container { z-index: 2000; }
.nav-container .scrollbar-padder #navigation-items > li span { color: #D0D6D8; }
.nav-container .scrollbar-padder #navigation-items > li.menu-header > span { color: #747373; }
.nav-container .scrollbar-padder #navigation-items > li > a.active span,
.nav-container .scrollbar-padder #navigation-items > li > a:hover span { color: #6a6c6f; }
.nav-container .scrollbar-padder #navigation-items > li > a:hover i::before,
.nav-container .scrollbar-padder #navigation-items > li > a.active i::before { color: #50b347; }
.nav-container .scrollbar-padder #navigation-items > li > a i::before { font-family: FontAwesome; color: #D0D6D8; }

.nav-container { background: #2B3031; padding: 0 0 15px; width: 200px; min-height: 100%; float: left; -webkit-transform: translateX(0) translateY(0) translateZ(0); -ms-transform: translateX(0) translateY(0); transform: translateX(0) translateY(0) translateZ(0); position: fixed; top: 0; left: 0; z-index: 3000; }
.nav-container:before { content: ''; display: block; position: absolute; top: 0; left: 0; bottom: 0; z-index: -1; width: inherit; background: inherit; }
.nav-container .scrollbar-padder .sidebar-header { width: 200px; height: 50px; padding: 0px 17px; background: #24292A; color: #fff; margin-bottom: 15px; position: relative; }
.nav-container .scrollbar-padder .sidebar-header > a span { color: #fff; text-decoration: none; line-height: 50px; display: block; font-size: 19px; float: left; letter-spacing: 2px; }
.nav-container .scrollbar-padder .sidebar-header > a.short-name { display: none; font-size: 23px; text-align: center; font-weight: 900; }
.nav-container .scrollbar-padder .sidebar-header > a:hover { color: #fff; text-decoration: none; }
.nav-container .scrollbar-padder .sidebar-avatar { width: 250px; padding: 0 25px; display: none; color: #D0D6D8; }
.nav-container .scrollbar-padder .sidebar-avatar .sba-lock, .nav-container .scrollbar-padder .sidebar-avatar .sba-lock:hover, .nav-container .scrollbar-padder .sidebar-avatar .sba-settings, .nav-container .scrollbar-padder .sidebar-avatar .sba-settings:hover { text-decoration: none; color: #D0D6D8; }
.nav-container .scrollbar-padder #navigation-items { width: 250px; padding: 0; margin: 0; list-style-type: none; }
.nav-container .scrollbar-padder #navigation-items > li { margin-bottom: 5px; }
.nav-container .scrollbar-padder #navigation-items > li.menu-header { padding: 10px 25px 10px; }
.nav-container .scrollbar-padder #navigation-items > li.menu-header > span { color: #747373; letter-spacing: 1px; text-transform: uppercase; font-size: 13px; font-weight: 400; }
.nav-container .scrollbar-padder #navigation-items > li > a { display: block; font-size: 13px; padding: 6px 11px; color: #D0D6D8; text-decoration: none; background: #2B3031; border: none; transition: background,color,border .2s; }
.nav-container .scrollbar-padder #navigation-items > li > a > i { margin-right: 10px; }
.nav-container .scrollbar-padder #navigation-items > li > a > .dcjq-icon { display: none !important; }
.nav-container .scrollbar-padder #navigation-items > li > a.active { background: #fff; border-left: solid 5px; border-left-color: #50b347; color: #6a6c6f; }
.nav-container .scrollbar-padder #navigation-items > li > a.active > i { color: #50b347; }
.nav-container .scrollbar-padder #navigation-items > li:hover > a { color: #6a6c6f; text-decoration: none; background: #fff; border-left: solid 5px; border-color: #50b347; }
.nav-container .scrollbar-padder #navigation-items > li:hover > a > i { color: #50b347; }
.nav-container .scrollbar-padder #navigation-items > li > ul.sub-menu { padding: 0; margin: 0; list-style-type: none; }
.nav-container .scrollbar-padder #navigation-items > li > ul.sub-menu > li > a { display: block; font-size: 13px; padding: 10px 15px 10px 25px; color: #d1d7d9; text-decoration: none; background: #2F3435; }
.nav-container .scrollbar-padder #navigation-items > li > ul.sub-menu > li > a > i { padding-right: 10px; }
.nav-container .scrollbar-padder #navigation-items > li > ul.sub-menu > li > a:hover { color: #d1d7d9; text-decoration: none; }
.nav-container .scrollbar-padder .sidebar-stats { width: 250px; padding: 25px; }
.nav-container .scrollbar-padder .sidebar-stats .sidebar-stats-header { font-size: 11px; color: #747373; text-transform: uppercase; letter-spacing: 1px; }
.nav-container .scrollbar-padder .sidebar-stats .value-one, .nav-container .scrollbar-padder .sidebar-stats .value-two { font-size: 28px; }
.nav-container .scrollbar-padder .sidebar-stats .value-one { color: #50b347; }
.nav-container .scrollbar-padder .sidebar-stats .value-two { color: #fff; }
.nav-container .scrollbar-padder .sidebar-storage-info { width: 250px; padding: 15px 25px; }
.nav-container .scrollbar-padder .sidebar-storage-info .user-storage-text { color: #747373; }
.nav-container .scrollbar-padder .sidebar-storage-info .user-storage-text > p { text-transform: uppercase; font-size: 11px; letter-spacing: 1px; }
.nav-container .scrollbar-padder .sidebar-storage-info .user-storage-text > p > i { margin-right: 10px; }
.fixed-header .view-wrapper { padding-top: 70px; }
.fixed-header .view-wrapper .header-container { position: fixed; z-index: 999; top: 0; right: 0; left: 250px; }
.fixed-header .view-wrapper .header-container .logo-container { display: block; position: fixed; top: 0; left: 0; z-index: 999; }
.fixed-header .nav-container { padding-top: 85px; }
.fixed-header .nav-container .scrollbar-padder .sidebar-header { display: none; }
.fixed-header.collapsed-sidebar .view-wrapper .header-container { left: 70px; }
.fixed-header.fixed-sidebar .nav-container { position: fixed; margin: 0; top: 0; left: 0; bottom: 0; z-index: 999; width: 250px !important; overflow: hidden; }
.fixed-header.fixed-sidebar .nav-container:before { position: fixed; top: 70px; }
.fixed-header.fixed-sidebar .nav-container .scrollbar-padder { height: 100%; width: 267px; overflow-x: hidden; overflow-y: scroll; }
.fixed-header.fixed-sidebar .nav-container .scrollbar-padder > * { width: 250px; }
.fixed-sidebar .nav-container { position: fixed !important; margin: 0; top: 0; left: 0; bottom: 0; z-index: 999; width: 250px !important; overflow: hidden; }
.fixed-sidebar .nav-container:before { position: fixed; top: 70px; }
.fixed-sidebar .nav-container .scrollbar-padder { height: 100%; width: 267px; overflow-x: hidden; overflow-y: scroll; }
.fixed-sidebar .nav-container .scrollbar-padder > * { width: 250px; }
.fixed-footer .footer-container { position: fixed; z-index: 999; }
.fixed-footer.collapsed-sidebar .footer-container { left: 70px; }
.collapsed-sidebar.show-avatar .nav-container .sidebar-avatar { display: none; }
.collapsed-sidebar.show-avatar .nav-container:hover .sidebar-avatar { display: block; }
.collapsed-sidebar.fixed-header.fixed-sidebar .header-container { z-index: 1; }
.collapsed-sidebar.fixed-header.fixed-sidebar .header-container .logo-container { display: none; }
.collapsed-sidebar.fixed-header.fixed-sidebar .nav-container { padding-top: 0; }
.collapsed-sidebar.fixed-header.fixed-sidebar .nav-container .sidebar-header { display: block; }
.collapsed-sidebar .header-container .logo-container { width: 70px; transition: width .2s; }
.collapsed-sidebar .header-container .logo-container > a > span:last-child { opacity: 0; transition: opacity .2s; }
.collapsed-sidebar .nav-container { position: absolute; top: 0; left: 0; bottom: 0; overflow: hidden; z-index: 999; -ms-transform: translateX(-180px) translateY(0) translateZ(0); -webkit-transform: translateX(-180px) translateY(0) translateZ(0); transform: translateX(-180px) translateY(0) translateZ(0); transition: -webkit-transform .2s; transition: transform .2s; }
.collapsed-sidebar .nav-container .scrollbar-padder { -ms-transform: translateX(180px) translateY(0) translateZ(0); -webkit-transform: translateX(180px) translateY(0) translateZ(0); transform: translateX(180px) translateY(0) translateZ(0); transition: -webkit-transform .2s; transition: transform .2s; }
.collapsed-sidebar .nav-container .scrollbar-padder #navigation-items > li a span, .collapsed-sidebar .nav-container .scrollbar-padder #navigation-items > li.menu-header, .collapsed-sidebar .nav-container .scrollbar-padder .sidebar-header > a > span:last-child { opacity: 0; transition: opacity .2s; }
.collapsed-sidebar .nav-container .scrollbar-padder #navigation-items > li a.active ~ .sub-menu { display: none !important; }
.collapsed-sidebar .nav-container .sidebar-stats, .collapsed-sidebar .nav-container .sidebar-storage-info { display: none; }
.collapsed-sidebar .nav-container:hover { -webkit-transform: translateX(0px) translateY(0) translateZ(0); -ms-transform: translateX(0px) translateY(0); transform: translateX(0px) translateY(0) translateZ(0); }
.collapsed-sidebar .nav-container:hover ~ .view-wrapper .header-container .logo-container { width: 250px; }
.collapsed-sidebar .nav-container:hover ~ .view-wrapper .header-container .logo-container > a > span:last-child { opacity: 1; transition: opacity .2s; }
.collapsed-sidebar .nav-container:hover .scrollbar-padder { -webkit-transform: translateX(0) translateY(0) translateZ(0); -ms-transform: translateX(0) translateY(0); transform: translateX(0) translateY(0) translateZ(0); }
.collapsed-sidebar .nav-container:hover .scrollbar-padder #navigation-items > li a span, .collapsed-sidebar .nav-container:hover .scrollbar-padder #navigation-items > li.menu-header, .collapsed-sidebar .nav-container:hover .scrollbar-padder .sidebar-header > a > span:last-child { opacity: 1; }
.collapsed-sidebar .nav-container:hover .scrollbar-padder #navigation-items > li a.active ~ .sub-menu { display: block !important; }
.collapsed-sidebar .nav-container:hover .sidebar-stats, .collapsed-sidebar .nav-container:hover .sidebar-storage-info { display: block; }
.collapsed-sidebar .nav-container:hover .header-container .logo-container { width: 250px !important; }
.collapsed-sidebar .view-wrapper { margin-left: 70px !important; }
.collapsed-sidebar .footer-container { left: 70px; }
.show-avatar .nav-container .sidebar-avatar { display: block; }

ul.header-left-menu { height: 34px; position: absolute; top: -1px; left: 42px; background: #ffffff; z-index: 2000; }
ul.header-left-menu li { float: left; }
ul.header-left-menu li a { display: block !important; }
ul.header-left-menu li i { padding: 0 8px; height: 34px; line-height: 34px; color: #2B3031; }
ul.header-left-menu li#MLHToggle i { padding: 0 15px; }

.nav-container .scrollbar-padder { overflow: hidden; }
.nav-container.is-hide { width: 36px; }
.nav-container .scroll-wrapper { width: 100%; height: 100%; float: left; position: relative; }
.nav-container .scrollbar-padder #navigation-items > li span { opacity: 0; }

/*** nav left ***/
.nav-panel { width: 200px; height: 100%; float: left; position: fixed; top: 0; left: 0; z-index: 2000; background: #2B3031; }
#BodyWrapper { padding-left: 42px; }

/**********************************************************
// Report
**********************************************************/
.be-report .row-filter { position: relative; z-index: 2000; }
.be-report .st-head { float: left; padding: 0; line-height: 29px; color: #222222; font-weight: normal; font-family: Roboto Condensed Bold; margin: 5px 0; font-size: 15px; }
.be-report .st-head i { margin-right: 8px; }

.be-report .time-wp { float: left; position: relative; }
.be-report .time-wp .fb-cover-error { position: absolute; visibility: visible; width: 166px; float: right; left: 103px; top: -12px; border: 1px solid #ff0000 !important; color: red; font-size: 13px; border-radius: 5px; background: #ffffff url(../images/notification_warning_03.png) left no-repeat; padding-left: 32px; padding-top: 5px; padding-bottom: 5px; }
.be-report .time-wp .fb-cover-error.img-cover-error { right: auto; left: 129px; top: 0px; }
.be-report .time-wp .fb-cover-error.select-service-error { right: 185px; }

.be-report .mgt { margin-top: 20px; }
.be-report input[type='text'], .be-report select { height: 31px; border: 1px solid #D0D6D8; margin-left: 12px !important; width: /*242px*/ 160px; font-family: Roboto Condensed Regular !important; font-size: 14px !important; padding: 0 10px; float: left; }
.be-report select { padding: 0 10px !important; }
.be-report .filter-item .ip-short { width: 190px; }
.be-report .filter-item .ip-first { margin-left: 4px !important; }

.be-report .filter-item { position: relative; float: left; margin-left: 8px; z-index: 100; }
.be-report .filter-item input,
.be-report .filter-item select { margin-left: 0 !important; margin: 5px 0 !important; }

/* ul listing suggestion */
.listing-staff-wp { width: 100%; float: left; position: absolute; top: 45px; left: 0; background: #ffffff; border: 1px solid #D0D6D8; display: none; }
ul.ul-listing-staff li { padding: 3px 10px; cursor: pointer; -webkit-transition: 0.01s all ease; -moz-transition: 0.01s all ease; -o-transition: 0.01s all ease; -ms-transition: 0.01s all ease; transition: 0.01s all ease; }
ul.ul-listing-staff { width: 100%; float: left; }
ul.ul-listing-staff li:hover,
ul.ul-listing-staff li.active { background: #50b347; color: #ffffff; -webkit-transition: 0.01s all ease; -moz-transition: 0.01s all ease; -o-transition: 0.01s all ease; -ms-transition: 0.01s all ease; transition: 0.01s all ease; }

.be-report .filter-item .mCSB_scrollTools .mCSB_draggerContainer { right: -8px !important; }
.be-report .filter-item .mCSB_inside > .mCSB_container { margin-right: 12px; }

.be-report .eb-select-data { max-height: 250px; overflow: hidden; display: none; }

.be-report table.table-listing td { position: relative; }
.be-report table.table-listing .has-checkbox { padding-left: 10px; }
.be-report table.table-listing td .checkbox,
.be-report table.table-listing td .radio { left: 12px; line-height: normal; margin: 1px 0 0; position: relative; float: left; }

.be-report table.table-listing.table-listing-salary td { padding: 0 !important; }
.be-report table.table-listing.table-listing-salary td span { height: auto !important; line-height: 18px !important; padding: 4px !important; }
.be-report table.table-listing.table-listing-salary td span.sp-money { border-top: 1px solid #bababa; }
.be-report table.table-listing.table-listing-salary td span.sp-promotion { font-size: 11px; color: red; padding-top: 0 !important; padding-bottom: 0 !important; }

.be-report table.table-listing.table-listing-salary tr.tr-price { display: none; }
.be-report table.table-listing.table-listing-salary tr.tr-price.active { display: block; }
.be-report table.table-listing.table-listing-salary tr.tr-price td { font-size: 11px; color: red; padding-top: 7px !important; padding-bottom: 7px !important; line-height: 16px !important; min-width: 60px; }

.xdsoft_datetimepicker * { font-weight: normal !important; }
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover { background: #bababa !important; }
.xdsoft_datetimepicker .xdsoft_label > .xdsoft_select > div > .xdsoft_option.xdsoft_current { background: #50b347 !important; }
.xdsoft_datetimepicker .xdsoft_label > .xdsoft_select > div > .xdsoft_option.xdsoft_current div { color: #ffffff !important; }

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current { background: #50b347 !important; }

.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_default div,
.xdsoft_datetimepicker .xdsoft_calendar td.xdsoft_current div,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div.xdsoft_current div { color: #ffffff !important; }

.xdsoft_datetimepicker .xdsoft_label > .xdsoft_select > div > .xdsoft_option:hover { background: #bababa !important; color: #222222 !important; }
.xdsoft_datetimepicker .xdsoft_calendar td:hover,
.xdsoft_datetimepicker .xdsoft_timepicker .xdsoft_time_box > div > div:hover { background: #bababa !important; color: #222222 !important; }

.be-report .btn-viewdata { border: 1px solid #D0D6D8; background: #dfdfdf; font-family: Roboto Condensed Regular; font-size: 14px; padding: 0 10px; margin-left: 8px; height: 31px; line-height: 31px; padding: 0 15px; cursor: pointer; }
.be-report .btn-viewdata:hover { background: #e7e7e7; }

.be-report-li { padding: 0 30px 0px 0px !important; }
.be-report-li i { padding-right: 7px; color: #3a3a3c; }
.be-report-li:hover i,
.be-report-li.active i { color: #50b347; }

.be-report .table-listing .be-report-price { text-align: right; padding: 0 30px; }

.be-report .table-listing.report-sales-listing .map-edit { padding-right: 0; padding-left: 0; }
.be-report .table-listing.report-sales-listing .map-edit .be-report-price { padding: 0 20px; }
.be-report .table-listing.report-sales-listing .map-edit .edit-wp { display: none; }

.drop-down-list-wp { position: relative; float: left; margin-left: 10px; }
.drop-down-list-wp > div { margin-left: 0 !important; }
.drop-down-list-wp ul.ul-drop-down-list { width: 100%; float: left; position: absolute; top: 44.2px; background: #f5f5f5; z-index: 2000; }
.drop-down-list-wp ul.ul-drop-down-list li { padding: 3px 10px; cursor: pointer; }
.drop-down-list-wp ul.ul-drop-down-list li:hover { background: #e7e7e7; }

.be-report.be-report-timekeeping .mCS-light-2.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar, .mCS-dark-2.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar { width: 10px !important; }
.be-report.be-report-timekeeping .mCS-light-2.mCSB_scrollTools .mCSB_draggerRail, .mCS-dark-2.mCSB_scrollTools .mCSB_draggerRail { width: 10px !important; }

/**********************************************************
// Paging
**********************************************************/
.site-paging-wp { width: 100%; float: left; margin: 35px 0; overflow: hidden; }
.site-paging { width: 405px; margin: 0 auto; }
.site-paging * { float: left; }
.site-paging a { width: 36px; height: 36px; line-height: 36px; text-align: center; background: #eeeeee; border: 1px solid #dddddd; font-family: Roboto Condensed Regular; color: #999999; margin-right: 9px; }
.site-paging a.active { background: #50b347; border: 1px solid #50b347; color: #ffffff; }
.site-paging a:hover { background: #50b347; border: 1px solid #50b347; color: #ffffff; -webkit-transition: 0.2s all ease; -moz-transition: 0.2s all ease; -o-transition: 0.2s all ease; -ms-transition: 0.2s all ease; transition: 0.2s all ease; }

/**********************************************************
// FIX
**********************************************************/
.global-menu .text-head { display: none; }
.container { width: 100%; max-width: 100%; padding-left: 20px; padding-right: 20px; }
.row { margin-left: 0; margin-right: 0; }
.wp960 { width: 100%; padding: 0 20px; }
.global-menu { margin-top: 5px; }
.global-menu ul#glbMenu li { margin-top: 10px; }
.dz-work-flow { display: none; }

.loading-frame { position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: #ffffff url(/Assets/images/loading.gif) center no-repeat; z-index: 100000; opacity: 0.5; }

/**********************************************************
// Not have permission
**********************************************************/
.not-allow-access { padding: 30px 30px; color: red; }
.not-allow-access i { color: red; font-size: 22px; margin-right: 6px; position: relative; top: 2px; }

/**********************************************************
// Print Bill
**********************************************************/
#PrintBill { display: block; }
.customer-add .table-add td.map-edit .edit-wp .edit-action-wp.print-btn { display: block; }
.customer-add .table-add td.map-edit .edit-wp .edit-action-wp.print-btn i { font-size: 18px; position: relative; top: 2px; left: 0px; margin-right: 6px; color: #50b347; }
.customer-add .table-add td.map-edit .edit-wp .edit-action-wp.print-btn i:hover { color: #edbf07 !important; }

/**********************************************************
// Rating
**********************************************************/
.rating-icon-wrap { float: left; }
.rating-icon { float: left; margin-right: 10px; text-align: center; padding-top: 40px; min-width: 85px; min-height: 40px; color: #ddd; cursor: pointer; }
.rating-icon.icon-sad { background: url(/Assets/images/sad-gray-40.png) top center no-repeat; }
.rating-icon.icon-normal { background: url(/Assets/images/normal-3-gray-40.png) top center no-repeat; }
.rating-icon.icon-happy { background: url(/Assets/images/happy-gray-40.png) top center no-repeat; }
.rating-icon.active { color: #50b347; }
.rating-icon.icon-sad.active { background: url(/Assets/images/sad-green-40.png) top center no-repeat; }
.rating-icon.icon-normal.active { background: url(/Assets/images/normal-3-green-40.png) top center no-repeat; }
.rating-icon.icon-happy.active { background: url(/Assets/images/happy-green-40.png) top center no-repeat; }

/**********************************************************
// Staff servey
**********************************************************/
.staff-servey-mark { }
.staff-servey-mark tr { float: left; margin-right: 15px; }
.staff-servey-mark td { padding-top: 0 !important; padding-bottom: 0 !important; }
.staff-servey-mark td * { cursor: pointer; }
.staff-servey-mark td input[type='radio'] { float: left; position: relative; top: 4px; }
.staff-servey-mark td label { padding-left: 3px; float: left; font-weight: normal; font-family: Roboto Condensed Bold; }

/**********************************************************
// Notification box
**********************************************************/
.notification-box { position: fixed; top: 5px; right: 10px; background: rgba(0,0,0,0.8); padding: 15px 20px; color: #50b347; display: none; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; -webkit-box-shadow: 2px 2px 9px 1px rgba(102, 102, 102, 1); -moz-box-shadow: 2px 2px 9px 1px rgba(102, 102, 102, 1); box-shadow: 2px 2px 9px 1px rgba(102, 102, 102, 1); z-index: 2100; }

/**********************************************************
// Cấu hình lương
**********************************************************/
.config-salary table.table-config-salary .input-inline-wp { width: 100%; float: left; text-align: center; }
.config-salary table.table-config-salary .input-inline-wp input[type='text'] { width: 76px; float: none; text-align: center; height: 26px; line-height: 26px; padding-left: 5px; padding-right: 5px; margin-left: 0 !important; border: none; background: none; }
.config-salary table.table-config-salary .input-inline-wp input[type='text']:hover,
.config-salary table.table-config-salary .input-inline-wp input[type='text']:focus { border: 1px solid rgba(102, 102, 102, 1); }

/**********************************************************
// Check-in
**********************************************************/
.table-booking .td-bill-status { padding-top: 2px; padding-bottom: 2px; }
.table-booking .td-bill-status .status-value { width: 100%; float: left; text-align: center; font-family: Roboto Condensed Bold; }
.table-booking .td-bill-status .status-time { width: 100%; float: left; text-align: center; font-size: 13px; margin-top: -2px; }
.table-booking .td-bill-status .status-value.status-step1 { color: red; }
.table-booking .td-bill-status .status-value.status-step2 { color: orange; }
.table-booking .td-bill-status .status-value.status-complete { color: #50b347; margin-top: 5px; }

/**********************************************************
// WorkTime
**********************************************************/
.woktime-listing .wp_worktime { float: right; padding-right: 5%; width:100%; }
.woktime-listing .wp_worktime .btn-workhour.active { background: #50b347; color: #ffffff; }
.wp_lstbookhour { width: 365px; height: 315px; padding: 10px; position: absolute; top: 36px; right: 0; z-index: 10000; background: #ffffff; border: 1px solid #d0d0d0; float: left; -webkit-box-shadow: 2px 2px 40px 1px rgba(102, 102, 102, 1); -moz-box-shadow: 2px 2px 40px 1px rgba(102, 102, 102, 1); box-shadow: 2px 2px 40px 1px rgba(102, 102, 102, 1); display: none; }

.wp_lstbookhour .close_bookHourId_box { width: 52px; height: 26px; position: absolute; top: 0px; right: -1px; background: rgba(102, 102, 102, 1); text-align: center; color: white; line-height: 26px; font-size: 13px; font-style: italic; text-decoration: underline; cursor: pointer; }
.wp_lstbookhour .div_lst_bookhour { width: 100%; float: left; margin-top: 25px; }
.wp_lstbookhour .div_lst_bookhour .it_bookhour { background: #fbb104; color: #000; cursor: default; line-height: 29px; display: block; float: left; width: 24%; margin-right: 1%; margin-bottom: 1%; cursor: pointer; text-decoration: none !important; }
.wp_lstbookhour .div_lst_bookhour .it_bookhour:hover { text-decoration: none !important; }
.wp_lstbookhour .div_lst_bookhour .it_bookhour.active { text-decoration: none !important; background: #5cb85c; color: #FFF; }
.wp_lstbookhour .close_bookHourId_box { width: 52px; height: 26px; position: absolute; top: 0px; right: -1px; background: rgba(102, 102, 102, 1); text-align: center; color: white; line-height: 26px; font-size: 13px; font-style: italic; text-decoration: underline; cursor: pointer; }
.wp_lstbookhour .div_lst_bookhour { width: 100%; float: left; margin-top: 25px; }
.wp_lstbookhour .div_lst_bookhour .it_bookhour { background: #fbb104; color: #000; cursor: default; line-height: 29px; display: block; float: left; width: 24%; margin-right: 1%; margin-bottom: 1%; cursor: pointer; text-decoration: none !important; }
.wp_lstbookhour .div_lst_bookhour .it_bookhour:hover { text-decoration: none !important; }
.wp_lstbookhour .div_lst_bookhour .it_bookhour.active { text-decoration: none !important; background: #5cb85c; color: #FFF; }

.wp_btn_hourId { width: 100%; float: left; margin-top: 8px; }
.wp_btn_hourId .btn_hourId { float: left; float: right; padding: 0 15px; line-height: 28px; font-family: Roboto Condensed Regular; border: 1px solid #D0D6D8; background: #dfdfdf; }
.wp_btn_hourId .btn_hourId:hover { background: #e7e7e7; text-decoration: none !important; }
._hourname { float: left; background: #5cb85c; color: #FFF; line-height: 18px; font-family: Roboto Condensed Regular; margin-right: 5px; margin-bottom: 5px; width: 40px; font-size: 11px; }
.wp_worktime .div_ca { float: right; margin: 5px 30px 5px 0px; }
.wp_worktime .div_ca .boxca { width: 12px; height: 12px; background: #ccc; float: left; margin-top: 17px; }
.wp_worktime .div_ca .bg_ca1 { background: #d4d2d2; }
.wp_worktime .div_ca .bg_ca2 { background: #c4c2c2; }
.wp_worktime .div_ca .bg_ca3 { background: #adabab; }
.wp_worktime .div_ca .p_ca { float: left; font-family: Roboto Condensed Regular; margin-left: 5px; line-height: 45px; font-size: 15px; margin-right: 35px; }
.div_tinhcong{float:right;}

/* PAGE LOADING */
.page-loading { width: 100%; height: 100%; position: fixed; top: 0; left: 0; z-index: 1000000; background: rgba(0,0,0, 0.65) url(/Assets/images/load_ring.svg) center no-repeat; text-align: center; display: none; }
.page-loading p { color: #fcd344; position: relative; top: 50%; padding-top: 37px; line-height: 22px; }


/**********************************************************
// Media Query
**********************************************************/


@media (min-width: 1440px) {
    .customer-add .table-add.table-sales-total-report { width: 50%; }
}


/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {
}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {
}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
}

/** Reset **/
span.reset_element {
    height: auto!important;
    line-height: initial!important;
    width: initial!important;
    float: none!important;
    display: inline-block!important;
}

/** Color Range **/
.color-red {
    color: #F44336!important;
}