<li><a href='javascript:void(0)'>Báo cáo</a><ul class='ul-sub-menu'><li><a href='/admin/bao-cao/salary-v3.html'>Tính lương</a><ul class='ul-sub2-menu'></ul></li></ul></li>
<li><a href='javascript:void(0)'>Chấm công</a><ul class='ul-sub-menu'><li><a href='/admin/nhan-vien.html'>DS Nhân viên</a><ul class='ul-sub2-menu'></ul></li></ul></li>
<li><a href='javascript:void(0)'>Hàng DV</a><ul class='ul-sub-menu'><li><a href='javascript:void(0)'>Xuất VT</a><ul class='ul-sub2-menu'><li><a href='/my-pham/xuat-nv/xuat-moi.html'>Cho nhân viên</a><ul class='ul-sub2-menu'></ul></li></ul></li></ul></li>
<li><a href='javascript:void(0)'>Quản lý</a><ul class='ul-sub-menu'><li><a href='javascript:void(0)'>Dòng tiền</a><ul class='ul-sub2-menu'><li><a href='/admin/ngan-sach/khoan-thuong-xuyen/danh-sach.html'>Danh mục thu chi</a><ul class='ul-sub2-menu'></ul></li><li><a href='/admin/ngan-sach/thu-chi/danh-sach.html'>Dòng tiền</a><ul class='ul-sub2-menu'></ul></li></ul></li></ul></li>
