<li><a href='/khach-hang/danh-sach.html'>Khách hàng</a><ul class='ul-sub-menu'><li><a href='/khach-hang/tim-kiem.html'>Tìm kiếm</a><ul class='ul-sub2-menu'></ul></li><li><a href='/khach-hang/them-moi.html'>Thêm mới</a><ul class='ul-sub2-menu'></ul></li><li><a href='/khach-hang/danh-sach.html'>Danh sách</a><ul class='ul-sub2-menu'></ul></li><li><a href='/khach-hang/hoa-chat'>CSKH</a><ul class='ul-sub2-menu'></ul></li><li><a href='/khach-hang/dac-biet'>Đặc biệt</a><ul class='ul-sub2-menu'></ul></li><li><a href='/khach-hang/VIP'>VIP</a><ul class='ul-sub2-menu'></ul></li></ul></li>
<li><a href='javascript:void(0)'>Booking</a><ul class='ul-sub-menu'></ul></li>
<li><a href='/dich-vu/danh-sach.html'>Hóa đơn</a><ul class='ul-sub-menu'><li><a href='/timeline'>Checkin</a><ul class='ul-sub2-menu'></ul></li><li><a href='/dich-vu/pending.html'>Pending</a><ul class='ul-sub2-menu'></ul></li><li><a href='/dich-vu/danh-sach.html'>Danh sách</a><ul class='ul-sub2-menu'></ul></li></ul></li>
<li><a href='javascript:void(0)'>Báo cáo</a><ul class='ul-sub-menu'><li><a href='/admin/bao-cao/doanh-so-my-pham.html'>Mỹ phẩm</a><ul class='ul-sub2-menu'></ul></li><li><a href='/admin/bao-cao/doanh-so-dich-vu.html'>Dịch vụ</a><ul class='ul-sub2-menu'></ul></li></ul></li>
<li><a href='javascript:void(0)'>Hàng DV</a><ul class='ul-sub-menu'></ul></li>
<li><a href='javascript:void(0)'>Quản lý</a><ul class='ul-sub-menu'></ul></li>
