﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="TestAsync.aspx.cs" Inherits="_30shine.GUI.ZTest.ConsoleApp.TestAsync" Async="true" %>
<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
        <div>
        </div>
    </form>
</body>
</html>
