﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="_30shine.GUI.FrontEnd.WorkVersion.Default" MasterPageFile="~/TemplateMaster/WorkVersion.Master" %>

<asp:Content runat="server" ID="MainContent" ContentPlaceHolderID="Main"></asp:Content>

