﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="TimeWaitting.aspx.cs" Inherits="_30shine.GUI.SystemService.Ajax.TimeWaitting" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <input type="text" id="billID" />
        <input type="button" id="submit" value="submit" />
    </div>
    </form>
    <script>
        $("#submit").click(function () {
            $.ajax({
                
                url: "/GUI/SystemService/Ajax/TimeWaitting.aspx/checkTimeWaitting",
                type: "post",
                data: '{billID:' + $("#billID").val() + '}',
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                success: function (data) {
                    alert("Success");
                },
                error: function (data) {
                    alert(response.d.responseText);
                }
           
            })
        })
    </script>
</body>
</html>
