body {
    padding: 15px;
}

td, th, p, label, div {
    font-size: 14px;
    /*font-family: Roboto Condensed Regular;*/
}

.ui.calendar .ui.table tr td, .ui.calendar .ui.table tr th {
    padding: 1em;
}

.ui.calendar .ui.table tr td {
    padding-left: 2em
}

.ui.calendar .ui.table tr:first-child th {
    padding-left: 2em;
}

.ui.table {
    margin-bottom: 150px;
}

.ui.inverted.form label {
    color: #000000
}

table div.image.inline {
    width: 200px;
    height: 200px;
    background: #d0d0d0;
    margin: 20px;
    float: left;
}

.popup .column {
    float: left;
}

    .popup .column img {
        float: left;
        width: 300px;
        max-width: 300px;
        min-width: 300px;
    }


.popup {
    max-width: 100% !important;
}

.item input[type=checkbox] {
    float: left;
    margin-top: 6px;
    margin-right: 5px;
}

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.butoom {
    position: butoom
}

.hidden {
    display: none
}

.wr-search, .wr-dropdown {
    position: relative
}

    .wr-search .result, .dropdown.result {
        position: absolute;
        top: 40px;
        background: white;
        z-index: 1000;
        width: 100%;
        border: 1px solid #d0d0d0;
    }

        .wr-search .result div, .dropdown.result div {
            color: black;
        }

table td p {
    max-width: 150px; /*overflow: scroll*/
    word-wrap: break-word;
}

.margin {
    margin: 20px;
    margin: 0 auto;
    max-width: 1230px;
}

.no-padding {
    padding: 0px;
}

.wr-search .result, .dropdown.result {
    overflow-y: scroll;
    max-height: 400px;
    display: none
}

    .wr-search .result .item, .dropdown.result .item {
        padding: 5px 10px;
    }

.full-width {
    width: 100%;
}

.border-bottom {
    border-bottom: 1px #000000;
}

.pointer {
    cursor: pointer;
}

table img {
    width: 100px !important
}

body {
    font-family: 'Segoe UI';
    font-size: 12pt;
}

header h1 {
    font-size: 12pt;
    color: #fff;
    background-color: #1BA1E2;
    padding: 20px;
}

article {
    width: 100%;
    margin: auto;
    margin-top: 10px;
}

.resolve-status-error {
    width: 150px;
}

.thumbnail {
    height: 100px;
    margin: 10px;
    float: left;
}

#clear {
    display: none;
}

#result {
    border: 4px dotted #cccccc;
    display: none;
    float: right;
    margin: 15px auto;
    width: 100%;
}

.evidence-error {
    height: 100px;
    margin-bottom: 10px;
}

#waitDialog {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    background: #000000;
    opacity: 0.5;
    display: none;
}

    #waitDialog .loader {
        position: fixed;
    }


@media screen and (max-width: 1366px) {
    td, th, p, label, div {
        font-size: 12px;
    }
}

@media screen and (max-width: 1024px) {
    td, th, p, label, div {
        font-size: 10px;
    }
}
