﻿

<div>
    <script type="text/javascript">
        function extractHostname(url) {
            var hostname;

            if (url.indexOf("//") > -1) {
                hostname = url.split('/')[2];
            }
            else {
                hostname = url.split('/')[0];
            }
            
            hostname = hostname.split(':')[0];
            hostname = hostname.split('?')[0];

            const parts = hostname.split('.');
            const l = parts.length
            if (l > 1) {
                hostname = parts[l-2] + '.' + parts[l-1]; 
            }

            return hostname;
        }

        function getParentUrl() {
            var isInIframe = (parent !== window),
                parentUrl = null;

            if (isInIframe) {
                parentUrl = document.referrer;
            }

            return parentUrl;
        }

        function readCookie(name) {
            var nameEQ = name + "=";
            var ca = document.cookie.split(';');
            for (var i = 0; i < ca.length; i++) {
                var c = ca[i];
                while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                if (c.indexOf(nameEQ) == 0) return c.substring(nameEQ.length, c.length);
            }
            return null;
        }
        // createCookie('testCookie', "hihihi", 1);
        const whitelist = ['30shine.com', '30shine.org'];
        //
        var parentUrl = getParentUrl();
        console.log(parentUrl);
        //
        if (parentUrl) {
            var parentHost = extractHostname(parentUrl);

            if (!whitelist.includes(parentHost)) {
                console.log("Unauthorized domain!")
            } else {
                const authCookies = {
                    IdToken: readCookie('IdToken'),
                    AccessToken: readCookie('AccessToken'),
                    RefreshToken: readCookie('RefreshToken'),
                    UserID: readCookie('UserID')
                }
                parent.postMessage(authCookies, parentUrl);

                setInterval(() => {
                    if (authCookies.AccessToken != readCookie('AccessToken')) {
                        parent.postMessage("logout", parentUrl);
                    }
                }, 5000);
            }

            
        }
    </script>
</div>