﻿html, body {
    height: auto;
}

body {
    font-family: Roboto Condensed Regular;
    font-size: 14px;
}

    body a {
        color: #000000;
    }

#ContentWrap .sub-menu ul {
    list-style: none;
    padding-left: 0px;
    height: 100%;
}

    #ContentWrap .sub-menu ul li:hover a {
        color: green;
        text-decoration: underline;
    }

.sub-menu ul li:hover a i {
    color: green;
}

#ContentWrap .sub-menu ul li:first-child {
    font-family: Roboto Condensed Bold;
    font-size: 16px;
}

#ContentWrap .sub-menu ul li {
    margin-right: 10px;
    float: left;
}

#ContentWrap .sub-menu a {
    color: #000000;
    text-decoration: none;
    vertical-align: middle;
}

#ContentWrap table a {
    color: #000000;
}

#ContentWrap .sub-menu-boder {
    border-bottom: 1px solid #e7e7e7;
}

#ContentWrap .sub-menu-boder-low {
    border-bottom: 1px solid #f9f5f5;
}

#ContentWrap .btn-viewdata {
    width: 97px !important;
    background: #000000;
    color: #ffffff;
    border: 1px solid #D0D6D8;
    font-family: Roboto Condensed Regular;
    font-size: 14px;
    height: 31px;
    line-height: 31px;
    padding: 0 15px;
    cursor: pointer;
    width: fit-content;
}

#ContentWrap {
    min-height: 100vh;
    height: auto;
    clear: both;
}

.table-listing ul.pagination a {
    color: #000000;
}

.table-listing table {
    border-collapse: collapse !important;
}

.table-listing .page-link:focus {
    box-shadow: 0 0 0 0.2rem rgba(255,255,255,0);
}

.table-listing table thead {
    background: #ddd;
}

.table-listing .page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #000000;
    border-color: #000000;
}

.table-listing table.dataTable tr.dtrg-group td {
    background-color: #e0e0e075;
}

.table-listing table tbody tr,
.table-listing table tbody tr td,
.table-listing table thead tr th,
.table-listing table, table thead {
    border: 1px solid #bababa;
}

    .table-listing table thead tr th {
        font-family: Roboto Condensed Bold;
    }

.select2-container--default .select2-selection--single {
    height: 31px;
}

.select2-container {
    width: 180px;
}

/* PAGE LOADING */
.page-loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000000;
    background: rgba(0,0,0, 0.65) url(/Assets/images/load_ring.svg) center no-repeat;
    text-align: center;
    display: none;
}

    .page-loading p {
        color: #fcd344;
        position: relative;
        top: 50%;
        padding-top: 37px;
        line-height: 22px;
    }
/* PAGE LOADING */
.page-loading {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000000;
    background: rgba(0,0,0, 0.65) url(/Assets/images/load_ring.svg) center no-repeat;
    text-align: center;
    display: none;
}

    .page-loading p {
        color: #fcd344;
        position: relative;
        top: 50%;
        padding-top: 37px;
        line-height: 22px;
    }

.footer {
    z-index: 0 !important;
}

.add-loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff;
    z-index: 100000;
    opacity: 0.5;
    /*text-align:center justify !important;*/
    /*font-size:70px;*/
}

    .add-loading .fa-spinner {
        animation: fa-spin 2s infinite linear;
        top: 50%;
        left: 50%;
        position: fixed;
    }
